Repository cocosumo/yumecoco-monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, backend, frontend, test

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

backend:
- packages/kokoas-server/*
- packages/kokoas-server/**/*

frontend:
- packages/kokoas-client/*
- packages/kokoas-client/**/*

test:
- src/**/*.cy.ts

add addMember API
  packages/api-andpad/jest.config.js
  packages/api-andpad/src/@get/getMembers.test.ts
  packages/api-andpad/src/@get/getMembers.ts
  packages/api-andpad/src/@post/addMembers.test.ts
  packages/api-andpad/src/@post/addMembers.ts
  packages/api-andpad/src/endpoints.ts
  packages/api-chatwork/src/sendMessage.test.ts
  packages/api-chatwork/src/sendMessage.ts
  packages/types/src/common/andpad.ts
  packages/types/src/common/index.ts
Labels: none

Update addMembers.ts
  packages/api-andpad/src/@post/addMembers.ts
Labels: none

fixed type
  packages/api-andpad/src/@post/addMembers.ts
  packages/types/src/common/andpad.ts
Labels: none

fix flaky test
  packages/kokoas-e2e/cypress/e2e/project/log.cy.ts
Labels: none

fix behavior of payment fields.
  packages/kokoas-client/src/pages/projContractV2/parts/PaymentFieldGroup.tsx
Labels: frontend

add fix
  packages/kokoas-client/src/helpers/translations.ts
  packages/kokoas-client/src/pages/customer/register/parts/CustGroupShortcuts.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/FormContractSearch.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useFilteredContracts.ts
Labels: frontend

bump version
  package-lock.json
  packages/kokoas-client/package.json
Labels: repo, frontend

refactored members
  packages/api-andpad/src/@post/addMembers.ts
  packages/api-andpad/src/@post/deleteMembers.test.ts
  packages/api-andpad/src/@post/deleteMembers.ts
  packages/api-andpad/src/endpoints.ts
  packages/api-andpad/src/types.ts
  packages/libs/src/notifyAdmin.ts
  packages/types/src/common/andpad.ts
Labels: none

add delete api with test
  packages/api-andpad/src/@get/getMembers.ts
  packages/api-andpad/src/@post/addMembers.ts
  packages/api-andpad/src/@post/deleteMembers.test.ts
  packages/api-andpad/src/@post/deleteMembers.ts
  packages/api-andpad/src/types.ts
  packages/types/src/common/andpad.ts
Labels: none
