Repository cocosumo/yumecoco-monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, api, backend, frontend, rpa, customize, test

Create index.ts
  packages-automation/auto-paymentAlert/src/index.ts
Labels: rpa

add anchorString
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generateContractPdfV2.ts
Labels: backend

handle envelope-declined as voided
  packages/kokoas-server/src/handleRequest/webhookDocusign/handleTriggers.ts
Labels: backend

bump version
  package-lock.json
  packages/kokoas-client/package.json
Labels: repo, frontend

Update tsconfig.json
  packages/kokoas-e2e/tsconfig.json
Labels: none

add calculateAmount api
  packages/api-kintone/src/estimates/calculation/calcProfitRate.ts
  packages/kokoas-client/src/pages/projContractV2/api/convertContractToForm.ts
  packages/kokoas-client/src/pages/projContractV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projContractV2/fields/ProfitRate.tsx
  packages/kokoas-client/src/pages/projContractV2/form.ts
  packages/kokoas-client/src/pages/projContractV2/parts/AmountDetails.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/PaymentFieldGroup.tsx
  packages/kokoas-client/src/pages/projContractV2/schema.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/TotalAmount.tsx
  packages/libs/src/calcAfterTax.ts
  packages/libs/src/calculateAmount.test.ts
  packages/libs/src/calculateAmount.ts
  packages/libs/src/index.ts
Labels: api, frontend

add 逆算
  packages/kokoas-client/src/pages/projContractV2/fields/ControlledCurrencyInput.tsx
Labels: frontend

Update TotalAmount.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/TotalAmount.tsx
Labels: frontend

Update calculateAmount.ts
  packages/libs/src/calculateAmount.ts
Labels: none

refactored calculation
  packages/kokoas-client/src/pages/projContractV2/api/convertContractToForm.test.ts
  packages/kokoas-client/src/pages/projContractV2/api/convertContractToForm.ts
  packages/libs/src/calcAfterTax.ts
  packages/libs/src/calcBeforeTax.ts
  packages/libs/src/calculateAmount.ts
Labels: frontend

add taxrate
  packages/kokoas-client/src/pages/projContractV2/api/convertContractToForm.ts
  packages/kokoas-client/src/pages/projContractV2/fields/TaxRate.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/TotalAmount.tsx
  packages/libs/src/calculateAmount.ts
Labels: frontend

add costPrice
  packages/kokoas-client/src/pages/projContractV2/api/convertContractToForm.ts
  packages/kokoas-client/src/pages/projContractV2/fields/ControlledCurrencyInput.tsx
  packages/kokoas-client/src/pages/projContractV2/fields/ProfitRate.tsx
  packages/kokoas-client/src/pages/projContractV2/form.ts
  packages/kokoas-client/src/pages/projContractV2/schema.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/TotalAmount.tsx
  packages/libs/src/calculateAmount.ts
Labels: frontend

add tax amount
  packages/kokoas-client/src/pages/projContractV2/FormInput.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/AmountDetails.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/TaxAmount.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/TotalAmount.tsx
Labels: frontend

Update calcProfitRate.ts
  packages/libs/src/calcProfitRate.ts
Labels: none

remove console log
  packages/kokoas-client/src/pages/projContractV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projContractV2/fields/ControlledCurrencyInput.tsx
Labels: frontend

Update TaxRate.tsx
  packages/kokoas-client/src/pages/projContractV2/fields/TaxRate.tsx
Labels: frontend

Update ControlledCurrencyInput.tsx
  packages/kokoas-client/src/pages/projContractV2/fields/ControlledCurrencyInput.tsx
Labels: frontend

corrected error
  package-lock.json
  packages/kokoas-client/src/pages/projContracts/parts/paymentSchedule/PaymentFieldAmt.tsx
Labels: repo, frontend

Update package-lock.json
  package-lock.json
Labels: repo

印 will be generated on wetink contract only
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generateContractPdfV2.test.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generateContractPdfV2.ts
Labels: backend

add test
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generateContractPdfV2.test.ts
Labels: backend

Update getContractCheckers.test.ts
  packages/api-kintone/src/employees/getContractCheckers.test.ts
Labels: api

add subAccounting as additional cc
  packages/api-kintone/src/employees/getContractCheckers.test.ts
  packages/api-kintone/src/employees/getContractCheckers.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getContractDataV2.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/makeEnvelopeV2.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/processContractV2.test.ts
Labels: api, backend

updated frontend sign flow
  packages/kokoas-client/src/pages/projContractV2/parts/ElectronicFlow.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/WetInkFlow.tsx
Labels: frontend

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

api:
- packages/api-*/*
- packages/api-*/**/*

backend:
- packages/kokoas-server/*
- packages/kokoas-server/**/*

frontend:
- packages/kokoas-client/*
- packages/kokoas-client/**/*

rpa:
- packages-automation/*
- packages-automation/**/*

customize:
- packages-kintone-customize/*
- packages-kintone-customize/**/*

test:
- src/**/*.cy.ts
- src/**/*.test.ts
