Repository cocosumo/yumecoco-monorepo, pull requests merged in 2023-09, with the labels that each got.

#630 Mapping of data for 原価管理表
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/purchases/useColumns.tsx
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV4.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV4.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/convertMonthlyProcurement.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/convertMonthlyProcurementV2.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/convertMonthlyProcurementV3.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/convertMonthlyProcurementV3.ts
  packages/types/src/common/andpad.order.budget.ts
  packages/types/src/common/costManagement.tsx
Labels: frontend, backend

#631 K161-顧客一覧の詳細の契約に「返金」と「減額」の情報を表示してほしい
  packages/kokoas-client/src/pages/projSearch/sections/result/details/contractDetails/PaymentInfo.tsx
Labels: frontend

#632 K162 原価管理用に指定の箇所に「税込」というラベルを見たい
  package-lock.json
  packages/kokoas-client/package.json
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/SummaryDetails.tsx
Labels: repo, frontend

#633 K164-原価管理表に発注が出ないものがある
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/convertMonthlyProcurementV3.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/convertMonthlyProcurementV3.ts
Labels: backend

#634 K165-原価管理表に「入金」が完了しているのに、未入金が出る
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/SummaryInfo.tsx
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV4.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV4.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/convertMonthlyProcurementV3.test.ts
Labels: frontend, backend

#635 K166-原価管理表に削除された発注でも反映されてしまう-ras
  packages/api-kintone/src/andpadProcurement/getAndpadProcurementByAndpadProjId.test.ts
  packages/api-kintone/src/andpadProcurement/getAndpadProcurementByAndpadProjId.ts
Labels: api

#636 K167-発注金額のデータ元を修正しました。
  packages/api-kintone/src/projects/getProjById.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/createCostMngXlsx.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/createCostMngXlsx.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/createOrderAmountPerMonth.ts
Labels: backend, api

#637 K168-原価管理表でゆめてつAGは空又は「ここすも」になっている場合、利益配分は0%にします
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV4.ts
Labels: backend

#638 K119-契約一覧に返金と減額と補助金を追加しました
  packages/kokoas-client/src/helpers/translations.ts
  packages/kokoas-client/src/pages/projContractSearchV2/helpers/itemsSorter.ts
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useFilteredContracts.ts
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultsTBody.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultsTHead.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/TRowLayout.tsx
Labels: frontend

#639 K170 保存の修正
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
Labels: frontend

#640 K169-ボタンのテクストがはみ出さないように修正しました。
  packages/kokoas-client/src/pages/projSearch/sections/result/details/contractDetails/Files.tsx
Labels: frontend

#641 K172-Made Project Info editable if existing contract is only unprocessed
  packages/kokoas-client/src/pages/projRegisterV2/hooks/useResolveParams.ts
Labels: frontend

#644 removed test
  packages/kokoas-client/src/pages/projSearch/sections/result/details/DetailsDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/CostMgtDetails.tsx
Labels: frontend

#558 557-kintoneの入金リマインダーアプリを更新します
  package-lock.json
  packages-automation/auto-paymentAlert/config.ts
  packages-automation/auto-paymentAlert/main.ts
  packages-automation/auto-paymentAlert/package.json
  packages-automation/auto-paymentAlert/readme.md
  packages-automation/auto-paymentAlert/src/contracts/calcAlertDate.ts
  packages-automation/auto-paymentAlert/src/contracts/convertContractsToReminder.test.ts
  packages-automation/auto-paymentAlert/src/contracts/convertContractsToReminder.ts
  packages-automation/auto-paymentAlert/src/contracts/extractUpdatedRecords.test.ts
  packages-automation/auto-paymentAlert/src/contracts/extractUpdatedRecords.ts
  packages-automation/auto-paymentAlert/src/contracts/postContractToReminderApp.ts
  packages-automation/auto-paymentAlert/src/updatePaymentReminder.ts
  packages-automation/auto-paymentAlert/tsconfig.json
  packages/api-kintone/src/@users/getUser.ts
  packages/api-kintone/src/@users/getUsers.test.ts
  packages/api-kintone/src/@users/getUsers.ts
  packages/api-kintone/src/andpadPayments/config.ts
  packages/api-kintone/src/andpadPayments/getAllAndpadPayments.test.ts
  packages/api-kintone/src/andpadPayments/getAllAndpadPayments.ts
  packages/api-kintone/src/andpadPayments/getAndpadPaymentsBySystemId.test.ts
  packages/api-kintone/src/andpadPayments/getAndpadPaymentsBySystemId.ts
  packages/api-kintone/src/andpadPayments/index.ts
  packages/api-kintone/src/common/addAllRecords.ts
  packages/api-kintone/src/contracts/getContractsByUpdateDate.test.ts
  packages/api-kintone/src/contracts/getContractsByUpdateDate.ts
  packages/api-kintone/src/contracts/index.ts
  packages/api-kintone/src/index.ts
  packages/api-kintone/src/paymentReminder/addPaymentReminder.ts
  packages/api-kintone/src/paymentReminder/config.ts
  packages/api-kintone/src/paymentReminder/getAllPaymentReminder.test.ts
  packages/api-kintone/src/paymentReminder/getAllPaymentReminder.ts
  packages/api-kintone/src/paymentReminder/index.ts
  packages/api-kintone/src/paymentReminder/updatePaymentReminder.ts
  packages/config/src/appIds.ts
  packages/types/src/dbKintone.ts
  packages/types/src/dtsgen/db.paymentReminder.d.ts
  packages/types/src/dtsgen/db.projEstimates.d.ts
Labels: repo, api, rpa

#645 hotfix-K181-完工日のフィールターしても、ヒットしない
  packages/kokoas-client/src/pages/projSearch/hooks/useSearchResult.ts
Labels: frontend

#646 K176-カスタマイズ-年度のレポートが印刷したい。
  package-lock.json
  packages-kintone-customize/app-229-contracts/.eslintignore
  packages-kintone-customize/app-229-contracts/jsedit/calcFontSize.ts
  packages-kintone-customize/app-229-contracts/jsedit/fee-pullDown.ts
  packages-kintone-customize/app-229-contracts/jsedit/getContractRecords.ts
  packages-kintone-customize/app-229-contracts/jsedit/getFirstAndLastDay.ts
  packages-kintone-customize/app-229-contracts/jsedit/getWeekDates.ts
  packages-kintone-customize/app-229-contracts/jsedit/highlightRowsByWeek.ts
  packages-kintone-customize/app-229-contracts/jsedit/initializeContainer.ts
  packages-kintone-customize/app-229-contracts/jsedit/refreshResult.ts
  packages-kintone-customize/app-229-contracts/jsedit/showContractRecords.ts
  packages-kintone-customize/app-229-contracts/jsedit/updateHeaderTitle.ts
  packages-kintone-customize/app-229-contracts/jsedit/yumetetsu_syokairyou.css
  packages-kintone-customize/app-229-contracts/kintone.local.json
  packages-kintone-customize/app-229-contracts/kintone.prod.json
  packages-kintone-customize/app-229-contracts/package.json
  packages-kintone-customize/app-229-contracts/readme.md
  packages-kintone-customize/app-229-contracts/scripts/npm-start.js
  packages-kintone-customize/app-229-contracts/src/app.ts
  packages-kintone-customize/app-229-contracts/src/constants.ts
  packages-kintone-customize/app-229-contracts/src/helpers/formatYearMonth.ts
  packages-kintone-customize/app-229-contracts/src/helpers/getFiscalMonths.ts
  packages-kintone-customize/app-229-contracts/src/helpers/getFiscalYear.ts
  packages-kintone-customize/app-229-contracts/src/helpers/getLatestMonths.ts
  packages-kintone-customize/app-229-contracts/src/helpers/getTextWidth.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/indexShow.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/FormCumulative.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/components/FitText.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/form.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/hooks/useContracts.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/hooks/useContractsByFiscalYear.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/hooks/useLatestMonths.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/hooks/useStoreNameById.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/hooks/useStores.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/hooks/useTypedRHF.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/renderCumulative.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/schema.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/filter/Filter.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/filter/SelectMonths.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/filter/SelectStores.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/filter/SelectYear.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/Results.module.css
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/Results.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/fiscalMonths/FiscalMonths.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/fiscalMonths/fiscalMonthTable/FiscalMonthTable.module.css
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/fiscalMonths/fiscalMonthTable/FiscalMonthTable.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/fiscalMonths/fiscalMonthTable/TableRowLayout.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/fiscalYearResult/FiscalYearResult.module.css
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/fiscalYearResult/FiscalYearResult.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/fiscalYearResult/TableRowLayout.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/toolbar/PrintButton.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/toolbar/Toolbar.tsx
  packages-kintone-customize/app-229-contracts/tsconfig.json
  packages-kintone-customize/app-229-contracts/types/kintone.data.d.ts
  packages-kintone-customize/app-229-contracts/webpack.config.js
Labels: repo, customize

#647 入金リマインダーアプリのリファクタリング
  packages-automation/auto-paymentAlert/config.ts
  packages-automation/auto-paymentAlert/package.json
  packages-automation/auto-paymentAlert/settings.ts
  packages-automation/auto-paymentAlert/src/api-kintone/addPaymentReminder.ts
  packages-automation/auto-paymentAlert/src/api-kintone/config.ts
  packages-automation/auto-paymentAlert/src/api-kintone/getAllPaymentReminder.test.ts
  packages-automation/auto-paymentAlert/src/api-kintone/getAllPaymentReminder.ts
  packages-automation/auto-paymentAlert/src/api-kintone/index.ts
  packages-automation/auto-paymentAlert/src/api-kintone/updatePaymentReminder.ts
  packages-automation/auto-paymentAlert/src/contracts/convertContractsToReminder.test.ts
  packages-automation/auto-paymentAlert/src/contracts/convertContractsToReminder.ts
  packages-automation/auto-paymentAlert/src/dbKintone.ts
  packages-automation/auto-paymentAlert/src/updatePaymentReminder.ts
  packages-automation/auto-paymentAlert/types/kintone.data.d.ts
  packages/api-kintone/src/common/index.ts
  packages/api-kintone/src/index.ts
  packages/api-kintone/src/paymentReminder/config.ts
  packages/config/src/appIds.ts
  packages/types/src/dbKintone.ts
Labels: api, rpa

#648 K183-customize-契約一覧表の「ゆめてつ紹介料」に全店舗の印刷をしたい
  package-lock.json
  packages-kintone-customize/app-229-contracts/jest.config.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/calcFontSize.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/formatCurrency.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getCachedStores.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getContractRecords.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getContractRecordsGroupByStore.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getFirstAndLastDay.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getFormValues.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getRootElement.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getWeekDates.test.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getWeekDates.ts
  packages-kintone-customize/app-229-contracts/jsedit/fee-pullDown.ts
  packages-kintone-customize/app-229-contracts/jsedit/getContractRecords.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createPrintArea.css
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createPrintArea.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/createPrintButton.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/createSelect.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/createSelectMonth.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/createSelectStore.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/createSelectWeek.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/createSelectYear.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/index.css
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/index.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/index.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/removeElements.ts
  packages-kintone-customize/app-229-contracts/jsedit/initializeContainer.ts
  packages-kintone-customize/app-229-contracts/jsedit/main.css
  packages-kintone-customize/app-229-contracts/jsedit/main.ts
  packages-kintone-customize/app-229-contracts/jsedit/refreshResult.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/createHightlightOptions.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/refreshResult.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createContractList/addTriggers.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createContractList/createTableContainer.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createContractList/createTableContents.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createContractList/highlightRowsByWeek.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createContractList/index.css
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createContractList/index.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createDateInit.css
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createDateInit.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createHeaderTitle.css
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createHeaderTitle.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createStoreContainer.css
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createStoreContainer.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createWeeklyResult/createTableContainer.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createWeeklyResult/createTableContents.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createWeeklyResult/index.css
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createWeeklyResult/index.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/showResultByStore.ts
  packages-kintone-customize/app-229-contracts/jsedit/showContractRecords.ts
  packages-kintone-customize/app-229-contracts/jsedit/triggers/button.ts
  packages-kintone-customize/app-229-contracts/jsedit/triggers/select.ts
  packages-kintone-customize/app-229-contracts/jsedit/updateHeaderTitle.ts
  packages-kintone-customize/app-229-contracts/jsedit/yumetetsu_syokairyou.css
  packages-kintone-customize/app-229-contracts/package.json
  packages-kintone-customize/app-229-contracts/src/app.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/fiscalMonths/fiscalMonthTable/FiscalMonthTable.module.css
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/fiscalMonths/fiscalMonthTable/FiscalMonthTable.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/fiscalMonths/fiscalMonthTable/TableRowLayout.tsx
Labels: repo, customize

#662 fix-kintone/rest-api-client バージョンアップ対応
  packages-automation/auto-paymentAlert/src/api-kintone/updatePaymentReminder.ts
  packages/api-kintone/src/@app/getApp.test.ts
  packages/api-kintone/src/@app/helpers/getLookUp.test.ts
  packages/api-kintone/src/@app/helpers/getLookUp.ts
  packages/api-kintone/src/@app/helpers/removeLookUp.test.ts
  packages/api-kintone/src/@app/helpers/removeLookUp.ts
  packages/api-kintone/src/common/saveRecordByUpdateKey.ts
  packages/api-kintone/src/common/updateRelated.ts
  packages/api-kintone/src/invoice/updateInvoices.ts
  packages/types/src/utils/KtClientParam.ts
Labels: api, rpa

#659 店長用の入金アラートを準備します
  packages-automation/auto-paymentAlert/src/createPaymentAlert.ts
  packages-automation/auto-paymentAlert/src/helpers/convertContractsToJson.test.ts
  packages-automation/auto-paymentAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-paymentAlert/src/notifyChatwork.ts
  packages-automation/auto-paymentAlert/types/kintone.data.d.ts
  packages-automation/auto-paymentAlert/types/paymentReminder.ts
Labels: rpa

#664 会議資料用 店舗ソート完了
  package-lock.json
  packages-kintone-customize/app-229-contracts/jsedit/api/getAllStoresMeeting.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getCachedStores.ts
Labels: repo, customize

#649 K185-react-imaskをreact-number-formatに移行しました。
  package-lock.json
  package.json
  packages/kokoas-client/src/pages/custGroup/sections/customersInput/address/postal/MaskedPostal.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectLocation/postalField/AddressByPostal.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectLocation/postalField/MaskedPostal.tsx
Labels: repo, frontend

#654 入金アラート用のjsonファイルを生成します
  packages-automation/auto-paymentAlert/main.ts
  packages-automation/auto-paymentAlert/src/api-kintone/getPaymentRemindersByAlertDate.test.ts
  packages-automation/auto-paymentAlert/src/api-kintone/getPaymentRemindersByAlertDate.ts
  packages-automation/auto-paymentAlert/src/contracts/convertContractsToReminder.test.ts
  packages-automation/auto-paymentAlert/src/contracts/convertContractsToReminder.ts
  packages-automation/auto-paymentAlert/src/contracts/extractUpdatedRecords.test.ts
  packages-automation/auto-paymentAlert/src/contracts/extractUpdatedRecords.ts
  packages-automation/auto-paymentAlert/src/contracts/postContractToReminderApp.ts
  packages-automation/auto-paymentAlert/src/createPaymentAlert.test.ts
  packages-automation/auto-paymentAlert/src/createPaymentAlert.ts
  packages-automation/auto-paymentAlert/src/helpers/calcAlertDate.test.ts
  packages-automation/auto-paymentAlert/src/helpers/calcAlertDate.ts
  packages-automation/auto-paymentAlert/src/helpers/convertContractsToJson.test.ts
  packages-automation/auto-paymentAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToJson.test.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-paymentAlert/src/helpers/filterContractsByTargetProjType.test.ts
  packages-automation/auto-paymentAlert/src/helpers/filterContractsByTargetProjType.ts
  packages-automation/auto-paymentAlert/src/helpers/filterContractsToAlertTarget.test.ts
  packages-automation/auto-paymentAlert/src/helpers/filterContractsToAlertTarget.ts
  packages-automation/auto-paymentAlert/src/helpers/getEarliestDateOfContract.test.ts
  packages-automation/auto-paymentAlert/src/helpers/getEarliestDateOfContract.ts
  packages-automation/auto-paymentAlert/src/helpers/notificationRecipientsSet.ts
  packages-automation/auto-paymentAlert/src/notifyChatwork.ts
  packages-automation/auto-paymentAlert/src/paymentReminder.ts
  packages-automation/auto-paymentAlert/src/updatePaymentReminder.ts
  packages-automation/auto-paymentAlert/types/kintone.data.d.ts
  packages-automation/auto-paymentAlert/types/paymentReminder.ts
Labels: rpa

#663 入金アラートを通知する
  .env.example
  packages-automation/auto-paymentAlert/config.ts
  packages-automation/auto-paymentAlert/src/createPaymentAlert.ts
  packages-automation/auto-paymentAlert/src/helpers/convertContractsToJson.test.ts
  packages-automation/auto-paymentAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-paymentAlert/src/helpers/notificationRecipientsSet.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/chatworkRoomIdSetting.test.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/chatworkRoomIdSetting.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/generateMessage.test.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/generateMessage.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/generateMessageForManager.test.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/generateMessageForManager.ts
  packages-automation/auto-paymentAlert/src/notifyChatwork.ts
  packages-automation/auto-paymentAlert/src/notifyPaymentAlertToChatwork.test.ts
  packages-automation/auto-paymentAlert/src/notifyPaymentAlertToChatwork.ts
  packages-automation/auto-paymentAlert/src/paymentReminder.ts
  packages-automation/auto-paymentAlert/types/kintone.data.d.ts
  packages-automation/auto-paymentAlert/types/paymentReminder.ts
  packages/api-kintone/src/employees/getCocoAreaMngrByTerritory.test.ts
  packages/api-kintone/src/employees/getCocoAreaMngrByTerritory.ts
  packages/config/src/chatworkRooms.ts
  packages/types/src/dtsgen/db.employees.d.ts
  packages/types/src/dtsgen/db.stores.d.ts
Labels: api, rpa

#680 K196-工事登録に金融機関を追加しました。
  packages/kokoas-client/src/pages/projRegisterV2/api/convertProjToForm.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/fieldMapJa.ts
  packages/kokoas-client/src/pages/projRegisterV2/form.ts
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/prospect/Prospect.tsx
  packages/types/src/dtsgen/db.projects.d.ts
Labels: frontend

#681 K47-連絡先名を追加しました。
  packages/api-kintone/src/customers/helper/getContactByType.ts
  packages/kokoas-client/src/pages/custGroup/api/convertToForm.ts
  packages/kokoas-client/src/pages/custGroup/api/formToDBCustomers.ts
  packages/kokoas-client/src/pages/custGroup/form.ts
  packages/kokoas-client/src/pages/custGroup/schema.ts
  packages/kokoas-client/src/pages/custGroup/sections/customersInput/contactInput/ContactInput.tsx
  packages/kokoas-client/src/pages/custGroup/sections/customersInput/contactInput/ContactName.tsx
  packages/types/src/dtsgen/db.customers.d.ts
Labels: frontend, api

#679 K174-顧客一覧の削除案件の検索ボタンを右側に配置してほしい
  packages/kokoas-client/src/pages/projSearch/sections/filter/Filter.tsx
  packages/kokoas-client/src/pages/projSearch/sections/filter/filterForm/DeletedProjectsToggle.tsx
  packages/kokoas-client/src/pages/projSearch/sections/filter/filterForm/FilterDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/filter/filterForm/IncludeDeleted.tsx
Labels: frontend

#674 K98-顧客一覧の詳細の契約タブにカテゴリを追加しました。
  packages/kokoas-client/src/pages/projSearch/sections/result/details/contractDetails/ContractInfo.tsx
Labels: frontend

#673 リマインダーレコードの登録処理を追加
  packages-automation/auto-paymentAlert/config.ts
  packages-automation/auto-paymentAlert/src/api-kintone/addPaymentReminder.test.ts
  packages-automation/auto-paymentAlert/src/api-kintone/addPaymentReminder.ts
  packages-automation/auto-paymentAlert/src/api-kintone/config.ts
  packages-automation/auto-paymentAlert/src/api-kintone/updatePaymentReminder.ts
  packages-automation/auto-paymentAlert/src/createPaymentAlert.ts
  packages-automation/auto-paymentAlert/src/dbKintone.ts
  packages-automation/auto-paymentAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToKintone.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-paymentAlert/src/helpers/registerReminders.ts
  packages-automation/auto-paymentAlert/src/helpers/updateReportedReminders.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/chatworkRoomIdSetting.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/generateMessage.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/generateMessageForManager.ts
  packages-automation/auto-paymentAlert/src/paymentReminder.ts
  packages-automation/auto-paymentAlert/types/paymentReminder.ts
  packages/api-kintone/src/common/addRecords.test.ts
  packages/api-kintone/src/common/addRecords.ts
  packages/api-kintone/src/common/index.ts
Labels: api, rpa

#682 入金リマインダーの処理実装漏れを対応します
  packages-automation/auto-paymentAlert/config.ts
  packages-automation/auto-paymentAlert/src/api-kintone/addPaymentReminder.ts
  packages-automation/auto-paymentAlert/src/api-kintone/config.ts
  packages-automation/auto-paymentAlert/src/api-kintone/getAllPaymentReminder.ts
  packages-automation/auto-paymentAlert/src/api-kintone/getPaymentRemindersByAlertDate.ts
  packages-automation/auto-paymentAlert/src/api-kintone/updatePaymentReminder.ts
  packages-automation/auto-paymentAlert/src/createPaymentAlert.ts
  packages-automation/auto-paymentAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToJson.test.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToKintone.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-paymentAlert/src/helpers/updateReportedReminders.ts
  packages-automation/auto-paymentAlert/src/notifyPaymentAlertToChatwork.ts
  packages-automation/auto-paymentAlert/src/paymentReminder.ts
  packages-automation/auto-paymentAlert/types/kintone.data.d.ts
  packages-automation/auto-paymentAlert/types/paymentReminder.ts
Labels: rpa

#684 入金リマインダーアプリのアップデートキーを契約書番号から工事番号へ変更します
  packages-automation/auto-paymentAlert/src/api-kintone/index.ts
  packages-automation/auto-paymentAlert/src/createPaymentAlert.ts
  packages-automation/auto-paymentAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-paymentAlert/src/helpers/filterContractsToAlertTarget.test.ts
  packages-automation/auto-paymentAlert/src/helpers/filterContractsToAlertTarget.ts
Labels: rpa
