Repository cocosumo/yumecoco-monorepo, pull requests merged in 2023-10, with the labels that each got.

#689 入金確認リマインダーアプリのページカスタマイズを実装します
  package-lock.json
  packages-automation/auto-paymentAlert/types/kintone.data.d.ts
  packages-kintone-customize/app-261-paymentReminder/.eslintignore
  packages-kintone-customize/app-261-paymentReminder/babel.config.json
  packages-kintone-customize/app-261-paymentReminder/kintone.local.json
  packages-kintone-customize/app-261-paymentReminder/kintone.prod.json
  packages-kintone-customize/app-261-paymentReminder/package.json
  packages-kintone-customize/app-261-paymentReminder/src/app.ts
  packages-kintone-customize/app-261-paymentReminder/src/components/ReminderDateAnnouce.tsx
  packages-kintone-customize/app-261-paymentReminder/src/config.ts
  packages-kintone-customize/app-261-paymentReminder/src/eventHandlers/onChangeRDHandler.tsx
  packages-kintone-customize/app-261-paymentReminder/src/eventHandlers/onDetailShowHandler.ts
  packages-kintone-customize/app-261-paymentReminder/src/eventHandlers/onEditHandler.ts
  packages-kintone-customize/app-261-paymentReminder/src/helpers/calcReminderDate.test.ts
  packages-kintone-customize/app-261-paymentReminder/src/helpers/calcReminderDate.ts
  packages-kintone-customize/app-261-paymentReminder/src/types/types.ts
  packages-kintone-customize/app-261-paymentReminder/tsconfig.json
  packages-kintone-customize/app-261-paymentReminder/webpack.config.js
Labels: repo, customize, rpa

#690 入金確認リマインダーの新規作成用カスタマイズを設定します
  packages-kintone-customize/app-261-paymentReminder/src/app.ts
  packages-kintone-customize/app-261-paymentReminder/src/eventHandlers/onEditOrCreateHandler.ts
Labels: customize

#691 hotfix-K206-契約済で工事種別が空だとバリデーションのエラーが出ます
  packages/kokoas-client/src/pages/projRegisterV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/OtherProjType.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/ProjectInformation.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/ProjectType.tsx
Labels: frontend

#696 K171-工事内容の削除の外見を見直しました
  packages/kokoas-client/src/pages/projRegisterV2/Contents.tsx
  packages/kokoas-client/src/pages/projRegisterV2/FormProject.tsx
  packages/kokoas-client/src/pages/projRegisterV2/hooks/useUpdateCancelStatus.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/cancelStatus.tsx/CancelStatus.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/cancelStatus/CancelStatus.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/formActions/FormActions.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectLocation/copyLocation/CopyCustLocation.tsx
Labels: frontend

#702 K207 社用車予約アプリの通知先追加
  .gitignore
  packages-kintone-customize/app-91-carReservation/.env-example
  packages-kintone-customize/app-91-carReservation/.env.example
  packages-kintone-customize/app-91-carReservation/.eslintignore
  packages-kintone-customize/app-91-carReservation/app-91-carReservation.code-workspace
  packages-kintone-customize/app-91-carReservation/jest.config.js
  packages-kintone-customize/app-91-carReservation/package.json
  packages-kintone-customize/app-91-carReservation/src/api/sendEmail.test.ts
  packages-kintone-customize/app-91-carReservation/src/api/sendEmail.ts
  packages-kintone-customize/app-91-carReservation/src/config.ts
  packages-kintone-customize/app-91-carReservation/src/types/kintone.data.d.ts
  packages-kintone-customize/app-91-carReservation/tsconfig.json
  packages-kintone-customize/app-91-carReservation/webpack.config.dev.js
  packages-kintone-customize/app-91-carReservation/webpack.config.prod.js
Labels: customize

#703 K209-会議資料用の契約一覧表にエリア別の合計を載せたい
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderContractList/hooks/useTotalResult.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderContractList/sections/result/Summary/prospect/ProspectBody.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderContractList/sections/result/Summary/totalResult/TerritorySummary.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderContractList/sections/result/Summary/totalResult/TotalResult.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderContractList/sections/result/Summary/totalResult/TotalResultContainer.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderContractList/sections/result/Summary/totalResult/ValueWithUnit.tsx
  packages-kintone-customize/app-229-contracts/types/kintone.data.d.ts
Labels: customize

#692 入金予定日と再通知日からリマインダー設定ができるようにします
  packages-kintone-customize/app-261-paymentReminder/src/app.ts
  packages-kintone-customize/app-261-paymentReminder/src/components/PreviewMessage.tsx
  packages-kintone-customize/app-261-paymentReminder/src/components/ReminderDateAnnouce.tsx
  packages-kintone-customize/app-261-paymentReminder/src/config.ts
  packages-kintone-customize/app-261-paymentReminder/src/eventHandlers/onChangeRDHandler.tsx
  packages-kintone-customize/app-261-paymentReminder/src/helpers/calcReminderDate.ts
Labels: customize

#710 入金確認のアラートメッセージ内容を修正します
  packages-automation/auto-paymentAlert/src/createPaymentAlert.test.ts
  packages-automation/auto-paymentAlert/src/createPaymentAlert.ts
  packages-automation/auto-paymentAlert/src/createPaymentAlertFromContracts.ts
  packages-automation/auto-paymentAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToKintone.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-paymentAlert/src/helpers/getYumeAgNames.test.ts
  packages-automation/auto-paymentAlert/src/helpers/getYumeAgNames.ts
  packages-automation/auto-paymentAlert/src/helpers/updateReportedReminders.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/generateMessage.ts
  packages-automation/auto-paymentAlert/types/kintone.data.d.ts
  packages-automation/auto-paymentAlert/types/paymentReminder.ts
  packages-kintone-customize/app-261-paymentReminder/src/components/PreviewMessage.tsx
  packages-kintone-customize/app-261-paymentReminder/src/config.ts
  packages-kintone-customize/app-261-paymentReminder/src/eventHandlers/onChangeRDHandler.tsx
  packages-kintone-customize/app-261-paymentReminder/src/helpers/calcReminderDate.test.ts
  packages-kintone-customize/app-261-paymentReminder/src/helpers/calcReminderDate.ts
Labels: customize, rpa

#707 K208-工事内容 Add Persistent Fields
  package-lock.json
  packages-kintone-customize/app-261-paymentReminder/src/helpers/calcReminderDate.test.ts
  packages/api-kintone/src/employees/helpers/resolveRoles.ts
  packages/api-kintone/src/projTypes/getProjTypes.ts
  packages/kokoas-client/src/components/ui/selects/EmployeesSelector/EmployeeSelector.tsx
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useContractsByProjIdV2.ts
  packages/kokoas-client/src/hooksQuery/useStoreById.ts
  packages/kokoas-client/src/lib/zodErrorMapJA.ts
  packages/kokoas-client/src/pages/projRegisterV2/FormProject.tsx
  packages/kokoas-client/src/pages/projRegisterV2/api/convertCommRateByEmployee.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/convertCommRateByRole.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/convertCustGroupAgentsToForm.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/convertCustGroupToForm.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/convertProjAgentsToForm.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/convertProjToForm.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/fieldMapJa.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/getPersistentFields.ts
  packages/kokoas-client/src/pages/projRegisterV2/fields/ControlledTextField.tsx
  packages/kokoas-client/src/pages/projRegisterV2/form.ts
  packages/kokoas-client/src/pages/projRegisterV2/hooks/useChangeCommRate.ts
  packages/kokoas-client/src/pages/projRegisterV2/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/customersSummary/CustomerSummary.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/formActions/FormActions.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/CocoAGSelect.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/CocoAGSelectSet.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/CocoConstSelect.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/CocoConstSelectSet.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/CommisionRate.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/ControlledEmpSelectField.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/ControlledEmployeeSelector.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/EmployeeSelectFields.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/OfficersInput.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/Store.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/YumeAGSelect.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/YumeAGSelectSet.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/ProjectType.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/projTypeHelp/PTCommisionRate.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/projTypeHelp/PTProfitRate.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/projTypeHelp/ProjTypeHelp.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/projTypeHelp/ProjTypeHelpContent.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/projTypeHelp/ptCommRateByEmployee/Content.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/projTypeHelp/ptCommRateByEmployee/PTCommRateByEmployee.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/projTypeHelp/ptCommRateByRole/Content.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/projTypeHelp/ptCommRateByRole/PTCommRateByRole.tsx
  packages/types/src/common/employee.ts
  packages/types/src/dtsgen/db.employees.d.ts
  packages/types/src/dtsgen/db.projTypes.d.ts
  packages/types/src/dtsgen/db.projects.d.ts
Labels: repo, frontend, api, customize

#715 K201-update-原価管理表-ras
  .eslintrc.cjs
  package-lock.json
  package.json
  packages/api-andpad/src/@get/getBudgetBySystemId.test.ts
  packages/api-andpad/src/@get/getBudgetBySystemId.ts
  packages/api-kintone/src/andpadProcurement/getAndpadProcurementByAndpadProjId.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/getPersistentFields.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjId.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV3.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV4.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV4.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/convertMonthlyProcurementV3.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/resolveCommissionRate.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/summarizeSuppliers.test.ts
Labels: repo, frontend, backend, api

#721 hotfix-ホームの更新情報にタイトルが空の依頼も表示される
  packages/api-kintone/src/ticketSystem/getCompletedTickets.ts
Labels: api

#716 システムIDの取得処理を修正します
  packages-automation/auto-paymentAlert/src/createPaymentAlertFromContracts.test.ts
  packages-automation/auto-paymentAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-paymentAlert/src/helpers/filterContractsToAlertTarget.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/generateMessage.ts
Labels: rpa

#722 K182-顧客一覧を「引き渡し日」と「支払い日」の絞りフィールドを追加しました。
  packages/kokoas-client/src/pages/projSearch/form.ts
  packages/kokoas-client/src/pages/projSearch/hooks/useParseQuery.ts
  packages/kokoas-client/src/pages/projSearch/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/projSearch/schema.ts
  packages/kokoas-client/src/pages/projSearch/sections/filter/filterForm/FilterDialog.tsx
Labels: frontend

#724 K218-ゆめてす紹介料率を原価管理表に表示するように
  packages/kokoas-client/src/pages/projRegisterV2/api/getPersistentFields.ts
  packages/kokoas-client/src/pages/projRegisterV2/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/projTypeHelp/PTProfitRate.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/SummaryDetails.tsx
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV4.ts
  packages/libs/src/index.ts
  packages/libs/src/resolveCommissionRate.ts
Labels: frontend, backend

#726 hotfix-フォールバック情報を追加しました。
  packages/api-kintone/src/custgroups/helpers/getAgentNamesByType.ts
  packages/api-kintone/src/projects/helpers/getAgentNamesByType.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getContractDataV2.ts
Labels: backend, api

#667 会議資料用 見込み一覧作成 高橋
  packages-kintone-customize/app-229-contracts/src/view/indexShow/indexShow.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/prospect_6343185/createContents.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/prospect_6343185/createTable.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/prospect_6343185/displayResult.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/prospect_6343185/getGroupByStore.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/prospect_6343185/groupByProjType.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/prospect_6343185/prospect.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/prospect_6343185/sheet.css
  packages-kintone-customize/app-229-contracts/src/view/indexShow/prospect_6343185/sheet.html
Labels: customize

#729 K220-「工事」画面に「不動産決済」を追加しました。
  packages/kokoas-client/src/pages/projRegisterV2/api/convertProjToForm.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projRegisterV2/form.ts
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/prospect/EstatePurchaseDate.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/prospect/Prospect.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/prospect/RealEstateStatus.tsx
  packages/types/src/common/record.ts
  packages/types/src/dtsgen/db.projTypes.d.ts
  packages/types/src/dtsgen/db.projects.d.ts
Labels: frontend

#730 K221-不動産決済日」は「不動産決済」の設定により表示が変わる
  packages-kintone-customize/app-229-contracts/src/view/indexShow/prospect_6343185/displayResult.ts
Labels: customize

#731 K222-顧客一覧に最終請求日を追加しました。
  packages/kokoas-client/src/pages/projSearch/form.ts
  packages/kokoas-client/src/pages/projSearch/hooks/useParseQuery.ts
  packages/kokoas-client/src/pages/projSearch/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/projSearch/schema.ts
  packages/kokoas-client/src/pages/projSearch/sections/filter/Filter.tsx
  packages/kokoas-client/src/pages/projSearch/sections/filter/ResetButton.tsx
  packages/kokoas-client/src/pages/projSearch/sections/filter/filterForm/FilterDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/ResultHead.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/RowLayout.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/PaymentDetails.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/actions/Actions.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/actions/UpdateLastBillingDate.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/actions/types.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/PayTable.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/PayTableBody.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/PayTableFooter.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/PayTableHead.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/RowLayout.tsx
  packages/kokoas-client/src/pages/projSearch/types.ts
  packages/types/src/dtsgen/db.projects.d.ts
Labels: frontend

#720 請求アラート用の環境を準備します
  packages-automation/auto-invoiceAlert/config.ts
  packages-automation/auto-invoiceAlert/main.ts
  packages-automation/auto-invoiceAlert/package.json
  packages-automation/auto-invoiceAlert/settings.ts
  packages-automation/auto-invoiceAlert/src/api-kintone/addInvoiceReminder.test.ts
  packages-automation/auto-invoiceAlert/src/api-kintone/addInvoiceReminder.ts
  packages-automation/auto-invoiceAlert/src/api-kintone/getAllInvoiceReminder.test.ts
  packages-automation/auto-invoiceAlert/src/api-kintone/getAllInvoiceReminder.ts
  packages-automation/auto-invoiceAlert/src/api-kintone/getInvoiceRemindersByAlertDate.test.ts
  packages-automation/auto-invoiceAlert/src/api-kintone/getInvoiceRemindersByAlertDate.ts
  packages-automation/auto-invoiceAlert/src/api-kintone/index.ts
  packages-automation/auto-invoiceAlert/src/api-kintone/updateInvoiceReminder.ts
  packages-automation/auto-invoiceAlert/src/createInvoiceAlert.test.ts
  packages-automation/auto-invoiceAlert/src/createInvoiceAlert.ts
  packages-automation/auto-invoiceAlert/src/createInvoiceAlertFromContracts.ts
  packages-automation/auto-invoiceAlert/src/helpers/calcAlertDate.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/calcAlertDate.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertContractsToJson.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToJson.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToKintone.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-invoiceAlert/src/helpers/filterContractsByTargetProjType.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/filterContractsByTargetProjType.ts
  packages-automation/auto-invoiceAlert/src/helpers/filterContractsToAlertTarget.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/filterContractsToAlertTarget.ts
  packages-automation/auto-invoiceAlert/src/helpers/getEarliestDateOfContract.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/getEarliestDateOfContract.ts
  packages-automation/auto-invoiceAlert/src/helpers/getYumeAgNames.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/getYumeAgNames.ts
  packages-automation/auto-invoiceAlert/src/helpers/registerReminders.ts
  packages-automation/auto-invoiceAlert/src/helpers/updateReportedReminders.ts
  packages-automation/auto-invoiceAlert/src/invoiceReminder.ts
  packages-automation/auto-invoiceAlert/src/notificationFunc/chatworkRoomIdSetting.test.ts
  packages-automation/auto-invoiceAlert/src/notificationFunc/chatworkRoomIdSetting.ts
  packages-automation/auto-invoiceAlert/src/notificationFunc/generateMessage.test.ts
  packages-automation/auto-invoiceAlert/src/notificationFunc/generateMessage.ts
  packages-automation/auto-invoiceAlert/src/notificationFunc/generateMessageForManager.test.ts
  packages-automation/auto-invoiceAlert/src/notificationFunc/generateMessageForManager.ts
  packages-automation/auto-invoiceAlert/src/notifyInvoiceAlertToChatwork.test.ts
  packages-automation/auto-invoiceAlert/src/notifyInvoiceAlertToChatwork.ts
  packages-automation/auto-invoiceAlert/tsconfig.json
  packages-automation/auto-invoiceAlert/types/InvoiceReminder.ts
  packages-automation/auto-invoiceAlert/types/kintone.data.d.ts
Labels: repo, frontend, backend, api, customize, rpa

#735 720-請求アラートメッセージ内容の修正
  packages-automation/auto-invoiceAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToKintone.ts
  packages-automation/auto-invoiceAlert/src/notificationFunc/generateMessage.ts
  packages-automation/auto-invoiceAlert/src/notificationFunc/generateMessageForManager.ts
  packages-automation/auto-invoiceAlert/types/InvoiceReminder.ts
  packages-automation/auto-invoiceAlert/types/kintone.data.d.ts
Labels: rpa

#741 顧客一覧の契約タブ内、補助金欄の空()を削除します
  packages/kokoas-client/src/pages/projSearch/sections/result/details/contractDetails/PaymentInfo.tsx
Labels: frontend

#740 顧客一覧の工事タブ内、備考欄を改行表示します
  packages/kokoas-client/src/pages/projSearch/sections/result/details/common/Detail.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/projectDetails/ProjectDetails.tsx
Labels: frontend

#739 736-請求アラートの実施条件に関わる処理を修正しました
  package-lock.json
  packages-automation/auto-invoiceAlert/src/api-kintone/getInvoiceRemindersByAlertDate.test.ts
  packages-automation/auto-invoiceAlert/src/api-kintone/getInvoiceRemindersByAlertDate.ts
  packages-automation/auto-invoiceAlert/src/helpers/calcAlertDate.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/filterContractsToAlertTarget.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/filterContractsToAlertTarget.ts
Labels: repo, rpa

#747 K228-工事情報の店舗を編集出来るようになりました。
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/Store.tsx
Labels: frontend

#746 顧客一覧の列幅を調整します
  packages/kokoas-client/src/pages/projSearch/helpers/groupCustContacts.ts
  packages/kokoas-client/src/pages/projSearch/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/ResultHead.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/ResultTable.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/RowLayout.tsx
  packages/kokoas-client/src/pages/projSearch/types.ts
Labels: frontend

#744 kintoneレコードアップデート処理の修正
  packages-automation/auto-invoiceAlert/src/api-kintone/updateInvoiceReminder.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-invoiceAlert/src/helpers/updateReportedReminders.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/updateReportedReminders.ts
  packages/api-kintone/src/common/index.ts
  packages/api-kintone/src/common/updateRecords.ts
  packages/api-kintone/src/invoice/updateInvoices.ts
Labels: api, rpa

#750 hotfix-顧客一覧の工事データに店舗名が出ない
  packages/kokoas-client/src/pages/projSearch/sections/result/details/projectDetails/OfficerDetails.tsx
Labels: frontend

#753 752-開発環境の準備
  package-lock.json
  packages-automation/auto-paymentAlertV2/config.ts
  packages-automation/auto-paymentAlertV2/main.ts
  packages-automation/auto-paymentAlertV2/package.json
  packages-automation/auto-paymentAlertV2/readme.md
  packages-automation/auto-paymentAlertV2/settings.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/addPaymentReminder.test.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/addPaymentReminder.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/getAllPaymentReminder.test.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/getAllPaymentReminder.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/getPaymentRemindersByAlertDate.test.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/getPaymentRemindersByAlertDate.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/index.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/updatePaymentReminder.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlert.test.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlert.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlertFromContracts.test.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlertFromContracts.ts
  packages-automation/auto-paymentAlertV2/src/helpers/calcAlertDate.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/calcAlertDate.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertContractsToJson.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertContractsToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToJson.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToKintone.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterContractsByTargetProjType.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterContractsByTargetProjType.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterContractsToAlertTarget.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterContractsToAlertTarget.ts
  packages-automation/auto-paymentAlertV2/src/helpers/getEarliestDateOfContract.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/getEarliestDateOfContract.ts
  packages-automation/auto-paymentAlertV2/src/helpers/getYumeAgNames.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/getYumeAgNames.ts
  packages-automation/auto-paymentAlertV2/src/helpers/registerReminders.ts
  packages-automation/auto-paymentAlertV2/src/helpers/updateReportedReminders.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/chatworkRoomIdSetting.test.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/chatworkRoomIdSetting.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessage.test.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessage.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessageForManager.test.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessageForManager.ts
  packages-automation/auto-paymentAlertV2/src/notifyPaymentAlertToChatwork.test.ts
  packages-automation/auto-paymentAlertV2/src/notifyPaymentAlertToChatwork.ts
  packages-automation/auto-paymentAlertV2/src/paymentReminder.ts
  packages-automation/auto-paymentAlertV2/tsconfig.json
  packages-automation/auto-paymentAlertV2/types/kintone.data.d.ts
  packages-automation/auto-paymentAlertV2/types/paymentReminder.ts
Labels: repo, rpa

#745 「なし」行のheight調整
  packages-kintone-customize/app-229-contracts/src/view/indexShow/prospect_6343185/prospect.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/prospect_6343185/sheet.css
Labels: customize

#761 758 カテゴリの選択肢に設計契約を追加する
  packages/kokoas-client/src/pages/projContractV2/schema.tsx
Labels: frontend

#762 760-「基本業務設計依頼内容書」に関連するフィールドを表示する
  packages/kokoas-client/src/pages/projContractV2/api/convertContractToForm.ts
  packages/kokoas-client/src/pages/projContractV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projContractV2/form.ts
  packages/kokoas-client/src/pages/projContractV2/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/projContractV2/hooks/useTypedRHF.ts
  packages/kokoas-client/src/pages/projContractV2/schema.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/ContractType.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/projPlanContract/Annotation.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/projPlanContract/ProjPeriod.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/projPlanContract/ProjPlanContract.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/projPlanContract/SelectWithOthers.tsx
  packages/kokoas-client/src/pages/projContractV2/selectFieldConfig.ts
  packages/types/src/dtsgen/db.contracts.d.ts
Labels: frontend

#767 766-es3から取得処理を追加しました。
  packages/api-aws/src/s3/config.ts
  packages/api-aws/src/s3/getTemplate.test.ts
  packages/api-aws/src/s3/getTemplate.ts
  packages/kokoas-server/src/api/docusign/contracts/construction/index.ts
  packages/kokoas-server/src/handleRequest/reqDownloadContractV2.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generate/generateContractPdfV2.test.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generate/generateContractPdfV2.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generate/generatePlanContract.test.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generate/generatePlanContract.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/makeEnvelopeV2.ts
Labels: backend, api

#768 765 基本業務設計依頼内容書のデータマッピング
  packages/api-aws/src/s3/getTemplate.ts
  packages/kokoas-server/src/api/docusign/contracts/helpers/pdf.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generate/generatePlanContract.test.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generate/generatePlanContract.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getContractDataV2.ts
Labels: backend, api

#770 769-プレビュー設計契約を表示する
  packages/kokoas-client/src/pages/projContractV2/parts/preview/ContractDialog.tsx
  packages/kokoas-server/src/handleRequest/reqDownloadContractV2.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generate/generateFiles.tsx
  packages/types/src/common/server.ts
Labels: frontend, backend

#772 771 設計契約の署名欄を実装しました。
  packages/kokoas-client/src/hooksQuery/useContractFilesById.ts
  packages/kokoas-client/src/hooksQuery/useKintoneFileBase64.ts
  packages/kokoas-client/src/pages/projContractV2/parts/preview/ContractDialog.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/preview/RefreshButton.tsx
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generate/generateFiles.tsx
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generate/generatePlanContract.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/makeEnvelopeV2.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/processContractV2.test.ts
Labels: frontend, backend

#774 773 - 保存の際、設計契約の契約日を工事の申込日に反映
  packages/kokoas-client/src/pages/projContractV2/hooks/useSubmitHandler.ts
Labels: frontend

#780 779-ランクの選択肢に「設計契約」を追加しました。
  packages/kokoas-client/src/pages/projContractV2/hooks/useSubmitHandler.ts
  packages/kokoas-client/src/pages/projProspectSearchV2/filter/filterForm/RankField.tsx
  packages/kokoas-client/src/pages/projProspectSearchV2/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/projProspectSearchV2/result/ResultRow.tsx
  packages/kokoas-client/src/pages/projRegisterV2/api/rankingValues.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/prospect/Rank.tsx
  packages/types/src/common/customers.ts
Labels: frontend

#783 781-請求アラートの通知に失敗した際の挙動を実装します
  packages-automation/auto-invoiceAlert/config.ts
  packages-automation/auto-invoiceAlert/src/notifyInvoiceAlertToChatwork.ts
Labels: rpa

#784 K235 内容確認を追加しました。
  packages/kokoas-client/src/pages/projContractV2/parts/preview/startcontract/StartDialog.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/preview/startcontract/StepConfirmContents.tsx
  packages/kokoas-server/src/handleRequest/reqDownloadContractV2.ts
  packages/types/src/common/server.ts
Labels: frontend, backend

#785 K197 ランクにヘルプを追加しました。
  packages/kokoas-client/src/pages/projRegisterV2/sections/prospect/Rank.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/prospect/RankHelp.tsx
Labels: frontend

#788 K226 顧客一覧をエクスポート出来るようになりました。
  package-lock.json
  package.json
  packages/kokoas-client/src/components/themes/DarkCocoTheme.tsx
  packages/kokoas-client/src/pages/projSearch/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/DownloadResult.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/Result.tsx
  packages/kokoas-client/src/pages/projSearch/types.ts
Labels: repo, frontend

#789 K237 見込み一覧にエクスポートを追加しました。
  packages/kokoas-client/src/pages/projProspectSearchV2/helpers/groupCustContacts.ts
  packages/kokoas-client/src/pages/projProspectSearchV2/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/projProspectSearchV2/result/DownloadResult.tsx
  packages/kokoas-client/src/pages/projProspectSearchV2/result/Result.tsx
  packages/kokoas-client/src/pages/projProspectSearchV2/types.ts
Labels: frontend
