Repository cocosumo/yumecoco-monorepo, pull requests merged in 2023-11, with the labels that each got.

#756 入金用のアラート条件を変更します
  package-lock.json
  packages-automation/auto-paymentAlertV2/config.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/getPaymentRemindersByAlertDate.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlert.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlertFromAPPayments.test.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlertFromAPPayments.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlertFromContracts.ts
  packages-automation/auto-paymentAlertV2/src/helpers/calcAlertDate.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/calcAlertDate.ts
  packages-automation/auto-paymentAlertV2/src/helpers/calcPaymentDate.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/calcPaymentDate.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertPaymentsToJson.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertPaymentsToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterAPPaymentsToAlertTarget.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterAPPaymentsToAlertTarget.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterContractsToAlertTarget.ts
  packages-automation/auto-paymentAlertV2/src/helpers/getEarliestDateOfContract.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/getEarliestDateOfContract.ts
  packages-automation/auto-paymentAlertV2/types/kintone.data.d.ts
  packages/api-kintone/src/andpadPayments/getUnpaidAndpadPayments.test.ts
  packages/api-kintone/src/andpadPayments/getUnpaidAndpadPayments.ts
Labels: repo, api, rpa

#795 ファイルのキャッシュを修正しました。
  packages/api-kintone/src/@file/downloadFileBase64.ts
  packages/kokoas-client/src/hooksQuery/useKintoneFile.ts
  packages/kokoas-client/src/hooksQuery/useKintoneFileBase64.ts
  packages/kokoas-client/src/pages/projContractV2/parts/preview/ContractDialog.tsx
Labels: frontend, api

#799 K239-顧客と見込み一覧表のダウンロード項目から一部の項目を削除してほしい
  packages/kokoas-client/src/pages/projProspectSearchV2/result/DownloadResult.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/DownloadResult.tsx
Labels: frontend

#796 K247-サービス工事の場合、電子契約のみ
  packages/kokoas-client/src/pages/projContractV2/form.ts
  packages/kokoas-client/src/pages/projContractV2/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/projContractV2/parts/preview/startcontract/StepChooseSignMethod.tsx
  packages/kokoas-client/src/pages/projContractV2/schema.tsx
Labels: frontend

#802 K243 契約の「設計契約」で「本契約」を結ぶ場合、警告画面を出すようになりました。
  packages/kokoas-client/src/hooksQuery/useContractsByProjIdV2.ts
  packages/kokoas-client/src/lib/jaEnvStatus.ts
  packages/kokoas-client/src/pages/projContractV2/hooks/useContractProjPlanByProjId.ts
  packages/kokoas-client/src/pages/projContractV2/sections/TotalAmount.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/alerts/HasProjPlan.tsx
Labels: frontend

#801 K173-契約画面のカテゴリーをラジオボタンになりました。
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/ContractType.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/ContractTypeField.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/SubInputContainer.tsx
Labels: frontend

#803 K248 氏名の欄に「株式会社 夢のおてつだい」が入るようにました
  packages/kokoas-client/src/hooksQuery/useContractFilesById.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generate/generateContractPdfV2.ts
Labels: frontend, backend

#804 K238 顧客一覧表で絞り込み条件を追加してほしい
  packages/api-kintone/src/contracts/getContractsSummary.ts
  packages/kokoas-client/src/pages/projSearch/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/projSearch/sections/filter/filterForm/FilterDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/DownloadResult.tsx
  packages/kokoas-client/src/pages/projSearch/types.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV4.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV4.ts
Labels: frontend, backend, api

#805 K238 顧客一覧を契約金額でフィールター出来る
  packages/kokoas-client/src/pages/projSearch/fields/NumberField.tsx
  packages/kokoas-client/src/pages/projSearch/form.ts
  packages/kokoas-client/src/pages/projSearch/hooks/useParseQuery.ts
  packages/kokoas-client/src/pages/projSearch/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/projSearch/hooks/useTypedRHF.ts
  packages/kokoas-client/src/pages/projSearch/schema.ts
  packages/kokoas-client/src/pages/projSearch/sections/filter/filterForm/FilterDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/filter/filterForm/TotalContractAmtIncTax.tsx
  packages/kokoas-server/package.json
Labels: frontend, backend

#807 K192 契約のカテゴリ「追加」は、「契約」がある時のみ選べるようにする
  packages/kokoas-client/src/hooksQuery/useContractsByEstId.ts
  packages/kokoas-client/src/pages/projContractV2/FormContract.tsx
  packages/kokoas-client/src/pages/projContractV2/hooks/useHasMainContract.ts
  packages/kokoas-client/src/pages/projContractV2/sections/ContractStatus.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractStatus/ContractFlow.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractStatus/ContractStatus.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractStatus/ExistingContracts.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/ContractTypeField.tsx
Labels: frontend

#808 fix-契約の順番
  packages-kintone-customize/app-229-contracts/src/hooks/useContracts.ts
Labels: customize

#809 K245 契約一覧で細かい経路の絞り込みを削除しました。
  packages/kokoas-client/src/pages/projContractSearchV2/form.ts
  packages/kokoas-client/src/pages/projContractSearchV2/helpers/translateKey.ts
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useFilteredContracts.ts
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useNewValuesFromParams.ts
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterChips/FilterChips.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/ContractStatus.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/ContractStatusIncomplete.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/schema.ts
Labels: frontend

#812 hotfix-請求書アラートのアラート条件を修正しました
  packages-automation/auto-invoiceAlert/.env.example
  packages-automation/auto-invoiceAlert/config.ts
  packages-automation/auto-invoiceAlert/jest.config.ts
  packages-automation/auto-invoiceAlert/src/createInvoiceAlert.ts
  packages-automation/auto-invoiceAlert/src/createInvoiceAlertFromContracts.test.ts
  packages-automation/auto-invoiceAlert/src/createInvoiceAlertFromContracts.ts
  packages-automation/auto-invoiceAlert/src/helpers/calcContractInformation.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertContractsToJson.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToKintone.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-invoiceAlert/src/helpers/filterContractsByTargetProjType.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/filterContractsToAlertTarget.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/filterContractsToAlertTarget.ts
  packages-automation/auto-invoiceAlert/types/InvoiceReminder.ts
  packages-automation/auto-invoiceAlert/types/kintone.data.d.ts
Labels: rpa

#811 K141 「支払い予定日」を契約後も編集可能にしました。
  packages/kokoas-client/src/pages/projContractV2/fields/ControlledDatePicker.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/PaymentFieldGroup.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/PaymentSchedule.tsx
Labels: frontend

#732 introduction完了
  packages-kintone-customize/app-229-contracts/cypress/readme_cypress.md
  packages-kintone-customize/app-229-contracts/jsedit/api/calcFontSize.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/formatCurrency.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getAllStoresMeeting.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getCachedStores.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getContractRecords.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getContractRecordsGroupByStore.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getFirstAndLastDay.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getWeekDates.test.ts
  packages-kintone-customize/app-229-contracts/jsedit/api/getWeekDates.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createPrintArea.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/createPrintButton.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/createSelect.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/createSelectMonth.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/createSelectStore.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/createSelectWeek.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/createSelectYear.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/createToolbar/index.css
  packages-kintone-customize/app-229-contracts/jsedit/initialize/populateSelect/index.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/populateSelect/populateSelectMonth.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/populateSelect/populateSelectStore.ts
  packages-kintone-customize/app-229-contracts/jsedit/initialize/populateSelect/populateSelectYear.ts
  packages-kintone-customize/app-229-contracts/jsedit/main.css
  packages-kintone-customize/app-229-contracts/jsedit/main.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/createHightlightOptions.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/refreshResult.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createContractList/createTableContainer.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createContractList/createTableContents.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createContractList/handleClickRow.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createContractList/highlightRowsByWeek.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createContractList/index.css
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createDateInit.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createHeaderTitle.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createStoreContainer.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createWeeklyResult/createTableContainer.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createWeeklyResult/createTableContents.ts
  packages-kintone-customize/app-229-contracts/jsedit/result/store/createWeeklyResult/index.css
  packages-kintone-customize/app-229-contracts/jsedit/result/store/showResultByStore.ts
  packages-kintone-customize/app-229-contracts/jsedit/triggers/button.ts
  packages-kintone-customize/app-229-contracts/readme.md
Labels: customize

#810 K217-物件完了日を入力したら、保存するとき、引き渡し日は必須項目になる
  packages/kokoas-client/src/pages/projRegisterV2/fields/ControlledDatePicker.tsx
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
Labels: frontend

#820 K246-契約一覧の出力の住所と金額を修正しました。
  packages/kokoas-client/src/pages/projProspectSearchV2/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/projProspectSearchV2/result/DownloadResult.tsx
  packages/kokoas-client/src/pages/projProspectSearchV2/types.ts
  packages/kokoas-client/src/pages/projSearch/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/DownloadResult.tsx
  packages/kokoas-client/src/pages/projSearch/types.ts
Labels: frontend

#823 請求書アラートの処理を修正します
  packages-automation/auto-invoiceAlert/main.ts
  packages-automation/auto-invoiceAlert/src/createInvoiceAlert.test.ts
  packages-automation/auto-invoiceAlert/src/createInvoiceAlert.ts
  packages-automation/auto-invoiceAlert/src/createInvoiceAlertFromContracts.test.ts
  packages-automation/auto-invoiceAlert/src/createInvoiceAlertFromContracts.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertContractsToJson.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToJson.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/filterContractsToAlertTarget.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/getTargetAndpadOrders.ts
  packages-automation/auto-invoiceAlert/src/invoiceReminder.ts
  packages-automation/auto-invoiceAlert/src/notificationFunc/chatworkRoomIdSetting.test.ts
  packages-automation/auto-invoiceAlert/src/notificationFunc/generateMessage.test.ts
  packages-automation/auto-invoiceAlert/src/notificationFunc/generateMessageForManager.test.ts
  packages-automation/auto-invoiceAlert/src/notificationFunc/generateMessageForManager.ts
  packages/api-andpad/src/@get/getAllAndpadOrders.test.ts
  packages/api-andpad/src/@get/getAllAndpadOrders.ts
  packages/api-andpad/src/@get/index.ts
Labels: api, rpa

#815 K251 本契約の画面に含まれているかどうかのボタンと金額を入力する画面を表示しました
  packages/kokoas-client/src/pages/projContractV2/api/convertContractToForm.ts
  packages/kokoas-client/src/pages/projContractV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projContractV2/fields/ControlledCurrencyInput.tsx
  packages/kokoas-client/src/pages/projContractV2/fields/ProfitRate.tsx
  packages/kokoas-client/src/pages/projContractV2/form.ts
  packages/kokoas-client/src/pages/projContractV2/hooks/useContractProjPlanByProjId.ts
  packages/kokoas-client/src/pages/projContractV2/parts/TaxAmount.tsx
  packages/kokoas-client/src/pages/projContractV2/schema.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/TotalAmount.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/alerts/HasProjPlan.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/hasProjPlan/HasProjPlan.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/hasProjPlan/IncludePlanContractAmtRadio.tsx
  packages/types/src/dtsgen/db.contracts.d.ts
Labels: frontend

#814 契約金額の計算処理の修正
  packages/api-kintone/src/andpadProcurement/calculation/calcProfitability.ts
  packages/api-kintone/src/contracts/getContractsSummary.test.ts
  packages/api-kintone/src/contracts/getContractsSummary.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV4.ts
Labels: backend, api

#819 K244-設計契約金額の計算
  packages/api-kintone/src/contracts/getContractsSummary.test.ts
  packages/api-kintone/src/contracts/getContractsSummary.ts
Labels: api

#828 K256-電子契約で、工事種別がサービス工事の場合、顧客のメールアドレスが存在しなくてもエラーは発生しない
  packages/kokoas-server/src/api/kintone/validateContractDataV2.test.ts
  packages/kokoas-server/src/api/kintone/validateContractDataV2.ts
Labels: backend

#829 K257-fix message
  packages/kokoas-client/src/pages/projContractV2/parts/preview/startcontract/StepChooseSignMethod.tsx
Labels: frontend

#830 perf-Agent names
  packages/api-kintone/src/custgroups/helpers/groupAgentNamesByType.ts
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useFilteredContracts.ts
  packages/kokoas-client/src/pages/projContractV2/sections/CustomerSummary.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/ProjectSummary.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/customersSummary/CustomerSummary.tsx
Labels: frontend, api

#831 K240-工事担当者は必須になりました。
  packages/kokoas-client/src/pages/projRegisterV2/api/convertProjToForm.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projRegisterV2/fields/ControlledTextField.tsx
  packages/kokoas-client/src/pages/projRegisterV2/form.ts
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/ControlledEmpSelectField.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/EmployeeSelectFields.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/IsNotCocoConstConfirmed.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/OfficersInput.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/OtherProjType.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/ProjectType.tsx
Labels: frontend

#832 K241-契約一覧表の画面に、工事担当者も入れてほしい
  packages/api-kintone/src/projects/helpers/groupAgentNamesByType.ts
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useFilteredContracts.ts
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultsTBody.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultsTHead.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/TRowLayout.tsx
Labels: frontend, api

#833 826-add OB search button
  packages/kokoas-client/src/pages/custGroup/FormCustGroup.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/OBSearch.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/SearchDialog.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/SearchDialogContent.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/SearchResult.tsx
Labels: frontend

#836 834-モーダルと必要になるコンポーネントを実装する
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/SearchDialog.tsx
Labels: frontend

#839 契約金額の計算処理を修正します
  packages/api-kintone/src/contracts/getContractsSummary.ts
Labels: backend, api

#838 refactor-顧客グループの保存処理を最適化しました。
  packages/api-kintone/scripts/batch/README.md
  packages/api-kintone/scripts/batch/updateCustGroup.test.ts
  packages/api-kintone/scripts/batch/updateCustGroup.ts
  packages/api-kintone/scripts/batch/updateSingleCustGroup.test.ts
  packages/api-kintone/scripts/batch/updateSingleCustGroup.ts
  packages/api-kintone/src/custgroups/saveCustGroup.ts
  packages/api-kintone/src/customers/saveCustomers.ts
  packages/kokoas-client/src/pages/custGroup/api/convertToForm.ts
  packages/kokoas-client/src/pages/custGroup/api/formToDBCustGroup.ts
  packages/kokoas-client/src/pages/custGroup/hooks/useSubmitHandler.tsx
  packages/kokoas-client/src/pages/custGroup/sections/customersInput/contactInput/ContactName.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/customerDetails/Customer.tsx
  packages/kokoas-e2e/cypress/e2e/custgroup/registerOne.cy.ts
  packages/types/src/dtsgen/db.custGroups.d.ts
  packages/types/src/dtsgen/db.customers.d.ts
  packages/types/src/dtsgen/db.projEstimates.d.ts
Labels: frontend, api

#844 請求書用アラートのスクリプトを修正します
  packages-automation/auto-invoiceAlert/package.json
  packages-automation/auto-invoiceAlert/src/helpers/registerReminders.ts
Labels: rpa

#840 837 顧客グループの検索処理を作成する
  packages/api-kintone/src/custgroups/config.ts
  packages/api-kintone/src/custgroups/searchCustGroupByKeyword.test.ts
  packages/api-kintone/src/custgroups/searchCustGroupByKeyword.ts
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/SearchDialogContent.tsx
Labels: frontend, api

#842 841-add-useSearchCustGroupByKeyword
  packages/api-kintone/src/custgroups/index.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useSearchCustGroup.ts
  packages/kokoas-client/src/hooksQuery/useSearchCustGroupByKeyword.ts
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/SearchDialogContent.tsx
Labels: frontend, api

#845 hotfix-新規顧客を作成して、もう一回保存すると、新規データが登録される。
  packages/kokoas-client/src/pages/custGroup/hooks/useSubmitHandler.tsx
Labels: frontend

#852 ANDPADの案件取得条件を修正します
  packages/api-andpad/src/@get/getAllAndpadOrders.ts
Labels: api

#846 請求書リマインダーレコードの通知先、システムID等の更新処理を実装します
  packages-automation/auto-invoiceAlert/src/createInvoiceAlert.test.ts
  packages-automation/auto-invoiceAlert/src/createInvoiceAlert.ts
  packages-automation/auto-invoiceAlert/src/createInvoiceAlertFromContracts.ts
  packages-automation/auto-invoiceAlert/src/helpers/compileInfoFromProjId.ts
  packages-automation/auto-invoiceAlert/src/helpers/compileNotificationSettings.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/compileNotificationSettings.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToJson.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-invoiceAlert/src/helpers/updateReportedReminders.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/updateReportedReminders.ts
  packages-automation/auto-invoiceAlert/src/invoiceReminder.ts
Labels: rpa

#855 hotfix請求アラートのバグ修正
  packages-automation/auto-invoiceAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-invoiceAlert/src/invoiceReminder.ts
Labels: rpa

#853 843 検索結果の表示を実装する
  packages/api-kintone/src/custgroups/searchCustGroupByKeyword.ts
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/SearchDialog.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/SearchDialogContent.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/SearchResult.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/searchResutlList/ResultItemRelatedProj.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/searchResutlList/ResultItemTitle.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/searchResutlList/SearchResultItem.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/searchResutlList/SearchResultItemContent.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/searchResutlList/SearchResultList.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/searchResutlList/projectsToolTipContent/ContractAmount.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/searchResutlList/projectsToolTipContent/CustomTooltip.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/searchResutlList/projectsToolTipContent/ProjectsToolTipContent.tsx
Labels: frontend, api

#856 hotfix ANDPAD案件の取得処理
  packages/api-andpad/src/@get/getAllAndpadOrders.ts
Labels: api

#861 K258-Update ConstructionPeriods.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/ConstructionPeriods.tsx
Labels: frontend

#862 854 選択した顧客グループを表示し遷移出来るようにする
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/SearchDialog.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/SearchDialogContent.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/searchResutlList/ResultItemTitle.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/searchResutlList/SearchResultItem.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/searchResutlList/SearchResultItemContent.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/searchResutlList/SearchResultList.tsx
Labels: frontend

#868 866 契約にメモ欄を追加する
  packages/kokoas-client/src/pages/projContractV2/FormInput.tsx
  packages/kokoas-client/src/pages/projContractV2/api/convertContractToForm.ts
  packages/kokoas-client/src/pages/projContractV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projContractV2/form.ts
  packages/kokoas-client/src/pages/projContractV2/schema.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/Memo.tsx
  packages/types/src/dtsgen/db.contracts.d.ts
Labels: frontend

#870 請求アラートで担当者名が空文字列の時にグループ通知されてしまうことへの対策
  packages-automation/auto-invoiceAlert/src/helpers/getYumeAgNames.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/getYumeAgNames.ts
  packages-automation/auto-invoiceAlert/src/notificationFunc/chatworkRoomIdSetting.ts
Labels: rpa

#871 869 契約一覧にメモがありと表示する
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useFilteredContracts.ts
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultsTBody.tsx
Labels: frontend

#873 872 顧客一覧の詳細の「契約」タブに契約メモの内容を表示する
  packages/kokoas-client/src/pages/projSearch/sections/result/details/common/Detail.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/contractDetails/ContractInfo.tsx
Labels: frontend

#755 751-feat-k231-入金アラートの機能実装
  package-lock.json
  packages-automation/auto-paymentAlertV2/config.ts
  packages-automation/auto-paymentAlertV2/main.ts
  packages-automation/auto-paymentAlertV2/package.json
  packages-automation/auto-paymentAlertV2/readme.md
  packages-automation/auto-paymentAlertV2/settings.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/addPaymentReminder.test.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/addPaymentReminder.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/getAllPaymentReminder.test.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/getAllPaymentReminder.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/getPaymentRemindersByAlertDate.test.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/getPaymentRemindersByAlertDate.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/index.ts
  packages-automation/auto-paymentAlertV2/src/api-kintone/updatePaymentReminder.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlert.test.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlert.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlertFromAPPayments.test.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlertFromAPPayments.ts
  packages-automation/auto-paymentAlertV2/src/helpers/calcPaymentDate.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/calcPaymentDate.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertPaymentsToJson.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertPaymentsToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToJson.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToKintone.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterAPPaymentsToAlertTarget.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterAPPaymentsToAlertTarget.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterContractsByTargetProjType.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterContractsByTargetProjType.ts
  packages-automation/auto-paymentAlertV2/src/helpers/getYumeAgNames.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/getYumeAgNames.ts
  packages-automation/auto-paymentAlertV2/src/helpers/registerReminders.ts
  packages-automation/auto-paymentAlertV2/src/helpers/updateReportedReminders.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/chatworkRoomIdSetting.test.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/chatworkRoomIdSetting.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessage.test.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessage.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessageForManager.test.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessageForManager.ts
  packages-automation/auto-paymentAlertV2/src/notifyPaymentAlertToChatwork.test.ts
  packages-automation/auto-paymentAlertV2/src/notifyPaymentAlertToChatwork.ts
  packages-automation/auto-paymentAlertV2/src/paymentReminder.ts
  packages-automation/auto-paymentAlertV2/tsconfig.json
  packages-automation/auto-paymentAlertV2/types/kintone.data.d.ts
  packages-automation/auto-paymentAlertV2/types/paymentReminder.ts
  packages/api-kintone/src/andpadPayments/getUnpaidAndpadPayments.test.ts
  packages/api-kintone/src/andpadPayments/getUnpaidAndpadPayments.ts
Labels: repo, api, rpa

#798 入金アラートのアラートメッセージの内容を修正します
  packages-automation/auto-paymentAlertV2/config.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertPaymentsToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToJson.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToKintone.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterAPPaymentsToAlertTarget.ts
  packages-automation/auto-paymentAlertV2/src/helpers/registerReminders.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessage.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessageForManager.ts
  packages-automation/auto-paymentAlertV2/src/notifyPaymentAlertToChatwork.ts
  packages-automation/auto-paymentAlertV2/types/kintone.data.d.ts
  packages-automation/auto-paymentAlertV2/types/paymentReminder.ts
Labels: rpa

#876 874 銀行用と工事実行を選択肢として表示しない
  packages/kokoas-client/src/pages/projContractV2/schema.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/ContractTypeField.tsx
Labels: frontend

#875 hotfix-契約画面の支払い予定のチェックボックスのラベルが崩れれている
  packages/kokoas-client/src/pages/projContractV2/parts/PaymentFieldGroup.tsx
Labels: frontend

#883 hotfix-K259-物件完了日と支払い予定日の表示を逆にしてほしい
  packages/kokoas-client/src/pages/projSearch/sections/result/details/projectDetails/ProjectDetails.tsx
Labels: frontend

#882 入金アラートに強制接続案件の処理を追加します
  packages-automation/auto-paymentAlertV2/config.ts
  packages-automation/auto-paymentAlertV2/jest.config.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlert.test.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlert.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlertFromAPPayments.test.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlertFromAPPayments.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertPaymentsToJson.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertPaymentsToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToJson.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterAPPaymentsToAlertTarget.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterAPPaymentsToAlertTarget.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterContractsByTargetProjType.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterContractsByTargetProjType.ts
  packages-automation/auto-paymentAlertV2/src/paymentReminder.ts
Labels: rpa

#885 入金アラートへ空文字対策とスクリプト修正を横展開します
  packages-automation/auto-paymentAlertV2/package.json
  packages-automation/auto-paymentAlertV2/src/helpers/convertPaymentsToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/getYumeAgNames.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/getYumeAgNames.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/chatworkRoomIdSetting.test.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/chatworkRoomIdSetting.ts
Labels: rpa

#888 hotfix-印刷する際、layoutのオプションが出ない
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderContractList/sections/result/Result.module.css
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderSchedule/sections/results/Results.module.css
Labels: customize

#892 hotfix-会議資料の見込み一覧に顧客名が出ないレコードがある
  packages-kintone-customize/app-229-contracts/src/view/indexShow/prospect_6343185/displayResult.ts
Labels: customize

#896 K260 add 自社物件
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/hooks/useContractsByFiscalYear.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/filter/SelectStores.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/Results.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/fiscalYearResult/FiscalYearResult.tsx
Labels: customize

#887 入金アラートへリマインダーレコードの更新処理を実装します
  packages-automation/auto-paymentAlertV2/.env.example
  packages-automation/auto-paymentAlertV2/src/createPaymentAlert.test.ts
  packages-automation/auto-paymentAlertV2/src/createPaymentAlert.ts
  packages-automation/auto-paymentAlertV2/src/helpers/compileInfoFromSystemId.ts
  packages-automation/auto-paymentAlertV2/src/helpers/compileNotificationSettings.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/compileNotificationSettings.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertPaymentsToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToKintone.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertRemindersToJson.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertRemindersToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/updateReportedReminders.ts
  packages-automation/auto-paymentAlertV2/src/paymentReminder.ts
Labels: rpa

#899 getAllAndpadOrdersにクエリ引数を追加しました。
  packages/api-andpad/src/@get/getAllAndpadOrders.test.ts
  packages/api-andpad/src/@get/getAllAndpadOrders.ts
Labels: api, rpa

#900 工事内容に「andpadSystemId」を追加しました。
  packages/api-kintone/scripts/batch/updateProjSystemIds.test.ts
  packages/kokoas-client/src/pages/projRegisterV2/parts/ForcedAndpadLink.tsx
  packages/kokoas-client/src/pages/projRegisterV2/parts/saveToAndpad/SaveToAndpadDialog.tsx
  packages/types/src/dtsgen/db.projects.d.ts
Labels: frontend, api

#905 fixed heights
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/SearchDialogContent.tsx
  packages/kokoas-client/src/pages/custGroup/sections/OBSearch/searchResutlList/SearchResultList.tsx
Labels: frontend

#904 898 顧客一覧で支払開始日と支払い完了日を見たい
  packages/api-kintone/src/andpadProcurement/getAllProcurementDetails.test.ts
  packages/api-kintone/src/andpadProcurement/getAllProcurementDetails.ts
  packages/api-kintone/src/andpadProcurement/index.ts
  packages/api-kintone/src/andpadProcurement/readme.md
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useAllProcurements.ts
  packages/kokoas-client/src/pages/projSearch/helpers/summarizeAndpadProcurements.ts
  packages/kokoas-client/src/pages/projSearch/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/ResultHead.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/ResultRow.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/RowLayout.tsx
  packages/kokoas-client/src/pages/projSearch/types.ts
Labels: frontend, api

#906 K270 契約累積表で月ごとにレコードがないと、「なし」を表示させたい
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/fiscalMonths/fiscalMonthTable/FiscalMonthTable.tsx
Labels: customize

#889 ANDPAD入金一覧アプリをクリーンアップする
  package-lock.json
  package.json
  packages-automation/auto-andpadPaymentBackup/main.ts
  packages-automation/auto-andpadPaymentBackup/src/downloadPaymentsData/downloadPaymentsData.test.ts
  packages-automation/auto-cleanUpPayments/cleanUpAndpadPayments.ts
  packages-automation/auto-cleanUpPayments/config.ts
  packages-automation/auto-cleanUpPayments/helpers/chkRecordCondition.test.ts
  packages-automation/auto-cleanUpPayments/helpers/chkRecordCondition.ts
  packages-automation/auto-cleanUpPayments/helpers/getAndpadPaymentsCsv.test.ts
  packages-automation/auto-cleanUpPayments/helpers/getAndpadPaymentsCsv.ts
  packages-automation/auto-cleanUpPayments/main.ts
  packages-automation/auto-cleanUpPayments/package.json
  packages-automation/auto-cleanUpPayments/readme.md
  packages-automation/auto-cleanUpPayments/tsconfig.json
  packages-automation/auto-cleanUpPayments/types/types.ts
  packages/api-kintone/src/andpadPayments/updateAndpadPayments.ts
  packages/types/src/dtsgen/db.andpadPayments.d.ts
Labels: repo, api, rpa

#891 レコード更新の際のアップデートキーを変更する
  packages-automation/auto-paymentAlertV2/src/api-kintone/updatePaymentReminder.ts
  packages-automation/auto-paymentAlertV2/src/helpers/compileInfoFromSystemId.ts
  packages-automation/auto-paymentAlertV2/src/helpers/compileNotificationSettings.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToKintoneUpdate.ts
Labels: rpa

#908 hotfix-請求アラートのリマインダー設定用URLのパスを修正します
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToJson.ts
Labels: rpa

#907 K268 契約累計表は全店舗の表示の場合、各店舗を表示する
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/form.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/hooks/useContractsByFiscalYear.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/schema.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/filter/SelectStores.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/ResultPerStore.module.css
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/ResultPerStore.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/Results.module.css
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/Results.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/fiscalYearResult/FiscalYearResult.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/fiscalYearResult/FiscalYearResultToltal.tsx
  packages-kintone-customize/app-229-contracts/tsconfig.json
  packages-kintone-customize/app-229-contracts/webpack.config.js
Labels: customize

#910 792 契約画面にアップロードボタンを配置する
  packages/kokoas-client/src/pages/projContractV2/FormInput.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/AttachmentHelp.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/Attachments.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/NoAttachments.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/UploadContainer.tsx
Labels: frontend

#914 912 アップロード画面を作る
  packages/api-kintone/src/@file/index.ts
  packages/api-kintone/src/@file/uploadFilesToKintone.ts
  packages/api-kintone/src/@file/uploadFilesToKintoneByAppId.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useUploadContractOtherFiles.ts
  packages/kokoas-client/src/pages/projContractV2/FormInput.tsx
Labels: frontend, api

#916 915 アップロード処理を実装しました
  packages/api-kintone/src/@file/uploadFilesToKintone.ts
  packages/api-kintone/src/@file/uploadFilesToKintoneByAppId.ts
  packages/kokoas-client/src/hooksQuery/useUploadContractOtherFiles.ts
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/Attachments.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/UploadContainer.tsx
Labels: frontend, api

#918 917 既存ファイルを表示する
  packages/kokoas-client/src/hooksQuery/useUploadContractOtherFiles.ts
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/Attachments.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/DraggingInfo.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/File.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/UploadContainer.tsx
Labels: frontend

#920 919 ダウンロード処理を実装する
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/Attachments.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/File.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/UploadContainer.tsx
  packages/libs/src/downloadArrayBuffer.ts
  packages/libs/src/index.ts
Labels: frontend

#923 921 ファイル削除を実装する
  packages/api-kintone/src/@file/deleteFilesFromKintoneByAppId.ts
  packages/kokoas-client/src/components/ui/icons/FileIcon.tsx
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/AttachmentHelp.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/Attachments.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/UploadContainer.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/file/ConfirmDeleteDialog.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/file/DeleteButton.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/file/File.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/file/FileName.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/file/StyledFileIcon.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/file/useDeleteContractOtherFiles.ts
  packages/kokoas-client/src/pages/projContractV2/sections/atttachments/useUploadContractOtherFiles.ts
Labels: frontend, api

#926 入金アラートの処理を実運用に向けて修正します
  packages-automation/auto-paymentAlertV2/main.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterAPPaymentsToAlertTarget.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessageForManager.test.ts
  packages-automation/auto-paymentAlertV2/src/notifyPaymentAlertToChatwork.ts
  packages-automation/auto-paymentAlertV2/src/paymentReminder.ts
  packages/api-kintone/scripts/batch/updateProjectsConstMembers.test.ts
  packages/api-kintone/scripts/batch/updateProjectsConstMembers.ts
  packages/api-kintone/src/andpadPayments/getUnpaidAndpadPayments.ts
Labels: api, rpa

#933 工事情報の担当者情報の更新スクリプトを修正します
  packages/api-kintone/scripts/batch/updateProjectsConstMembers.test.ts
  packages/api-kintone/scripts/batch/updateProjectsConstMembers.ts
Labels: api

#932 粗利集計表のカスタマイズ用環境を準備します
  package-lock.json
  packages-kintone-customize/app-292-grossProfitStatement/.eslintignore
  packages-kintone-customize/app-292-grossProfitStatement/babel.config.json
  packages-kintone-customize/app-292-grossProfitStatement/kintone.local.json
  packages-kintone-customize/app-292-grossProfitStatement/kintone.prod.json
  packages-kintone-customize/app-292-grossProfitStatement/package.json
  packages-kintone-customize/app-292-grossProfitStatement/readme.md
  packages-kintone-customize/app-292-grossProfitStatement/src/app.ts
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/FormGrossProfitTable.tsx
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/onIndexShowHandler.tsx
  packages-kintone-customize/app-292-grossProfitStatement/tsconfig.json
  packages-kintone-customize/app-292-grossProfitStatement/webpack.config.js
Labels: repo, customize

#929 K273 契約を送信するとき、プレビューにエラーが出る
  packages/kokoas-client/src/pages/projContractV2/parts/preview/ContractDialog.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/preview/PreviewContent.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/preview/startcontract/SigningFlow.tsx
Labels: frontend

#934 1日1回のみ実行する自動処理の実行用ファイルを修正します
  packages-automation/auto-andpadPaymentBackup/main.ts
  packages-automation/auto-cleanUpPayments/main.ts
  packages-automation/auto-invoiceAlert/main.ts
  packages-automation/auto-paymentAlertV2/main.ts
Labels: rpa
