Repository cocosumo/yumecoco-monorepo, pull requests merged in 2023-07, with the labels that each got.

#483 K70 顧客一覧の詳細に入金タブを追加する。
  .vscode/settings.json
  packages/api-kintone/src/andpadPaymentsData/config.ts
  packages/api-kintone/src/andpadPaymentsData/getAndpadPaymentsBySystemId.test.ts
  packages/api-kintone/src/andpadPaymentsData/getAndpadPaymentsBySystemId.ts
  packages/api-kintone/src/andpadPaymentsData/index.ts
  packages/api-kintone/src/index.ts
  packages/config/src/appIds.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useAndpadOrderByProjId.ts
  packages/kokoas-client/src/hooksQuery/useAndpadPaymentsBySystemId.ts
  packages/kokoas-client/src/hooksQuery/useDetailedAndpadOrderByProjId.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/DetailsContent.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/DetailsDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/DetailsDialogTitle.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/common/ActionButton.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/PaymentDetails.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/PayTable.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/PayTableBody.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/PayTableContainer.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/PayTableFooter.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/PayTableHead.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/PaymentStatus.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/RowLayout.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/projectDetails/AndpadDetails.tsx
  packages/types/src/dbKintone.ts
  packages/types/src/dtsgen/db.andpadPaymentData.d.ts
  packages/types/src/dtsgen/db.projEstimates.d.ts
Labels: frontend, api

#491 Add helper common functions puppeteer
  package-lock.json
  packages-automation/auto-common/config.ts
  packages-automation/auto-common/src/connectToBrowser.test.ts
  packages-automation/auto-common/src/connectToBrowser.ts
  packages-automation/auto-common/src/connectToBrowserPage.ts
  packages-automation/auto-common/src/downloadFile.test.ts
  packages-automation/auto-common/src/downloadFile.ts
  packages-automation/auto-common/src/getPageFromBrowser.test.ts
  packages-automation/auto-common/src/getPageFromBrowser.ts
  packages-automation/auto-common/src/index.ts
  packages-automation/auto-common/src/setSelectValue.ts
  packages/api-andpad/src/config.ts
  packages/config/src/baseUrl.ts
  tsconfig.build.json
Labels: repo, api, rpa

#498 hotfix-メンバが空だと保存出来ない不具合を修正しました。
  packages/api-andpad/src/@post/deleteMembers.ts
  packages/api-andpad/src/@post/saveProject.ts
Labels: api

#499 K87-作成日を追加しました。
  packages/kokoas-client/src/pages/projSearch/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/ResultHead.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/RowLayout.tsx
  packages/kokoas-client/src/pages/projSearch/types.ts
Labels: frontend

#500 hotfix-postal that contains "-" renders the character twice.
  packages/kokoas-client/src/pages/projSearch/sections/result/details/projectDetails/ProjectDetails.tsx
  packages/libs/src/addressBuilder.ts
Labels: frontend

#501 fix-should alert for specific input errors
  packages/kokoas-client/src/pages/projRegisterV2/api/fieldMapJa.ts
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/formActions/FormActions.tsx
Labels: frontend

#508 K90-機能しないフィールドを一旦省きました。
  packages/kokoas-client/src/helpers/translations.ts
  packages/kokoas-client/src/lib/date.ts
  packages/kokoas-client/src/pages/projContractSearchV2/form.ts
  packages/kokoas-client/src/pages/projContractSearchV2/helpers/itemsSorter.ts
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useFilteredContracts.ts
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultsTBody.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultsTHead.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultsTableContainer.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/TRowLayout.tsx
Labels: frontend

#305 ANDPADの入金一覧情報バックアップを更新します
  package-lock.json
  packages-automation/auto-paymentAlert/index.ts
  packages-automation/auto-paymentAlert/package.json
  packages-automation/auto-paymentAlert/readme.md
  packages-automation/auto-paymentAlert/src/downloadPaymentsData/downloadPaymentsData.test.ts
  packages-automation/auto-paymentAlert/src/downloadPaymentsData/downloadPaymentsData.ts
  packages-automation/auto-paymentAlert/src/index.ts
  packages-automation/auto-paymentAlert/src/login/login.ts
  packages-automation/auto-paymentAlert/src/preparePaymentAlert.ts
  packages-automation/auto-paymentAlert/tsconfig.json
Labels: repo, rpa

#509 K91-契約一覧に「作成日時」と「更新日時」を追加しました
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/TRowLayout.tsx
Labels: frontend

#515 K85-工事登録に「ゆめてつAG」と「ここすも営業担当者」を追加する
  packages/api-kintone/src/custgroups/helpers/groupAgentsByType.test.ts
  packages/api-kintone/src/custgroups/helpers/groupAgentsByType.ts
  packages/api-kintone/src/projects/helpers/groupAgentsByType.test.ts
  packages/api-kintone/src/projects/helpers/groupAgentsByType.ts
  packages/kokoas-client/src/components/ui/selects/EmployeesSelector/EmployeeSelector.tsx
  packages/kokoas-client/src/components/ui/selects/EmployeesSelector/SearchByName.tsx
  packages/kokoas-client/src/pages/projRegisterV2/Contents.tsx
  packages/kokoas-client/src/pages/projRegisterV2/api/convertCustGroupToForm.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/convertProjToForm.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/fieldMapJa.ts
  packages/kokoas-client/src/pages/projRegisterV2/form.ts
  packages/kokoas-client/src/pages/projRegisterV2/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/CocoAGSelect.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/CocoAGSelectSet.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/CocoConstSelect.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/CocoConstSelectSet.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/ControlledEmployeeSelector.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/OfficersInput.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/YumeAGSelect.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/YumeAGSelectSet.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/ProjectInformation.tsx
Labels: frontend, api

#521 K94-契約登録にカテゴリーフィールドを追加する
  packages/config/src/contract.ts
  packages/config/src/index.ts
  packages/kokoas-client/src/api/docusign/downloadContract.ts
  packages/kokoas-client/src/pages/projContractV2/FormContract.tsx
  packages/kokoas-client/src/pages/projContractV2/FormInput.tsx
  packages/kokoas-client/src/pages/projContractV2/api/convertContractToForm.ts
  packages/kokoas-client/src/pages/projContractV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projContractV2/fields/ControlledCurrencyInput.tsx
  packages/kokoas-client/src/pages/projContractV2/fields/ControlledDatePicker.tsx
  packages/kokoas-client/src/pages/projContractV2/fields/ProfitRate.tsx
  packages/kokoas-client/src/pages/projContractV2/form.ts
  packages/kokoas-client/src/pages/projContractV2/parts/PaymentMethod.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/preview/startcontract/StartDialog.tsx
  packages/kokoas-client/src/pages/projContractV2/schema.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/ConstructionPeriods.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/FormActions.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/TotalAmount.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/AdditionalContract.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/ContractType.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/ContractTypeField.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/ContractTypeFieldChoices.tsx
  packages/kokoas-server/src/handleRequest/reqDownloadContractV2.ts
  packages/kokoas-server/src/handleRequest/reqGetProjectFromAndpadByProjId.ts
  packages/kokoas-server/src/handleRequest/reqGetProjectsFromAndpad.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generateContractPdfV2.test.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/generateContractPdfV2.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getContractDataV2.test.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getContractDataV2.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/makeEnvelopeV2.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/processContractV2.test.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/processContractV2.ts
  packages/types/src/common/server.ts
  packages/types/src/dtsgen/db.contracts.d.ts
Labels: frontend, backend

#527 K89-契約一覧に結果の金額合計を表示するようになりました。
  packages/kokoas-client/src/pages/projContractSearchV2/FormContractSearch.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/ResultsCount.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/WrappedSearchField.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/FilterForm.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultInfoDisplay.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultTotalAmount.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/Results.tsx
Labels: frontend

#528 K99-契約一覧の結果を工事種別で絞りたい
  packages/kokoas-client/src/pages/projContractSearch/parts/filterChips/FilterChips.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/FormContractSearch.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/form.ts
  packages/kokoas-client/src/pages/projContractSearchV2/formValidation.ts
  packages/kokoas-client/src/pages/projContractSearchV2/helpers/itemsSorter.ts
  packages/kokoas-client/src/pages/projContractSearchV2/helpers/parseValueToLabel.ts
  packages/kokoas-client/src/pages/projContractSearchV2/helpers/translateKey.ts
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useFilteredContracts.ts
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useNewValuesFromParams.ts
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useSubmitHandler.ts
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useTypedHooks.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/WrappedSearchField.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterChips/FilterChips.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/AmountRange.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/AmountRangeSlider.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/ContractDateRange.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/ContractStatus.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/ContractStatusIncomplete.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/DateRangeField.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/FilterDialog.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/FilterForm.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/ProjectTypes.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/Stores.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/amountRange/AmountRange.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/amountRange/ConrtolledAmountField.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultsTHeadSortLabel.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/schema.ts
Labels: frontend

#535 K100-契約一覧の絞り込みの店舗順を修正しました。
  packages/api-kintone/src/stores/getAllStores.ts
  packages/kokoas-client/src/pages/projContractSearchV2/parts/filterDialog/Stores.tsx
Labels: frontend, api

#503 kintoneの入金一覧アプリへandpadの入金情報をアップロードする
  package-lock.json
  packages-automation/auto-andpadPaymentBackup/config.ts
  packages-automation/auto-andpadPaymentBackup/index.ts
  packages-automation/auto-andpadPaymentBackup/package.json
  packages-automation/auto-andpadPaymentBackup/readme.md
  packages-automation/auto-andpadPaymentBackup/src/downloadPaymentsData/downloadPaymentsData.test.ts
  packages-automation/auto-andpadPaymentBackup/src/downloadPaymentsData/downloadPaymentsData.ts
  packages-automation/auto-andpadPaymentBackup/src/index.ts
  packages-automation/auto-andpadPaymentBackup/src/login/login.ts
  packages-automation/auto-andpadPaymentBackup/src/preparePaymentAlert.ts
  packages-automation/auto-andpadPaymentBackup/tsconfig.json
  packages-automation/auto-common/src/browser.test.ts
  packages-automation/auto-kintone/package.json
  packages-automation/auto-kintone/src/login.ts
  packages-automation/auto-kintone/src/uploadCSV.test.ts
  packages-automation/auto-kintone/src/uploadCSV.ts
  packages-automation/auto-paymentAlert/readme.md
Labels: repo, rpa

#540 andpad入金一覧backup用のnode-cron設定の追加
  package-lock.json
  package.json
  packages-automation/auto-andpadPaymentBackup/main.ts
Labels: repo, rpa

#548 K105-契約一覧の行をクリックしたら、契約の編集画面に移動するようになりました。
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultsTBody.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultsTableContainer.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/TRowLayout.tsx
Labels: frontend

#554 node-cronの設定を修正しました
  packages-automation/auto-andpadPaymentBackup/index.ts
  packages-automation/auto-andpadPaymentBackup/package.json
  packages-automation/auto-andpadPaymentBackup/src/index.ts
  packages-automation/auto-andpadPaymentBackup/src/login/login.test.ts
  packages-automation/auto-kintone/src/uploadCSV.ts
Labels: rpa

#553 K106-契約一覧に「新規契約」というボタンを追加しました。
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/NewContractButton.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/Results.tsx
Labels: frontend

#555 K95-契約一覧に署名手法を追加しました。
  packages/kokoas-client/src/helpers/translations.ts
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useFilteredContracts.ts
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultsTBody.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultsTHead.tsx
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/TRowLayout.tsx
Labels: frontend

#556 K109-契約一覧に「お客様のみ」で検索を追加しました。
  packages/kokoas-client/src/pages/projContractSearchV2/parts/WrappedSearchField.tsx
Labels: frontend

#559 K110-工事登録の工事種別に「その他」を選択したら、何の工事なのか記入出来るようになりました。
  packages/kokoas-client/src/pages/projRegisterV2/api/convertProjToForm.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/fieldMapJa.ts
  packages/kokoas-client/src/pages/projRegisterV2/fields/ControlledTextField.tsx
  packages/kokoas-client/src/pages/projRegisterV2/form.ts
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/OtherProjType.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/ProjectInformation.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/ProjectType.tsx
  packages/types/src/dtsgen/db.custGroups.d.ts
  packages/types/src/dtsgen/db.projEstimates.d.ts
  packages/types/src/dtsgen/db.projects.d.ts
Labels: frontend

#564 K112-工事名称 will now be prioritized when generating options..
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/ProjectType.tsx
Labels: frontend

#565 hotfix-K114-工事編集に契約があるにもかかわらず、「その他工事種別名」が編集可になっている。
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/ProjectType.tsx
Labels: frontend

#566 入金一覧バックアップ処理を、ブラウザのタブ1つで動かす
  packages-automation/auto-andpadPaymentBackup/src/preparePaymentAlert.ts
Labels: rpa

#574 K117-工事番号を追加
  packages/kokoas-client/src/pages/projSearch/form.ts
  packages/kokoas-client/src/pages/projSearch/hooks/useParseQuery.ts
  packages/kokoas-client/src/pages/projSearch/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/ResultHead.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/RowLayout.tsx
  packages/kokoas-client/src/pages/projSearch/types.ts
Labels: frontend

#576 K97-担当者を追加しました。
  packages/kokoas-client/src/pages/projSearch/sections/result/details/projectDetails/OfficerDetails.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/projectDetails/ProjectDetails.tsx
Labels: frontend

#567 K108-契約報告書の表示と作成
  .gitignore
  package-lock.json
  package.json
  packages/api-kintone/src/contracts/getLatestCompleteContracts.ts
  packages/api-kintone/src/contracts/getLatestCompletedContracts.test.ts
  packages/config/src/baseUrl.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useContractById.ts
  packages/kokoas-client/src/hooksQuery/useContractReport.ts
  packages/kokoas-client/src/hooksQuery/useCustGroupById.ts
  packages/kokoas-client/src/hooksQuery/useExternalImg.ts
  packages/kokoas-client/src/hooksQuery/useLatestCompletedContracts.ts
  packages/kokoas-client/src/pages/@home/Home.tsx
  packages/kokoas-client/src/pages/@home/parts/Title.tsx
  packages/kokoas-client/src/pages/@home/sections/completedTickets/CompletedTickets.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/CocoAgent.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/NewContracts.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/NewContractsTable.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/OpenCertificate.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/CertViewer.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/CertViewerContent.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/fields/ControlledTextField.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/fields/FinancingMethod.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/form.ts
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/hooks/useResolveForm.ts
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/hooks/useTypedRHF.ts
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/inputForm/InputForm.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/inputForm/SaveButton.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/schema.ts
  packages/kokoas-client/src/pages/custGroup/hooks/useSubmitHandler.tsx
  packages/kokoas-server/src/handleRequest/reqContractReport/generateContractReport.test.ts
  packages/kokoas-server/src/handleRequest/reqContractReport/generateContractReport.ts
  packages/kokoas-server/src/handleRequest/reqContractReport/getContractReportData.test.ts
  packages/kokoas-server/src/handleRequest/reqContractReport/getContractReportData.ts
  packages/kokoas-server/src/handleRequest/reqContractReport/reqContractReport.ts
  packages/kokoas-server/src/handleRequest/reqImageToBase64.ts
  packages/kokoas-server/src/route/kokoas.ts
  packages/libs/src/endpoints.ts
  packages/types/src/dtsgen/db.contracts.d.ts
  test.png
Labels: repo, frontend, backend, api

#578 Reimplement canvas
  .gitignore
  package-lock.json
  package.json
  packages/api-kintone/src/contracts/getLatestCompleteContracts.ts
  packages/api-kintone/src/contracts/getLatestCompletedContracts.test.ts
  packages/config/src/baseUrl.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useContractById.ts
  packages/kokoas-client/src/hooksQuery/useCustGroupById.ts
  packages/kokoas-client/src/hooksQuery/useExternalImg.ts
  packages/kokoas-client/src/hooksQuery/useLatestCompletedContracts.ts
  packages/kokoas-client/src/pages/@home/Home.tsx
  packages/kokoas-client/src/pages/@home/parts/Title.tsx
  packages/kokoas-client/src/pages/@home/sections/completedTickets/CompletedTickets.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/CocoAgent.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/NewContracts.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/OpenCertificate.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/CertViewer.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/CertViewerContent.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/CertViewerDialogBody.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/fields/ControlledTextField.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/fields/FinancingMethod.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/form.ts
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/hooks/useResolveForm.ts
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/hooks/useTypedRHF.ts
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/inputForm/InputForm.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/inputForm/SaveButton.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/certViewer/schema.ts
  packages/kokoas-client/src/pages/@home/sections/newContracts/useReportCanvas.ts
  packages/kokoas-client/src/pages/custGroup/hooks/useSubmitHandler.tsx
  packages/kokoas-server/src/handleRequest/reqContractReport/__TEST__/test.png
  packages/kokoas-server/src/handleRequest/reqContractReport/generateContractReport.test.ts
  packages/kokoas-server/src/handleRequest/reqContractReport/generateContractReport.ts
  packages/kokoas-server/src/handleRequest/reqContractReport/getContractReportData.test.ts
  packages/kokoas-server/src/handleRequest/reqContractReport/getContractReportData.ts
  packages/kokoas-server/src/handleRequest/reqContractReport/reqContractReport.ts
  packages/kokoas-server/src/handleRequest/reqImageToBase64.ts
  packages/kokoas-server/src/route/kokoas.ts
  packages/libs/src/endpoints.ts
  packages/types/src/dtsgen/db.contracts.d.ts
  test.png
Labels: repo, frontend, backend, api

#580 K120 メニューを整理しました。
  package-lock.json
  packages/kokoas-client/package.json
  packages/kokoas-client/src/components/nav/MainMenu.tsx
  packages/kokoas-client/src/components/nav/menus/common/LinkListItemButton.tsx
  packages/kokoas-client/src/components/nav/menus/registrations/Registrations.tsx
  packages/kokoas-client/src/components/nav/menus/registrations/readme.md
  packages/kokoas-client/src/components/nav/menus/reports/readme.md
  packages/kokoas-client/src/components/nav/menus/search/Search.tsx
  packages/kokoas-client/src/components/nav/menus/search/readme.md
  packages/kokoas-client/src/components/nav/persistentNav/PersistentDesktopDrawer.tsx
  packages/kokoas-client/src/pages/projRegisterV2/api/rankingValues.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/NewCustomerButton.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/Result.tsx
Labels: repo, frontend
