Repository cocosumo/yumecoco-monorepo, pull requests merged in 2023-12, with the labels that each got.

#955 hotfix-複写で顧客（個人）ひもづいたままになっていました
  packages/kokoas-client/src/pages/custGroup/api/convertToForm.ts
  packages/kokoas-client/src/pages/custGroup/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/custGroup/sections/actions/Actions.tsx
Labels: frontend

#957 K277-契約がある顧客を削除出来ないようにする
  packages/kokoas-client/src/hooksQuery/useContractsByCustGroupIdV2.ts
  packages/kokoas-client/src/hooksQuery/useContractsByProjIds.ts
  packages/kokoas-client/src/pages/custGroup/hooks/useLinkedContracts.ts
  packages/kokoas-client/src/pages/custGroup/sections/actions/Actions.tsx
  packages/kokoas-client/src/pages/custGroup/sections/actions/DeleteButton.tsx
  packages/kokoas-client/src/pages/custGroup/sections/actions/deleteButton/ConfirmDelete.tsx
  packages/kokoas-client/src/pages/custGroup/sections/actions/deleteButton/ConfirmationDialog.tsx
  packages/kokoas-client/src/pages/custGroup/sections/actions/deleteButton/CustomChip.tsx
  packages/kokoas-client/src/pages/custGroup/sections/actions/deleteButton/DateChip.tsx
  packages/kokoas-client/src/pages/custGroup/sections/actions/deleteButton/DeleteButton.tsx
  packages/kokoas-client/src/pages/custGroup/sections/actions/deleteButton/EnvStatusChip.tsx
  packages/kokoas-client/src/pages/custGroup/sections/actions/deleteButton/LinkedContracts.tsx
Labels: frontend

#959 hotfix-入金アラートのリマインダーURLと通知設定を修正します
  packages-automation/auto-paymentAlertV2/src/helpers/convAlertDate.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convAlertDate.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertRemindersToJson.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessage.test.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessage.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessageForManager.test.ts
  packages-automation/auto-paymentAlertV2/src/notifyPaymentAlertToChatwork.ts
  packages-kintone-customize/app-261-paymentReminder/package.json
Labels: customize, rpa

#960 リマインダーアプリのフィールド表示設定の修正および、リファクタリング
  packages-automation/auto-paymentAlert/config.ts
  packages-automation/auto-paymentAlert/main.ts
  packages-automation/auto-paymentAlert/package.json
  packages-automation/auto-paymentAlert/readme.md
  packages-automation/auto-paymentAlert/settings.ts
  packages-automation/auto-paymentAlert/src/api-kintone/addPaymentReminder.test.ts
  packages-automation/auto-paymentAlert/src/api-kintone/addPaymentReminder.ts
  packages-automation/auto-paymentAlert/src/api-kintone/getAllPaymentReminder.test.ts
  packages-automation/auto-paymentAlert/src/api-kintone/getAllPaymentReminder.ts
  packages-automation/auto-paymentAlert/src/api-kintone/getPaymentRemindersByAlertDate.test.ts
  packages-automation/auto-paymentAlert/src/api-kintone/getPaymentRemindersByAlertDate.ts
  packages-automation/auto-paymentAlert/src/api-kintone/index.ts
  packages-automation/auto-paymentAlert/src/api-kintone/updatePaymentReminder.ts
  packages-automation/auto-paymentAlert/src/createPaymentAlert.test.ts
  packages-automation/auto-paymentAlert/src/createPaymentAlert.ts
  packages-automation/auto-paymentAlert/src/createPaymentAlertFromContracts.test.ts
  packages-automation/auto-paymentAlert/src/createPaymentAlertFromContracts.ts
  packages-automation/auto-paymentAlert/src/helpers/calcAlertDate.test.ts
  packages-automation/auto-paymentAlert/src/helpers/calcAlertDate.ts
  packages-automation/auto-paymentAlert/src/helpers/convertContractsToJson.test.ts
  packages-automation/auto-paymentAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToJson.test.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToKintone.ts
  packages-automation/auto-paymentAlert/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-paymentAlert/src/helpers/filterContractsByTargetProjType.test.ts
  packages-automation/auto-paymentAlert/src/helpers/filterContractsByTargetProjType.ts
  packages-automation/auto-paymentAlert/src/helpers/filterContractsToAlertTarget.test.ts
  packages-automation/auto-paymentAlert/src/helpers/filterContractsToAlertTarget.ts
  packages-automation/auto-paymentAlert/src/helpers/getEarliestDateOfContract.test.ts
  packages-automation/auto-paymentAlert/src/helpers/getEarliestDateOfContract.ts
  packages-automation/auto-paymentAlert/src/helpers/getYumeAgNames.test.ts
  packages-automation/auto-paymentAlert/src/helpers/getYumeAgNames.ts
  packages-automation/auto-paymentAlert/src/helpers/registerReminders.ts
  packages-automation/auto-paymentAlert/src/helpers/updateReportedReminders.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/chatworkRoomIdSetting.test.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/chatworkRoomIdSetting.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/generateMessage.test.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/generateMessage.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/generateMessageForManager.test.ts
  packages-automation/auto-paymentAlert/src/notificationFunc/generateMessageForManager.ts
  packages-automation/auto-paymentAlert/src/notifyPaymentAlertToChatwork.test.ts
  packages-automation/auto-paymentAlert/src/notifyPaymentAlertToChatwork.ts
  packages-automation/auto-paymentAlert/src/paymentReminder.ts
  packages-automation/auto-paymentAlert/tsconfig.json
  packages-automation/auto-paymentAlert/types/kintone.data.d.ts
  packages-automation/auto-paymentAlert/types/paymentReminder.ts
  packages-kintone-customize/app-261-paymentReminder/src/eventHandlers/onDetailShowHandler.ts
  packages-kintone-customize/app-269-invoiceReminder/src/eventHandlers/onDetailShowHandler.ts
Labels: customize, rpa

#958 工事情報に自社工事区分を追加する
  package-lock.json
  packages-kintone-customize/app-261-paymentReminder/src/types/types.ts
  packages/api-kintone/src/inHouseProjTypes/config.ts
  packages/api-kintone/src/inHouseProjTypes/getInHouseProjTypes.test.ts
  packages/api-kintone/src/inHouseProjTypes/getInHouseProjTypes.ts
  packages/api-kintone/src/inHouseProjTypes/index.ts
  packages/api-kintone/src/index.ts
  packages/config/src/appIds.ts
  packages/kokoas-client/package.json
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useInHouseProjTypes.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/convertProjToForm.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/fieldMapJa.ts
  packages/kokoas-client/src/pages/projRegisterV2/form.ts
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/InHouseProjType.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectInformation/ProjectType.tsx
  packages/types/src/dbKintone.ts
  packages/types/src/dtsgen/db.employees.d.ts
  packages/types/src/dtsgen/db.inHouseProjTypes.d.ts
  packages/types/src/dtsgen/db.projects.d.ts
Labels: repo, frontend, api, customize

#966 963-契約書の返金チェックボックスに0円でもチェックを許可し、カテゴリにも返金を追加する
  packages/kokoas-client/src/pages/projContractV2/schema.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/contractType/AdditionalContract.tsx
Labels: frontend

#965 原価管理表の計算方法を修正します
  packages/api-kintone/src/contracts/getContractsSummary.test.ts
  packages/api-kintone/src/contracts/getContractsSummary.ts
Labels: api

#967 K283-fix contractDate
  packages/kokoas-client/src/pages/projSearch/hooks/useSearchResult.ts
Labels: frontend

#968 K284
  packages-kintone-customize/app-229-contracts/src/helpers/getLatestMonths.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/indexShow.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/hooks/useContractsByFiscalYear.ts
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/ResultPerStore.tsx
  packages-kintone-customize/app-229-contracts/src/view/indexShow/renderCumulative/sections/results/Results.tsx
  packages-kintone-customize/app-229-contracts/webpack.config.js
Labels: customize

#950 粗利表を表示します
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/config.ts
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/form.ts
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/results/Results.tsx
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/results/cumulativeTableByArea/CumulativeTableAverage.tsx
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/results/cumulativeTableByArea/CumulativeTableByArea.tsx
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/results/cumulativeTableByArea/CumulativeTableTotal.tsx
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/results/cumulativeTableByArea/TableRowLayout.tsx
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/results/helper/getDatePeriod.test.ts
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/results/helper/getDatePeriod.ts
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/results/helper/getMonthsNum.ts
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/results/helper/getViewData.ts
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/results/helper/getViewDataTotal.ts
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/results/hooks/useAreaNameById.ts
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/results/hooks/useCumulativeTableTotal.ts
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/results/manthlyTableByArea/CumulativeTableTotal.tsx
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/formGrossProfitTable/schema.ts
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/helpers/getSummaryContracts.ts
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/hooks/useEmployees.ts
  packages-kintone-customize/app-292-grossProfitStatement/src/eventHandlers/hooks/useProjects.ts
  packages/api-kintone/src/andpadProcurement/calculation/calcProfitability.ts
Labels: api, customize
