Repository cocosumo/yumecoco-monorepo, pull requests merged in 2023-08, with the labels that each got.

#583 K126-メニューを改修しました。
  packages/kokoas-client/src/components/nav/MainMenu.tsx
  packages/kokoas-client/src/components/nav/menus/ConstructionMenu.tsx
  packages/kokoas-client/src/components/nav/menus/ContractInputV2.tsx
  packages/kokoas-client/src/components/nav/menus/ContractSearch.tsx
  packages/kokoas-client/src/components/nav/menus/CustomerMenu.tsx
  packages/kokoas-client/src/components/nav/menus/common/LinkListItemButton.tsx
  packages/kokoas-client/src/components/nav/menus/registrations/Registrations.tsx
  packages/kokoas-client/src/pages/projProspectSearch/FormProjProspectSearch.tsx
Labels: frontend

#584 K98 change sign flow ras
  packages/api-kintone/src/employees/getContractCheckers.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getContractDataV2.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getRecipients/commonCC.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getRecipients/commonSigners.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getRecipients/flwElectronic.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getRecipients/flwJisha.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getRecipients/flwService.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getRecipients/flwWetInk.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getRecipients/getRecipients.test.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getRecipients/getRecipients.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/makeEnvelopeV2.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/processContractV2.test.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/processContractV2.ts
  packages/kokoas-server/src/handleRequest/reqVoidEnvelopeV2.ts
Labels: backend, api

#585 K118 refactor flow ras
  packages/api-kintone/src/employees/getContractCheckers.ts
  packages/kokoas-server/src/handleRequest/reqDownloadContractV2.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getContractDataV2.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getRecipients/commonCC.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getRecipients/flwElectronic.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getRecipients/flwWetInk.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getRecipients/getRecipients.test.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/processContractV2.test.ts
Labels: backend, api

#572 andpadの実行予算データを整形する
  .gitignore
  packages/api-kintone/src/andpadProcurement/calculation/calcProfitability.test.ts
  packages/api-kintone/src/andpadProcurement/calculation/calcProfitability.ts
  packages/api-kintone/src/andpadProcurement/config.ts
  packages/api-kintone/src/andpadProcurement/getAndpadProcurementByAndpadProjId.test.ts
  packages/api-kintone/src/andpadProcurement/getAndpadProcurementByAndpadProjId.ts
  packages/api-kintone/src/projTypes/config.ts
  packages/api-kintone/src/projTypes/getProjTypeById.test.ts
  packages/api-kintone/src/projTypes/getProjTypeById.ts
  packages/config/src/appIds.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/generateCostManagement.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostManagement.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostManagement.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/reqCostManagement.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/summarizeOrderingCompanyInfo.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/summarizeOrderingCompanyInfo.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/testData.ts
  packages/libs/src/endpoints.ts
  packages/types/npm-scripts/dtsgenall.ts
  packages/types/src/dbKintone.ts
  packages/types/src/dtsgen/db.andpadOrders.d.ts
  packages/types/src/dtsgen/db.contracts.d.ts
  packages/types/src/dtsgen/db.projTypes.d.ts
Labels: backend, api

#590 K236 add report link to contract ras
  packages/kokoas-client/src/components/ui/dialogs/certViewer/CertViewer.tsx
  packages/kokoas-client/src/components/ui/dialogs/certViewer/CertViewerContent.tsx
  packages/kokoas-client/src/components/ui/dialogs/certViewer/CertViewerDialogBody.tsx
  packages/kokoas-client/src/components/ui/dialogs/certViewer/fields/ControlledTextField.tsx
  packages/kokoas-client/src/components/ui/dialogs/certViewer/fields/FinancingMethod.tsx
  packages/kokoas-client/src/components/ui/dialogs/certViewer/form.ts
  packages/kokoas-client/src/components/ui/dialogs/certViewer/helpers/resizeText.ts
  packages/kokoas-client/src/components/ui/dialogs/certViewer/hooks/useResolveForm.ts
  packages/kokoas-client/src/components/ui/dialogs/certViewer/hooks/useTypedRHF.ts
  packages/kokoas-client/src/components/ui/dialogs/certViewer/inputForm/InputForm.tsx
  packages/kokoas-client/src/components/ui/dialogs/certViewer/inputForm/SaveButton.tsx
  packages/kokoas-client/src/components/ui/dialogs/certViewer/schema.ts
  packages/kokoas-client/src/components/ui/dialogs/certViewer/useReportCanvas.ts
  packages/kokoas-client/src/pages/@home/sections/newContracts/NewContractsTable.tsx
  packages/kokoas-client/src/pages/@home/sections/newContracts/OpenCertificate.tsx
  packages/kokoas-client/src/pages/projContractV2/FormContract.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/preview/PreviewButton.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/FormActions.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/formActions/CommonActions.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/formActions/DeleteButton.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/formActions/FormActions.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/formActions/FormActionsAlert.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/formActions/ReportButton.tsx
Labels: frontend

#587 K6-原価見積をexcelに出力します
  packages/kokoas-server/src/assets/getFilePath.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/createCostMngXlsx.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/createCostMngXlsx.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/createOrderAmountPerMonth.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/initCostMngWorksheet.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/testData.ts
Labels: backend

#589 K6-原価管理表のフロントエンド表示-ras
  package-lock.json
  package.json
  packages/api-andpad/src/@auth/andpadClient.ts
  packages/api-kintone/src/estimates/uploadDaikokuEst.tsx
  packages/api-kintone/src/estimates/uploadDaikokuGenka.ts
  packages/kokoas-client/src/api/andpad/getCostMgtDataByProjId.ts
  packages/kokoas-client/src/api/andpad/getOrderBySystemId.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useAndpadBySystemId.ts
  packages/kokoas-client/src/hooksQuery/useAndpadCostMgtDataByProjId.ts
  packages/kokoas-client/src/hooksQuery/useDetailedAndpadOrderByProjId.ts
  packages/kokoas-client/src/pages/projContractV2/parts/preview/menu/void/StepReason.tsx
  packages/kokoas-client/src/pages/projProspectSearch/FormikProjProspectSearch.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/DetailsContent.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/DetailsDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/Actions.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/CostMgtDetails.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/Summary.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/SummaryDetails.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/SummaryInfo.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/purchases/Purchases.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/purchases/PurchasesTableContainer.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/purchases/index.css
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/purchases/useColumns.tsx
  packages/kokoas-server/src/api/docusign/authentication/fetchUserInfo.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/reqCostMgtDataByProjId.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/processContractV2.ts
  packages/kokoas-server/src/route/kokoas.ts
  packages/libs/src/endpoints.ts
Labels: repo, frontend, backend, api

#599 hotfix-K145-ココアスの顧客登録→工事登録で顧客情報が反映されない
  packages/kokoas-client/src/api/others/getCostMgtExcelByData.test.ts
  packages/kokoas-client/src/pages/custGroup/hooks/useSubmitHandler.tsx
  packages/kokoas-client/src/pages/custGroup/sections/officersInput/StoreSelect.tsx
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/createCostMngXlsx.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV2.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/converyMonthlyProcurement.test.ts
Labels: frontend, backend

#600 T148 エラーメッセージを追加しました。
  packages/kokoas-client/src/pages/projSearch/sections/result/details/DetailsDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/CostMgtDetails.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/Summary.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/purchases/useColumns.tsx
Labels: frontend

#601 K143 add profit rate
  packages/kokoas-client/src/components/ui/dialogs/certViewer/useReportCanvas.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/costMgtDetails/CostMgtDetails.tsx
Labels: frontend

#602 K149-契約金額算出処理を修正しました
  packages/api-kintone/src/andpadProcurement/calculation/calcProfitability.test.ts
  packages/api-kintone/src/andpadProcurement/calculation/calcProfitability.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjId.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV2.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV2.ts
Labels: backend, api

#605 K15-顧客一覧にのキーワードの横に顧客名検索のフィールドが欲しい
  packages/kokoas-client/src/pages/projSearch/sections/filter/Filter.tsx
  packages/kokoas-client/src/pages/projSearch/sections/filter/Keyword.tsx
Labels: frontend

#606 K151-K150-原価管理表のテンプレートファイルを修正しました
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/createCostMngXlsx.ts
Labels: backend

#607 原価管理表の工事名の修正と利益の追加します
  packages/api-kintone/src/andpadProcurement/calculation/calcProfitability.test.ts
  packages/api-kintone/src/andpadProcurement/calculation/calcProfitability.ts
  packages/api-kintone/src/stores/getStoreByStoreCode.test.ts
  packages/api-kintone/src/stores/getStoreByStoreCode.ts
  packages/api-kintone/src/stores/index.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/createCostMngXlsx.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/helpers/shapeProjNum.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/helpers/shapeProjNum.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/initCostMngWorksheet.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjId.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV2.ts
  packages/types/src/common/costManagement.tsx
Labels: backend, api

#608 社有車レンタル
  package-lock.json
  packages-kintone-customize/app-91-carReservation/.env.example
  packages-kintone-customize/app-91-carReservation/.eslintignore
  packages-kintone-customize/app-91-carReservation/app-91-carReservation.code-workspace
  packages-kintone-customize/app-91-carReservation/babel.config.json
  packages-kintone-customize/app-91-carReservation/jest.config.js
  packages-kintone-customize/app-91-carReservation/kintone.local.json
  packages-kintone-customize/app-91-carReservation/kintone.prod.json
  packages-kintone-customize/app-91-carReservation/package.json
  packages-kintone-customize/app-91-carReservation/src/api/fetchCars.test.ts
  packages-kintone-customize/app-91-carReservation/src/api/fetchCars.ts
  packages-kintone-customize/app-91-carReservation/src/api/fetchConflictByCarAndDate.ts
  packages-kintone-customize/app-91-carReservation/src/api/fetchConflictByCarAndDateExceptId.ts
  packages-kintone-customize/app-91-carReservation/src/api/fetchConflictByDate.ts
  packages-kintone-customize/app-91-carReservation/src/api/fetchReservations.ts
  packages-kintone-customize/app-91-carReservation/src/api/sendEmail.test.ts
  packages-kintone-customize/app-91-carReservation/src/api/sendEmail.ts
  packages-kintone-customize/app-91-carReservation/src/components/CustomTheme.tsx
  packages-kintone-customize/app-91-carReservation/src/components/message/Message.css
  packages-kintone-customize/app-91-carReservation/src/components/message/Message.tsx
  packages-kintone-customize/app-91-carReservation/src/components/table/Table.css
  packages-kintone-customize/app-91-carReservation/src/components/table/Table.tsx
  packages-kintone-customize/app-91-carReservation/src/config.ts
  packages-kintone-customize/app-91-carReservation/src/handlers/onEditOrCreateHandler/AvailableCarsV2.tsx
  packages-kintone-customize/app-91-carReservation/src/handlers/onEditOrCreateHandler/onEditOrCreateHandler.tsx
  packages-kintone-customize/app-91-carReservation/src/handlers/onEditOrCreateHandler/useChangeListener.ts
  packages-kintone-customize/app-91-carReservation/src/handlers/onIndexShowHandler/CarSelect.tsx
  packages-kintone-customize/app-91-carReservation/src/handlers/onIndexShowHandler/ReservationStatus.tsx
  packages-kintone-customize/app-91-carReservation/src/handlers/onIndexShowHandler/onIndexShowHandler.tsx
  packages-kintone-customize/app-91-carReservation/src/handlers/onIndexShowHandler/reservationCalendar/ReservationCalendar.css
  packages-kintone-customize/app-91-carReservation/src/handlers/onIndexShowHandler/reservationCalendar/ReservationCalendar.tsx
  packages-kintone-customize/app-91-carReservation/src/handlers/onSubmitHandler/onSubmitHandler.ts
  packages-kintone-customize/app-91-carReservation/src/handlers/onSubmitSuccessHandler/onSubmitSuccessHandler.ts
  packages-kintone-customize/app-91-carReservation/src/helpers/extractBasicDetails.ts
  packages-kintone-customize/app-91-carReservation/src/helpers/generateHTMLNotifcation.ts
  packages-kintone-customize/app-91-carReservation/src/helpers/getConflictReservation.ts
  packages-kintone-customize/app-91-carReservation/src/helpers/isValidTimeDuration.ts
  packages-kintone-customize/app-91-carReservation/src/helpers/showAlert.ts
  packages-kintone-customize/app-91-carReservation/src/index.ts
  packages-kintone-customize/app-91-carReservation/src/types/carAppFields.d.ts
  packages-kintone-customize/app-91-carReservation/src/types/event.ts
  packages-kintone-customize/app-91-carReservation/src/types/kintone.data.d.ts
  packages-kintone-customize/app-91-carReservation/tsconfig.json
  packages-kintone-customize/app-91-carReservation/webpack.config.js
  packages/api-kintone/src/@dom/typedAPI.ts
  packages/api-sendgrid/index.ts
  packages/api-sendgrid/src/sendEmail.test.ts
  packages/api-sendgrid/src/sendEmail.ts
  packages/kokoas-server/src/handleRequest/sendgrid/reqSendEmail.ts
  packages/kokoas-server/src/main.ts
  packages/kokoas-server/src/middlewares/apiKeyMiddleware.ts
  packages/kokoas-server/src/route/kokoas.ts
  packages/kokoas-server/src/route/sendgrid.ts
  packages/libs/src/endpoints.ts
  packages/types/src/common/server.ts
Labels: repo, backend, api, customize

#609 K155-備考を追加しました。
  packages/kokoas-client/src/api/others/getCostMgtExcelByData.test.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/customerDetails/CustomerDetails.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/customerDetails/Memo.tsx
Labels: frontend

#611 K107-工事編集画面の関連契約欄に「新しい契約」というボタンが欲しい
  packages/kokoas-client/src/pages/projRegisterV2/sections/contractsSummary/Contracts.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/contractsSummary/ContractsSummary.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/contractsSummary/NewContractButton.tsx
Labels: frontend

#616 K137- 補助金の横にある「工事に含む」と「顧客に返金」のラジオボタンを削除しました
  packages/kokoas-client/src/pages/projContractV2/api/convertContractToForm.ts
  packages/kokoas-client/src/pages/projContractV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projContractV2/form.ts
  packages/kokoas-client/src/pages/projContractV2/parts/SubsidyAmount.tsx
  packages/kokoas-client/src/pages/projContractV2/schema.tsx
Labels: frontend

#617 K147-契約登録で、単価のラベルに「税抜き」という言葉を追加してほしい
  packages/kokoas-client/src/pages/projContractV2/sections/TotalAmount.tsx
Labels: frontend

#619 K135-テンプレートの変更
  packages/api-kintone/src/andpadProcurement/calculation/calcProfitability.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/createCostMngXlsx.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/initCostMngWorksheet.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV3.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/convertMonthlyProcurementV2.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/convertMonthlyProcurementV2.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/createMonths.ts
  packages/types/src/common/costManagement.tsx
Labels: backend, api

#624 K158-Andpadへ登録とういうボタンの横に説明文を配置
  packages/kokoas-client/src/pages/projRegisterV2/parts/AndpadButtonContainer.tsx
  packages/kokoas-client/src/pages/projRegisterV2/parts/ForcedAndpadLink.tsx
  packages/kokoas-client/src/pages/projRegisterV2/parts/saveToAndpad/SaveToAndpadButton.tsx
Labels: frontend

#625 hotfix 月の配列を作成する処理
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/createMonths.ts
Labels: backend

#626 Hotfix-原価管理表のエクセルファイル出力処理を修正しました
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/createCostMngXlsx.ts
Labels: backend
