Repository cocosumo/yumecoco-monorepo, pull requests merged in 2024-03, with the labels that each got.

#1071 hotfix-テスト処理を修正します。
  packages-automation/auto-unissuedInvoiceReminder/src/helper/getUnissuedInvReminderRecByAlertDate.test.ts
Labels: rpa

#1066 1065-リマインダー設定用のURLのバグ修正
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useActiveUnissuedInvReminders.ts
  packages/kokoas-client/src/hooksQuery/useActiveUnissuedInvRemindersByProjId.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/hooks/useActiveUnissuedInvRemindersByProjId.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/hooks/useAlertNotify.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/hooks/useSaveReminder.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/notifyAlertToCharwork/createMessage.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/notifyAlertToCharwork/summarizeMessageInfo.ts
Labels: frontend

#1067 1064-請求書未発行アラートのリマインダー通知用のメッセージを準備します
  packages-automation/auto-unissuedInvoiceReminder/src/helper/getUnissuedInvReminderRecByAlertDate.test.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/getRemindersScheduledForToday.test.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/getRemindersScheduledForToday.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/createReminderMessage.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/helper/getAlertTarget.test.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/helper/getAlertTarget.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/notifyReminderToChatwork.ts
  packages-automation/auto-unissuedInvoiceReminder/src/unissuedInvoiceReminders.ts
Labels: rpa

#1072 k312-hotfix-原価管理表の修正
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/createCostMngXlsx.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/createCostMngXlsx.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/convertMonthlyProcurementV4.test.ts
Labels: backend

#1075 K313-住所（都道府県市区町村）と住所（番地以降）が結合されて郵便番号を生成する。
  packages/kokoas-client/src/api/others/getPostalByAddress.test.ts
  packages/kokoas-client/src/api/others/getPostalByAddress.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectLocation/AddressCheck.tsx
Labels: frontend

#1092 fix-見積のリンクで内容がロードされない
  packages/kokoas-client/src/pages/projEstimate/hooks/useResolveParam.ts
Labels: frontend

#1093 fix-1088-bug-顧客管理から見積タブを開いたらラグが発生します
  packages/kokoas-client/src/pages/projSearch/sections/result/details/estimatesDetails/EstimateActions.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/estimatesDetails/EstimateContent.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/estimatesDetails/EstimatesDetails.tsx
Labels: frontend

#1095 fix-1094-単位が選べない空のプルダウンが表示されてしまう
  packages/kokoas-client/src/hooksQuery/useUnits.ts
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/renderers/renderUnits.tsx
Labels: frontend

#1074 チャットワークへ請求書未発行のリマインダーを通知する
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/createReminderMessage.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/helper/createReminderMsgForAccountant.test.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/helper/createReminderMsgForAccountant.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/helper/createReminderMsgForCocoAg.test.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/helper/createReminderMsgForCocoAg.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/helper/getAlertTarget.test.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/helper/getAlertTarget.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/notifyReminderToAccountantCw.test.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/notifyReminderToAccountantCw.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/notifyReminderToChatwork.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/notifyReminderToCocoAgCw.test.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/notifyReminderToCocoAgCw.ts
Labels: rpa

#1083 1082-通知したリマインダーレコードの更新処理を実装する
  packages-automation/auto-unissuedInvoiceReminder/src/sections/updateReminders/convertReminderToKintone.test.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/updateReminders/convertReminderToKintone.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/updateReminders/updateReminders.test.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/updateReminders/updateReminders.ts
  packages-automation/auto-unissuedInvoiceReminder/src/unissuedInvoiceReminders.ts
  packages/api-kintone/src/unissuedInvoiceAlert/updateUnissuedInvoiceAlert.ts
Labels: api, rpa

#1100 1096-補助金アラートに入金日の入力フィールドを追加する
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertContent.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialogContent.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/alertConfig.ts
Labels: frontend

#1098 fix-1097-間違えて見積り上書きしないように現状を上の方に表示してほしい新規作成中既存の見積りを上書き編集中-等
  packages/kokoas-client/src/pages/projEstimate/FormProjEstimate.tsx
Labels: frontend

#1114 hotfix- 契約や見積もり画面は　リフレッシュしまくっている
  packages/kokoas-client/src/components/ui/fabs/FabSave.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/preview/ContractDialog.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/preview/PreviewContent.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/preview/PreviewHeader.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/preview/RefreshButton.tsx
  packages/kokoas-client/src/pages/projContractV2/parts/preview/startcontract/StartContract.tsx
  packages/kokoas-client/src/pages/projEstimate/FormContents.tsx
  packages/kokoas-client/src/pages/projEstimate/FormProjEstimate.tsx
  packages/kokoas-client/src/pages/projEstimate/formActions/ActionButtons.tsx
  packages/kokoas-client/src/pages/projEstimate/formActions/BtnCancelEdit.tsx
  packages/kokoas-client/src/pages/projEstimate/formActions/BtnSave.tsx
  packages/kokoas-client/src/pages/projEstimate/formActions/BtnSaveTemporary.tsx
  packages/kokoas-client/src/pages/projEstimate/formActions/FormActionsContainer.tsx
  packages/kokoas-client/src/pages/projEstimate/formActions/Processing.tsx
  packages/kokoas-client/src/pages/projEstimate/formActions/index.ts
  packages/kokoas-client/src/pages/projEstimate/hooks/useResolveParam.ts
Labels: frontend

#1115 1113-行追加すると選択行の上に追加されるため最終行に追加できない
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/useDataGridKeyCellKeyDown.ts
Labels: frontend

#1122 K315-契約画面、着手を編集出来るようにしてほしい
  packages/kokoas-client/src/pages/projContractV2/FormInput.tsx
  packages/kokoas-client/src/pages/projContractV2/sections/ConstructionPeriods.tsx
Labels: frontend

#1123 K319-契約一覧で、未完了の契約は上位に出るようにしてほしい
  packages/kokoas-client/src/pages/projContractSearchV2/form.ts
  packages/kokoas-client/src/pages/projContractSearchV2/helpers/itemsSorter.ts
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useFilteredContracts.ts
Labels: frontend

#1144 hotfix-K320-ココアス 契約一覧 作成日・更新日のソートが掛けられない
  packages/kokoas-client/src/pages/projContractSearchV2/helpers/itemsSorter.ts
Labels: frontend

#1148 Update SearchProjects.tsx
  packages/kokoas-client/src/components/reactHookForm/SearchProjects.tsx
Labels: frontend

#1106 fix 1105-ボタンで保存したいときに都度スクロールしないといけないため常に見える位置に欲しい
  packages/kokoas-client/src/pages/projEstimate/navigationComponents/GoToContractButton.tsx
  packages/kokoas-client/src/pages/projEstimate/sections/ActionButton.tsx
  packages/kokoas-client/src/pages/projEstimate/sections/CustomAlert.tsx
Labels: frontend

#1121 1112 オート保存機能端末内にが欲しい
  packages/kokoas-client/src/pages/projEstimate/hooks/useSaveForm.tsx
  packages/kokoas-client/src/pages/projEstimate/sections/ActionButton.tsx
  packages/kokoas-client/src/pages/projEstimate/sections/UnsavedMitsumori.tsx
  packages/kokoas-client/src/pages/projEstimate/sections/UnsavedMitsumoriModal.tsx
  packages/kokoas-client/src/pages/projEstimate/staticComponents/EstimatesInfo.tsx
Labels: frontend

#1141 1099 フィールド選択時文字末尾にカーソルが行くが文字全選択した状態にしてほしい
  package-lock.json
  package.json
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/DraggableRowRenderer.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/EstimateDataGrid.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/EstimateDataGridContainer.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/Usage.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/renderers/CustomAutocomplete.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/renderers/readme.md
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/renderers/renderMajorItem.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/renderers/renderMaterials.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/renderers/renderMiddleItem.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/renderers/renderNumber.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/renderers/renderText.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/useChangeRows.ts
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/useColumns.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/useDataGridKeyCellKeyDown.ts
  packages/kokoas-client/src/pages/projEstimate/staticComponents/EstimateTableLabel.tsx
Labels: repo, frontend

#1155 1143-fix-見積もりを保存すると画面がローディングになりフォーカスをなくしてしまいます
  packages/kokoas-client/src/pages/projEstimate/FormProjEstimate.tsx
  packages/kokoas-client/src/pages/projEstimate/hooks/useSaveForm.tsx
  packages/kokoas-client/src/pages/projEstimate/hooks/useSaveHotkey.ts
Labels: frontend

#1158 K321-見積登録のテーブルの高さを画面のサイズに合わせる。
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/EstimateDataGridContainer.tsx
Labels: frontend

#1159 iconのインポートを修正しました。
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/Usage.tsx
Labels: frontend

#1160 1156-fix-ラベルと値を重なる現象を修正しました。
  packages/kokoas-client/src/pages/projEstimate/fields/Remarks.tsx
Labels: frontend

#1162 1143-見積もりで保存後、同じところにフォーカスするように
  packages/kokoas-client/src/pages/projEstimate/hooks/useSaveForm.tsx
  packages/kokoas-client/src/pages/projEstimate/hooks/utils/refocus.ts
Labels: frontend

#1168 見積もりの入力のtypeをnumberからtextに変更しました。
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/renderers/renderNumber.tsx
Labels: frontend

#1102 1101-アラートメッセージの内容を修正します
  package-lock.json
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/helper/createReminderMsgForAccountant.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/helper/createReminderMsgForCocoAg.ts
  packages/kokoas-client/src/components/ui/datetimepickers/JADatePicker.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertContent.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertTarget.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/hooks/useAlertNotify.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/notifyAlertToCharwork/createMessage.ts
  packages/types/src/dtsgen/db.unissuedInvoiceAlert.d.ts
Labels: repo, frontend, rpa

#1170 補助金の入金予定日をリマインダー用DBに保存します
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/hooks/useSaveReminder.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/saveReminder/convertToKintone.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/saveReminder/getPlannedDepositDate.ts
Labels: frontend

#1178 1176 bug 本番環境の見積入力で保存するとフォーカスが外れます
  packages/kokoas-client/src/hooksQuery/useEstimateById.ts
Labels: frontend

#1177 1171-アラート発行ボタンの押下時に、経理担当者にも通知する
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/hooks/useAlertNotify.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/notifyAlertToCharwork/getCwRoomIds.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/readme.md
Labels: frontend

#1188 1186-fix-工事を新規に作るとき住所の横にローディングが表示されます
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectLocation/AddressCheck.tsx
Labels: frontend

#1194 1189-メニューに発注を追加しました。
  packages/kokoas-client/src/components/nav/MainMenu.tsx
  packages/kokoas-client/src/components/nav/menus/OrderInput.tsx
  packages/kokoas-client/src/components/nav/menus/OrderMenu.tsx
  packages/kokoas-client/src/pages/Router.tsx
  packages/kokoas-client/src/pages/order/FormOrder.tsx
  packages/kokoas-client/src/pages/order/readme.md
Labels: frontend

#1198 1197-請求書未発行アラートにも入金日を追加する
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertContent.tsx
Labels: frontend

#1196 請求書未発行アラートのボタンに権限を設定する
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/UnisssuedInvoiceAlert.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/alertConfig.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/hooks/useAlertIssuer.ts
Labels: frontend

#1200 1195 顧客一覧の詳細に「発注」タブを追加しました。
  packages/kokoas-client/src/pages/projSearch/sections/result/details/DetailsContent.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/DetailsDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/common/ActionButton.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/common/NewButton.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/orderDetails/OrderDetails.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/orderDetails/actions/Actions.tsx
Labels: frontend

#1203 メニューのラベルを変更しました。
  packages/kokoas-client/src/components/nav/menus/OrderInput.tsx
  packages/kokoas-client/src/components/nav/menus/OrderMenu.tsx
Labels: frontend

#1205 feat-発注メニュとタブを本番では表示しない
  packages/kokoas-client/src/components/nav/MainMenu.tsx
  packages/kokoas-client/src/config/settings.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/DetailsDialog.tsx
Labels: frontend

#1221 発注登録にスキーアを追加しました。
  packages/kokoas-client/src/pages/order/form.ts
  packages/kokoas-client/src/pages/order/schema.ts
Labels: frontend

#1222 1215 入力フォームを配置する
  packages/kokoas-client/src/pages/order/FormOrder.tsx
  packages/kokoas-client/src/pages/order/common/UnderdevelopmentAlert.tsx
  packages/kokoas-client/src/pages/order/form.ts
  packages/kokoas-client/src/pages/order/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/order/hooks/useTypedRHF.ts
  packages/kokoas-client/src/pages/order/inputGrid/DraggableRowRenderer.tsx
  packages/kokoas-client/src/pages/order/inputGrid/OrderBudgetDataGrid.tsx
  packages/kokoas-client/src/pages/order/inputGrid/OrderBudgetDataGridContainer.tsx
  packages/kokoas-client/src/pages/order/inputGrid/Usage.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/CustomAutocomplete.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/readme.md
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderCheckBox.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderMajorItem.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderMaterials.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderMiddleItem.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderNumber.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderTaxType.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderText.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderUnits.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useChangeRows.ts
  packages/kokoas-client/src/pages/order/inputGrid/useColumns.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useDataGridKeyCellKeyDown.ts
  packages/kokoas-client/src/pages/order/inputGrid/useRowValues.ts
  packages/kokoas-client/src/pages/order/schema.ts
  packages/kokoas-client/src/pages/projContractV2/schema.tsx
Labels: frontend

#1223 保存と登録ボタンを配置しました。
  packages/kokoas-client/src/pages/order/FormOrder.tsx
  packages/kokoas-client/src/pages/order/sections/ActionButton.tsx
Labels: frontend

#1224 1217-ショートカットを実装しました。
  packages/kokoas-client/src/pages/order/FormOrder.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useColumns.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useDataGridKeyCellKeyDown.ts
  packages/kokoas-client/src/pages/order/sections/inputGridLabel/HelpHotkeys.tsx
  packages/kokoas-client/src/pages/order/sections/inputGridLabel/OrderTableLabel.tsx
Labels: frontend

#1227 1219 保存機能を実装しました
  packages/api-kintone/src/orderBudget/config.ts
  packages/api-kintone/src/orderBudget/getOrderBudgetById.ts
  packages/api-kintone/src/orderBudget/saveOrderBudget.test.ts
  packages/api-kintone/src/orderBudget/saveOrderBudget.ts
  packages/kokoas-client/src/components/reactHookForm/SearchProjects.tsx
  packages/kokoas-client/src/helpers/url.ts
  packages/kokoas-client/src/hooks/useURLParamsV2.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useOrderBudgetById.ts
  packages/kokoas-client/src/hooksQuery/useSaveOrderBudget.ts
  packages/kokoas-client/src/pages/order/FormOrder.tsx
  packages/kokoas-client/src/pages/order/api/convertOrderBudgetToForm.ts
  packages/kokoas-client/src/pages/order/api/convertToKintone.ts
  packages/kokoas-client/src/pages/order/form.ts
  packages/kokoas-client/src/pages/order/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/order/hooks/useSaveForm.tsx
  packages/kokoas-client/src/pages/order/hooks/useSaveHotkey.ts
  packages/kokoas-client/src/pages/order/inputGrid/OrderBudgetDataGridContainer.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderNumber.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderTaxType.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderText.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useChangeRows.ts
  packages/kokoas-client/src/pages/order/inputGrid/useColumns.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useDataGridKeyCellKeyDown.ts
  packages/kokoas-client/src/pages/order/schema.ts
  packages/kokoas-client/src/pages/order/sections/ActionButton.tsx
  packages/kokoas-client/src/pages/order/utils/fieldTranslations.ts
  packages/kokoas-client/src/pages/order/utils/refocus.ts
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/renderers/renderNumber.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/renderers/renderText.tsx
  packages/types/src/dtsgen/db.orderBudget.d.ts
Labels: frontend, api

#1228 発注登録のバリデーションを実装しました。
  packages/kokoas-client/src/pages/order/hooks/useSaveForm.tsx
  packages/kokoas-client/src/pages/order/inputGrid/OrderBudgetDataGridContainer.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useColumns.tsx
  packages/kokoas-client/src/pages/order/schema.ts
Labels: frontend
