Repository cocosumo/yumecoco-monorepo, pull requests merged in 2024-01, with the labels that each got.

#980 K289 hotfix postal
  packages/api-andpad/src/@post/saveProject.ts
  packages/kokoas-client/src/api/andpad/convertProjToAndpad.ts
  packages/kokoas-client/src/api/others/getPostalByAddress.test.ts
  packages/kokoas-client/src/api/others/getPostalByAddress.ts
Labels: frontend, api

#981 K289-工事登録の住所に検証を追加しました。
  packages/kokoas-client/src/api/andpad/convertProjToAndpad.ts
  packages/kokoas-client/src/api/andpad/getOrderBySystemId.ts
  packages/kokoas-client/src/api/others/getAddressDetails.test.ts
  packages/kokoas-client/src/api/others/getPostalByAddress.test.ts
  packages/kokoas-client/src/api/others/getPostalByAddress.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useDetailedAndpadOrderByProjId.ts
  packages/kokoas-client/src/hooksQuery/usePostalByAddress.ts
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectLocation/AddressCheck.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectLocation/ProjectLocation.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectLocation/postalField/MaskedPostal.tsx
  packages/libs/src/addressHasPrefecture.test.ts
  packages/libs/src/addressHasPrefecture.ts
  packages/libs/src/getPrefectures.ts
  packages/libs/src/index.ts
Labels: frontend

#985 K290 add file display
  packages/kokoas-client/src/pages/projContractSearchV2/helpers/itemsSorter.ts
  packages/kokoas-client/src/pages/projContractSearchV2/hooks/useFilteredContracts.ts
  packages/kokoas-client/src/pages/projContractSearchV2/parts/results/ResultsTBody.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/contractDetails/ContractInfo.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/contractDetails/ContractList.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/contractDetails/Files.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/contractDetails/ListItemLayout.tsx
Labels: frontend

#988 請求書アラートで、リマインダー通知前に契約書からの情報を更新します
  packages-automation/auto-invoiceAlert/src/api-kintone/getAllInvoiceReminder.test.ts
  packages-automation/auto-invoiceAlert/src/createInvoiceAlertFromContracts.test.ts
  packages-automation/auto-invoiceAlert/src/createInvoiceAlertFromContracts.ts
  packages-automation/auto-invoiceAlert/src/helpers/calcAlertDate.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/compileNotificationSettings.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/compileNotificationSettings.ts
  packages-automation/auto-invoiceAlert/src/helpers/convAlertDate.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/convAlertDate.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertContractsToJson.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToJson.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToKintone.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-invoiceAlert/src/helpers/filterContractsToAlertTarget.ts
  packages-automation/auto-invoiceAlert/src/helpers/updateExpectedPaymentDate.test.ts
  packages-automation/auto-invoiceAlert/src/helpers/updateExpectedPaymentDate.ts
  packages-automation/auto-invoiceAlert/src/invoiceReminder.ts
  packages-automation/auto-invoiceAlert/src/notifyInvoiceAlertToChatwork.ts
  packages-automation/auto-invoiceAlert/types/InvoiceReminder.ts
  packages-automation/auto-invoiceAlert/types/kintone.data.d.ts
Labels: rpa

#996 入金アラートで、情報更新の際の再通知日を修正します
  packages-automation/auto-paymentAlertV2/src/helpers/convAlertDate.ts
  packages-automation/auto-paymentAlertV2/src/helpers/updateReportedReminders.ts
  packages-automation/auto-paymentAlertV2/src/notifyPaymentAlertToChatwork.ts
Labels: rpa

#997 hotfix-契約書を要約する処理を修正します
  packages/api-kintone/src/contracts/getContractsSummary.test.ts
  packages/api-kintone/src/contracts/getContractsSummary.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV4.test.ts
Labels: backend, api

#995 入金・請求アラートで、最終通知日の更新タイミングを修正します
  packages-automation/auto-invoiceAlert/src/helpers/convertContractsToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-invoiceAlert/types/InvoiceReminder.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertPaymentsToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertReminderToKintoneUpdate.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertRemindersToJson.ts
  packages-automation/auto-paymentAlertV2/src/notifyPaymentAlertToChatwork.ts
  packages-automation/auto-paymentAlertV2/types/paymentReminder.ts
Labels: rpa

#998 hotfix-入金アラートのサマリー送信の際の対象レコードを修正します
  packages-automation/auto-paymentAlertV2/src/notifyPaymentAlertToChatwork.ts
Labels: rpa

#1001 hotfix-請求書アラートのリマインダーの間隔を修正します
  packages-automation/auto-invoiceAlert/src/helpers/updateReportedReminders.ts
Labels: rpa

#1008 入金一覧のクリーンアップ処理を修正する
  packages-automation/auto-cleanUpPayments/cleanUpAndpadPaymentsV2.ts
Labels: rpa

#1010 hotfix-顧客一覧の入金のタブの内容に入金予定金額がは表示されない
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/PayTableBody.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/PayTableHead.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/paymentsTable/RowLayout.tsx
Labels: frontend

#1013 工事情報編集画面に台帳情報を追加する
  packages/kokoas-client/src/pages/projRegisterV2/Contents.tsx
  packages/kokoas-client/src/pages/projRegisterV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projRegisterV2/form.ts
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/LedgerInformation/LedgerInformation.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/LedgerInformation/LedgerRadioButton.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/projectDetails/ProjectDetails.tsx
  packages/types/src/dtsgen/db.projects.d.ts
Labels: frontend

#1014 hotfix-工事情報の管理台帳情報の表示値を修正します
  package-lock.json
  packages/kokoas-client/package.json
  packages/kokoas-client/src/pages/projRegisterV2/api/convertProjToForm.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/LedgerInformation/LedgerInformation.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/LedgerInformation/LedgerRadioButton.tsx
Labels: repo, frontend

#1009 大黒さん案件をアラート対象外とする
  packages-automation/auto-invoiceAlert/src/helpers/convertReminderToJson.ts
  packages-automation/auto-invoiceAlert/src/helpers/filterContractsToAlertTarget.ts
  packages-automation/auto-paymentAlertV2/src/helpers/compileNotificationSettings.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/compileNotificationSettings.ts
  packages-automation/auto-paymentAlertV2/src/helpers/convertRemindersToJson.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterAPPaymentsToAlertTarget.ts
  packages-automation/auto-paymentAlertV2/src/paymentReminder.ts
Labels: rpa
