Repository cocosumo/yumecoco-monorepo, pull requests merged in 2024-06, with the labels that each got.

#1433 1431 発注は発注済の場合差し戻しボタンが表示される
  packages/kokoas-client/src/pages/order/orderRequestForm/hooks/useOrderStatus.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogActions/OrderDialogActions.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogActions/returnButton.tsx/ReturnButton.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogTitle/OrderStatus.tsx
Labels: frontend

#1435 1434-差し戻しボタンを押したら未発注状態に戻る
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogActions/OrderDialogActions.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogActions/returnButton.tsx/ReturnButton.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogActions/returnButton/ReturnButton.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogActions/returnButton/useHasInvoiceB2B.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogActions/returnButton/useReturnStatus.ts
Labels: frontend

#1429 1427-発注登録画面で発注があるとセルと行削除が出来ないようにする
  packages/kokoas-client/src/hooks/useDataGridKeyCellKeyDown.ts
Labels: frontend

#1437 k334-工事依頼書を修正する
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument/createOrderDocument.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument/createOrderRequest/createOrderRequestHeader.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/getOrderData.ts
  packages/types/src/common/order.ts
Labels: backend

#1447 1422-請求書画面に契約情報を表示する
  packages/kokoas-client/src/pages/projInvoiceV2/FormInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useTypedRHF.ts
  packages/kokoas-client/src/pages/projInvoiceV2/sections/contractInfo/ContractInfo.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/contractInfo/ContractList.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/contractInfo/PlanContractInfo.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/contractInfo/TotalContractAmt.tsx
Labels: frontend

#1449 1448-請求書画面に顧客情報を表示する
  packages/kokoas-client/src/pages/projInvoiceV2/FormInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/parts/Info.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/parts/StaticContents.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/CustomerInfo/CustomerInfo.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/contractInfo/ContractInfo.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/contractInfo/PlanContractInfo.tsx
Labels: frontend

#1446 発注の削除を実装する。
  packages/api-kintone/src/order/deleteOrderBy$Id.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useDeleteOrderBy$Id.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/api/convertOrderToForm.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogActions/deleteButton/DeleteButton.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogActions/deleteButton/useDeleteOrder.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/selectSupplier/SelectSupplier.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/schema.ts
Labels: frontend, api

#1451 1450-請求入力画面に工事情報を表示する
  packages/kokoas-client/src/pages/projInvoiceV2/FormInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/CustomerInfo.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/ProjInfo.tsx
Labels: frontend

#1460 請求入力(BtoC)に関わるリファクタリング
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useContractsByIds.ts
  packages/kokoas-client/src/pages/projInvoiceV2/api/convertInvoiceToForm.ts
  packages/kokoas-client/src/pages/projInvoiceV2/form.ts
  packages/kokoas-client/src/pages/projInvoiceV2/schema.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/contractInfo/ContractInfo.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/contractInfo/PlanContractInfo.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/contractInfo/TotalContractAmt.tsx
Labels: frontend

#1461 1457-発注書を差し戻した際、発注登録画面の一覧では「発注済」のままになっている
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogActions/returnButton/useReturnStatus.ts
Labels: frontend

#1459 1462-請求入力画面に請求済み金額と請求残額の表示を追加する
  packages/kokoas-client/src/pages/projInvoiceV2/FormInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/parts/AmountInfo.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/DisplaySection.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/BillingAmount.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/InputSection.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/InvoiceItem.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/Remarks.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/Summary.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/contractInfo/TotalContractAmt.tsx
Labels: frontend

#1466 1465-請求入力画面に備考欄を追加する
  packages/kokoas-client/src/pages/projInvoiceV2/schema.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/InputSection.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/Remarks.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/RemarksGroup/PayMethod.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/RemarksGroup/Remarks.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/RemarksGroup/RemarksGroup.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/RemarksGroup/ScheduledPayDate.tsx
Labels: frontend

#1467 1456 見積入力にチェックボックス欄を追加しました
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/pages/projEstimate/api/convertEstimateToForm.ts
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/renderers/renderCheckBox.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/useColumns.tsx
  packages/kokoas-client/src/pages/projEstimate/form.ts
  packages/kokoas-client/src/pages/projEstimate/hooks/utils/fieldTranslations.ts
  packages/kokoas-client/src/pages/projEstimate/schema.ts
Labels: frontend

#1464 1463-請求金額入力エリアを実装する
  packages/kokoas-client/src/pages/projInvoiceV2/form.ts
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/AddButton.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/BillingAmount.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/DeleteButton.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/InputSection.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/InvoiceItem.tsx
Labels: frontend

#1470 1454 見積入力にボタンで行追加したい
  packages/kokoas-client/src/pages/projEstimate/FormContents.tsx
  packages/kokoas-client/src/pages/projEstimate/hooks/index.ts
  packages/kokoas-client/src/pages/projEstimate/hooks/useTypedRHF.ts
  packages/kokoas-client/src/pages/projEstimate/sections/gridActions/GridActions.tsx
  packages/kokoas-client/src/pages/projEstimate/sections/gridActions/InsertRow.tsx
Labels: frontend

#1469 1463-契約書から請求項目を作成する
  package-lock.json
  packages/api-kintone/src/invoiceB2C/getInvoiceB2CById.test.ts
  packages/api-kintone/src/invoiceB2C/getInvoiceB2CById.ts
  packages/api-kintone/src/invoiceB2C/getInvoicesB2CByProjId.test.ts
  packages/api-kintone/src/invoiceB2C/getInvoicesB2CByProjId.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useContractsByProjIdV2.ts
  packages/kokoas-client/src/hooksQuery/useInvoicesB2CByProjId.ts
  packages/kokoas-client/src/pages/projInvoiceV2/api/convertInvoiceToForm.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/helper/getBilledItems.test.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/helper/getBilledItems.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/helper/getBillingItems.test.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/helper/getBillingItems.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useBillingItems.ts
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/InvoiceItem.tsx
  packages/types/src/dtsgen/db.invoiceB2C.d.ts
Labels: repo, frontend, api

#1471 1455 見積入力にボタンで行削除したい
  packages/kokoas-client/src/pages/projEstimate/FormContents.tsx
  packages/kokoas-client/src/pages/projEstimate/sections/gridActions/DeleteRows.tsx
  packages/kokoas-client/src/pages/projEstimate/sections/gridActions/GridActions.tsx
Labels: frontend

#1475 1474顧客請求の要約欄を実装する
  packages/kokoas-client/src/pages/projInvoiceV2/FormInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/parts/AmountInfo.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/InputSection.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/InvoiceItem.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/Summary.tsx
Labels: frontend

#1476 1179 見積をコピー出来るようにする
  packages/kokoas-client/src/components/reactHookForm/SearchProjects.tsx
  packages/kokoas-client/src/pages/projEstimate/formActions/copy/CopyConfirm.tsx
  packages/kokoas-client/src/pages/projEstimate/formActions/copy/CopyDialogContent.tsx
  packages/kokoas-client/src/pages/projEstimate/formActions/copy/CopyForm.tsx
  packages/kokoas-client/src/pages/projEstimate/sections/ActionButton.tsx
Labels: frontend

#1478 1477-K341-見積画面で合計欄を常に表示するようになりました
  packages/kokoas-client/src/pages/projEstimate/FormContents.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/EstimateDataGridContainer.tsx
  packages/kokoas-client/src/pages/projEstimate/sections/ActionButton.tsx
Labels: frontend

#1441 k338-設計契約が存在する場合に本契約書を保存できないエラーの対応
  packages/kokoas-client/src/pages/projContractV2/api/convertContractToForm.test.ts
  packages/kokoas-client/src/pages/projContractV2/api/convertContractToForm.ts
  packages/kokoas-client/src/pages/projContractV2/sections/hasProjPlan/IncludePlanContractAmtRadio.tsx
Labels: frontend

#1484 1483-請求合計金額の計算処理を実装する
  packages/kokoas-client/src/pages/projInvoiceV2/api/convertInvoiceToForm.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/helper/getAllBillingItems.test.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/helper/getAllBillingItems.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/helper/getBillingItems.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useBillingItems.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useBillingTotal.ts
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/DisplaySection.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/BillingAmount.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/InputSection.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/InvoiceItem.tsx
Labels: frontend

#1489 1488-請求残額の計算処理を実装する
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/pages/projInvoiceV2/api/convertInvoiceToForm.ts
  packages/kokoas-client/src/pages/projInvoiceV2/form.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useBillingTotal.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/projInvoiceV2/parts/AmountInfo.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/schema.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/BillingAmount.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/Summary.tsx
Labels: frontend

#1491 1490-請求項目と契約書を契約順で並び替える
  packages/kokoas-client/src/pages/projInvoiceV2/api/convertInvoiceToForm.ts
  packages/kokoas-client/src/pages/projInvoiceV2/helper/sortContracts.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useBillingItems.ts
  packages/kokoas-client/src/pages/projInvoiceV2/sections/contractInfo/ContractInfo.tsx
Labels: frontend

#1487 fix-bug-見積もり画面で原価、数量、単価を入力したときに、原価金額が計算されていない
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/useChangeRows.ts
Labels: frontend

#1486 fix-bug-見積が新規の際に、案件の粗利率を１行目の項目の粗利に反映されない
  packages/kokoas-client/src/pages/projEstimate/hooks/useResolveParam.ts
Labels: frontend

#1493 1492-工事検索欄がクリアされたら請求画面もクリアする
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useInvoiceB2CById.ts
  packages/kokoas-client/src/pages/projInvoiceV2/api/convertInvoiceToForm.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useResolveParams.ts
Labels: frontend

#1496 1495-請求入力画面(B2C)に各種ボタンを配置する
  packages/kokoas-client/src/pages/projInvoiceV2/FormInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/actions/Actions.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/actions/DeleteInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/actions/IssueInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/actions/ReissueInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/actions/SaveInvoice.tsx
Labels: frontend

#1494 fix-1485-bug-見積入力画面を開くたびコンソールでエラーが出る
  packages/kokoas-client/src/pages/projEstimate/form.ts
  packages/kokoas-client/src/pages/projEstimate/schema.ts
Labels: frontend

#1503 1501-bug-見積を取得の際にコンソールでエラーが出ます
  packages/kokoas-client/src/hooksQuery/useEstimateById.ts
Labels: frontend

#1500 1499-請求入力(B2C)の保存処理を実装する
  packages/api-kintone/src/invoiceB2C/generateInvoiceB2CDataId.test.ts
  packages/api-kintone/src/invoiceB2C/generateInvoiceB2CDataId.ts
  packages/api-kintone/src/invoiceB2C/saveInvoiceB2C.test.ts
  packages/api-kintone/src/invoiceB2C/saveInvoiceB2C.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useSaveInvoiceB2C.ts
  packages/kokoas-client/src/pages/projInvoiceV2/FormInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/api/convertInvoiceToForm.ts
  packages/kokoas-client/src/pages/projInvoiceV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projInvoiceV2/form.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/helper/getBilledItems.test.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/helper/getBilledItems.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useBillingItems.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useSaveHandler.ts
  packages/kokoas-client/src/pages/projInvoiceV2/schema.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/AlertMessage.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/CustomerInfo.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/actions/Actions.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/actions/IssueInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/actions/ReissueInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/sections/actions/SaveInvoice.tsx
  packages/types/src/dtsgen/db.invoiceB2C.d.ts
Labels: frontend, api

#1508 1507-請求金額を手入力すると保存できなくなるバグの修正
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/BillingAmount.tsx
Labels: frontend

#1509 1506-請求項目と金額が空だと保存できないようにする
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useSaveHandler.ts
  packages/kokoas-client/src/pages/projInvoiceV2/schema.tsx
Labels: frontend

#1514 請求入力画面(B2C)の処理修正
  packages/kokoas-client/src/pages/projInvoiceV2/api/convertInvoiceToForm.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/projInvoiceV2/sections/InputInvoice/InputSection/BillingAmount.tsx
Labels: frontend

#1516 2024.06.30をリリースしました。
  package-lock.json
  packages/kokoas-client/package.json
  packages/kokoas-client/src/components/nav/MainMenu.tsx
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/emailOrderToSupplier.ts
Labels: repo, frontend, backend
