Repository cocosumo/yumecoco-monorepo, pull requests merged in 2024-02, with the labels that each got.

#1027 hotfix-郵便番号を全角で入力する際にダブっている
  package-lock.json
  packages/kokoas-client/package.json
  packages/kokoas-client/src/components/reactHookForm/NormalPostal.tsx
  packages/kokoas-client/src/lib/zodCustomSchema.ts
  packages/kokoas-client/src/pages/custGroup/schema.ts
  packages/kokoas-client/src/pages/custGroup/sections/customersInput/address/postal/MaskedPostal.tsx
  packages/kokoas-client/src/pages/custGroup/sections/customersInput/address/postal/Postal.tsx
  packages/kokoas-client/src/pages/projRegisterV2/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectLocation/FinalAddressFields.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectLocation/postalField/MaskedPostal.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectLocation/postalField/Postal.tsx
Labels: repo, frontend

#1018 1015-入金アラートのアラート開始日を修正する
  packages-automation/auto-paymentAlertV2/src/helpers/calcAlertStartDate.test.ts
  packages-automation/auto-paymentAlertV2/src/helpers/calcAlertStartDate.ts
  packages-automation/auto-paymentAlertV2/src/helpers/compileInfoFromSystemId.ts
  packages-automation/auto-paymentAlertV2/src/helpers/filterAPPaymentsToAlertTarget.ts
  packages-automation/auto-paymentAlertV2/src/notifyPaymentAlertToChatwork.ts
  packages-automation/auto-paymentAlertV2/src/paymentReminder.ts
Labels: rpa

#1024 1023-請求書未発行アラートの通知ボタンを設置する
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/PaymentDetails.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertButton.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/UnisssuedInvoiceAlert.tsx
Labels: frontend

#1031 1026-アラート通知ボタン押下時に、確認画面を表示する
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertButton.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertContent.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialogContent.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertPurposeRadio.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertTarget.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/alertConfig.ts
Labels: frontend

#1035 1034-アラート発行ボタンの配置を修正します
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/PaymentDetails.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/actions/Actions.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/UnisssuedInvoiceAlert.tsx
Labels: frontend

#1042 K305-hotfix-電話番号に全角スペースがあると、保存出来ない。
  packages/kokoas-client/src/api/andpad/convertProjToAndpad.ts
  packages/kokoas-client/src/pages/custGroup/api/formToDBCustomers.ts
Labels: frontend

#1047 hotfix-K307-fix-create-months
  packages/kokoas-server/src/handleRequest/reqCostManagement/createCostMngExcel/createCostMngXlsx.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV4.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/convertMonthlyProcurementV4.test.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/helpers/createMonths.ts
Labels: backend

#1037 crypto-es　を最新に更新
  packages-kintone-customize/app-229-contracts/package.json
Labels: customize

#1048 K308-補助金が入金されてたら、原価管理表には表示しないように
  packages/api-kintone/src/andpadProcurement/calculation/calcProfitability.ts
  packages/kokoas-server/src/handleRequest/reqCostManagement/getCostMgtDataByProjIdV4.ts
Labels: backend, api

#1049 削除の見た目を変えました。
  packages/kokoas-client/src/pages/projRegisterV2/hooks/useUpdateCancelStatus.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/cancelStatus/CancelStatus.tsx
Labels: frontend

#1050 K311 契約者が複数いる場合、Andpadへ保存するとき、顧客名に合致してほしい
  packages/kokoas-client/src/api/andpad/convertProjToAndpad.ts
Labels: frontend

#1033 1032-アラート情報をリマインダーアプリへ登録する
  packages/api-kintone/src/index.ts
  packages/api-kintone/src/unissuedInvoiceAlert/config.ts
  packages/api-kintone/src/unissuedInvoiceAlert/getAllUnissuedInvoiceAlerts.ts
  packages/api-kintone/src/unissuedInvoiceAlert/getUnissuedInvoiceAlertsByProjId.ts
  packages/api-kintone/src/unissuedInvoiceAlert/index.ts
  packages/api-kintone/src/unissuedInvoiceAlert/saveUnissuedInvoiceAlert.ts
  packages/config/src/appIds.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useAllUnissuedInvoiceAlerts.ts
  packages/kokoas-client/src/hooksQuery/useSaveUnissuedInvoiceAlert.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/actions/ActionButtons.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/actions/Actions.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialogContent.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/UnisssuedInvoiceAlert.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/saveReminder/convertToKintone.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/saveReminder/getEarliestDate.test.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/saveReminder/getEarliestDate.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/saveReminder/getNotificationSettings.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/saveReminder/hooks/useSaveReminder.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/saveReminder/summarizeContracts.ts
  packages/types/src/dbKintone.ts
  packages/types/src/dtsgen/db.unissuedInvoiceAlert.d.ts
Labels: frontend, api

#1040 1039-アラートが重複していないか確認する
  packages/api-kintone/src/unissuedInvoiceAlert/getActiveUnissuedInvoiceAlertsByProjId.test.ts
  packages/api-kintone/src/unissuedInvoiceAlert/getActiveUnissuedInvoiceAlertsByProjId.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useActiveUnissuedInvRemindersByProjId.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/NotificationButton.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/hooks/useSaveReminder.ts
Labels: frontend, api

#1055 app-91-car-reservationを単独レポジトリーへ移行しました。
  package-lock.json
  packages-kintone-customize/app-91-carReservation/.env-example
  packages-kintone-customize/app-91-carReservation/.eslintignore
  packages-kintone-customize/app-91-carReservation/app-91-carReservation.code-workspace
  packages-kintone-customize/app-91-carReservation/babel.config.json
  packages-kintone-customize/app-91-carReservation/jest.config.js
  packages-kintone-customize/app-91-carReservation/kintone.local.json
  packages-kintone-customize/app-91-carReservation/kintone.prod.json
  packages-kintone-customize/app-91-carReservation/package.json
  packages-kintone-customize/app-91-carReservation/src/api/fetchCars.test.ts
  packages-kintone-customize/app-91-carReservation/src/api/fetchCars.ts
  packages-kintone-customize/app-91-carReservation/src/api/fetchConflictByCarAndDate.ts
  packages-kintone-customize/app-91-carReservation/src/api/fetchConflictByCarAndDateExceptId.ts
  packages-kintone-customize/app-91-carReservation/src/api/fetchConflictByDate.ts
  packages-kintone-customize/app-91-carReservation/src/api/fetchReservations.ts
  packages-kintone-customize/app-91-carReservation/src/api/sendEmail.test.ts
  packages-kintone-customize/app-91-carReservation/src/api/sendEmail.ts
  packages-kintone-customize/app-91-carReservation/src/components/CustomTheme.tsx
  packages-kintone-customize/app-91-carReservation/src/components/message/Message.css
  packages-kintone-customize/app-91-carReservation/src/components/message/Message.tsx
  packages-kintone-customize/app-91-carReservation/src/components/table/Table.css
  packages-kintone-customize/app-91-carReservation/src/components/table/Table.tsx
  packages-kintone-customize/app-91-carReservation/src/config.ts
  packages-kintone-customize/app-91-carReservation/src/handlers/onEditOrCreateHandler/AvailableCarsV2.tsx
  packages-kintone-customize/app-91-carReservation/src/handlers/onEditOrCreateHandler/onEditOrCreateHandler.tsx
  packages-kintone-customize/app-91-carReservation/src/handlers/onEditOrCreateHandler/useChangeListener.ts
  packages-kintone-customize/app-91-carReservation/src/handlers/onIndexShowHandler/CarSelect.tsx
  packages-kintone-customize/app-91-carReservation/src/handlers/onIndexShowHandler/ReservationStatus.tsx
  packages-kintone-customize/app-91-carReservation/src/handlers/onIndexShowHandler/onIndexShowHandler.tsx
  packages-kintone-customize/app-91-carReservation/src/handlers/onIndexShowHandler/reservationCalendar/ReservationCalendar.css
  packages-kintone-customize/app-91-carReservation/src/handlers/onIndexShowHandler/reservationCalendar/ReservationCalendar.tsx
  packages-kintone-customize/app-91-carReservation/src/handlers/onSubmitHandler/onSubmitHandler.ts
  packages-kintone-customize/app-91-carReservation/src/handlers/onSubmitSuccessHandler/onSubmitSuccessHandler.ts
  packages-kintone-customize/app-91-carReservation/src/helpers/extractBasicDetails.ts
  packages-kintone-customize/app-91-carReservation/src/helpers/generateHTMLNotifcation.ts
  packages-kintone-customize/app-91-carReservation/src/helpers/getConflictReservation.ts
  packages-kintone-customize/app-91-carReservation/src/helpers/isValidTimeDuration.ts
  packages-kintone-customize/app-91-carReservation/src/helpers/showAlert.ts
  packages-kintone-customize/app-91-carReservation/src/index.ts
  packages-kintone-customize/app-91-carReservation/src/types/carAppFields.d.ts
  packages-kintone-customize/app-91-carReservation/src/types/event.ts
  packages-kintone-customize/app-91-carReservation/src/types/kintone.data.d.ts
  packages-kintone-customize/app-91-carReservation/tsconfig.json
  packages-kintone-customize/app-91-carReservation/webpack.config.dev.js
  packages-kintone-customize/app-91-carReservation/webpack.config.prod.js
Labels: repo, customize

#1057 1054-チャットワークへの請求書未発行アラート送信処理を実装
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialogContent.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/alertConfig.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/hooks/useAlertNotification.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/hooks/useSaveReminder.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/notifyAlertToCharwork/createMessage.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/notifyAlertToCharwork/getCwRoomIds.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/notifyAlertToCharwork/summarizeMessageInfo.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/saveReminder/summarizeContracts.ts
Labels: frontend

#1061 1060-請求書未発行アラート用に、リマインダー環境を準備する
  package-lock.json
  packages-automation/auto-unissuedInvoiceReminder/.env.example
  packages-automation/auto-unissuedInvoiceReminder/config.ts
  packages-automation/auto-unissuedInvoiceReminder/jest.config.ts
  packages-automation/auto-unissuedInvoiceReminder/main.ts
  packages-automation/auto-unissuedInvoiceReminder/package.json
  packages-automation/auto-unissuedInvoiceReminder/readme.md
  packages-automation/auto-unissuedInvoiceReminder/settings.ts
  packages-automation/auto-unissuedInvoiceReminder/src/unissuedInvoiceReminders.ts
  packages-automation/auto-unissuedInvoiceReminder/tsconfig.json
Labels: repo, rpa

#1063 1062-通知予定のレコード情報を取得する
  packages-automation/auto-unissuedInvoiceReminder/src/helper/getUnissuedInvReminderRecByAlertDate.test.ts
  packages-automation/auto-unissuedInvoiceReminder/src/helper/getUnissuedInvReminderRecByAlertDate.ts
  packages-automation/auto-unissuedInvoiceReminder/src/unissuedInvoiceReminders.ts
  packages/api-kintone/src/unissuedInvoiceAlert/getActiveUnissuedInvoiceAlertsByAlertDate.test.ts
  packages/api-kintone/src/unissuedInvoiceAlert/getActiveUnissuedInvoiceAlertsByAlertDate.ts
Labels: api, rpa
