Repository cocosumo/yumecoco-monorepo, pull requests merged in 2024-05, with the labels that each got.

#1388 発注依頼のダウンロード操作の際、エラーまたは成功がわかること。
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogActions/DownloadButton.tsx
  packages/kokoas-server/src/assets/getFont.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/downloadOrderToSupplier.ts
Labels: frontend, backend

#1373 1357-2-発注書のデータ取得・変換処理を実装する
  packages/api-kintone/src/suppliers/getSupplierById.test.ts
  packages/api-kintone/src/suppliers/getSupplierById.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/getOrderData.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/helper/getConstAddress.test.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/helper/getConstAddress.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/helper/getConstPeriod.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/helper/getProjNumJa.test.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/helper/getProjNumJa.ts
  packages/types/src/common/order.ts
Labels: backend, api

#1389 1383 発注依頼のダイヤログでステータスがわかる
  packages/kokoas-client/src/lib/progressColors.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderDialogTitle/OrderDialogTitle.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderDialogTitle/OrderStatus.tsx
Labels: frontend

#1392 メニューに請求一覧を追加しました。
  packages/kokoas-client/src/components/nav/menus/OrderInvoiceSearch.tsx
  packages/kokoas-client/src/components/nav/menus/OrderMenu.tsx
  packages/kokoas-client/src/pages/Router.tsx
  packages/kokoas-client/src/pages/orderInvoice/FormOrderInvoice.tsx
  packages/kokoas-client/src/pages/orderInvoice/FormOrderInvoiceContainer.tsx
Labels: frontend

#1393 1391 figmaにそってテーブルが表示されていること
  packages/kokoas-client/src/pages/orderInvoice/FormOrderInvoice.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/result/Result.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/result/ResultBody.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/result/ResultHead.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/result/ResultRow.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/result/ResultTable.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/result/RowLayout.tsx
  packages/kokoas-client/src/pages/orderInvoice/types.ts
Labels: frontend

#1396 1394 請求一覧で請求のデータが表示されること
  packages/api-kintone/src/invoiceB2B/getAllInvoiceB2B.test.ts
  packages/api-kintone/src/invoiceB2B/getAllInvoiceB2B.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useAllInvoiceB2B.ts
  packages/kokoas-client/src/hooksQuery/useAllSuppliers.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderMethod/EmailToField.tsx
  packages/kokoas-client/src/pages/orderInvoice/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/orderInvoice/hooks/useSuppliersMap.ts
  packages/kokoas-client/src/pages/orderInvoice/sections/result/Result.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/result/ResultRow.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/result/RowLayout.tsx
  packages/kokoas-client/src/pages/orderInvoice/types.ts
  packages/kokoas-e2e/cypress/downloads/downloads.htm
  packages/types/src/dtsgen/db.order.d.ts
Labels: frontend, api

#1401 1397 請求一覧で検索が出来るようになりました。
  packages/kokoas-client/src/pages/orderInvoice/FormOrderInvoice.tsx
  packages/kokoas-client/src/pages/orderInvoice/FormOrderInvoiceContainer.tsx
  packages/kokoas-client/src/pages/orderInvoice/form.ts
  packages/kokoas-client/src/pages/orderInvoice/hooks/useParsedQuery.ts
  packages/kokoas-client/src/pages/orderInvoice/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/orderInvoice/hooks/useStartSearch.ts
  packages/kokoas-client/src/pages/orderInvoice/hooks/useTypedRHF.ts
  packages/kokoas-client/src/pages/orderInvoice/schema.ts
  packages/kokoas-client/src/pages/orderInvoice/sections/filter/Filter.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/filter/ProjName.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/filter/ResetButton.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/filter/SearchButton.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/filter/invoiceDate/CustomDate.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/filter/invoiceDate/InvoiceDate.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/filter/invoiceDate/InvoiceDateFrom.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/filter/invoiceDate/InvoiceDateTo.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/result/Result.tsx
Labels: frontend

#1403 1400 請求一覧でステータスをクリックすると請求書画面が出ること
  packages/api-kintone/src/order/getOrderById.test.ts
  packages/api-kintone/src/order/getOrderById.ts
  packages/kokoas-client/src/components/ui/chips/ProgressStatusChip.tsx
  packages/kokoas-client/src/components/ui/dialogs/CloseButton.tsx
  packages/kokoas-client/src/components/ui/dialogs/index.ts
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/InvoiceFormDialog.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/api/convertInvoiceToForm.ts
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/api/convertInvoiceToKintone.ts
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/api/convertOrderBudgetItemsToForm.ts
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/api/convertOrderInfoToKintone.ts
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/api/convertOrderItemsToKintone.ts
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/api/convertOrderToForm.ts
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/common/InputDate.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/hooks/useInvoiceRHF.ts
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/hooks/useInvoiceStatus.ts
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/hooks/useItemsSummary.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/hooks/useResolveParams.ts
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/hooks/useSaveInvoiceForm.ts
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogActions/Checker.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogActions/InvoiceDialogActions.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogActions/NextStateButton.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogActions/PrevStateButton.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/InvoiceDialogContainer.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/InvoiceDialogContent.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceForm.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceFormContainer.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceInputGrid/InputGridContainer.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceInputGrid/InvoiceInputGrid.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceInputGrid/useChangeRows.ts
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceInputGrid/useColumns.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/invoiceForm/invoiceInputFields/InfoFields.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/invoiceForm/invoiceInputFields/InvoiceAmount.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/invoiceForm/invoiceInputFields/InvoiceInputFields.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/invoiceNavigation/InvoiceNavigation.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/invoiceNavigation/invoiceList/InvoiceList.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/invoiceNavigation/invoiceList/ListItemLayout.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/invoiceNavigation/invoiceSummary/InvoiceSummary.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogContent/invoiceNavigation/invoiceSummary/SummaryInfo.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogTitle/InvoiceDialogTitle.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogTitle/InvoiceStatus.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogTitle/OrderDataId.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogTitle/ProjectName.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/invoiceDialogTitle/SupplierName.tsx
  packages/kokoas-client/src/components/ui/dialogs/invoiceForm/schema.ts
  packages/kokoas-client/src/hooksQuery/useOrderById.ts
  packages/kokoas-client/src/pages/order/FormOrder.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderStatus.tsx
  packages/kokoas-client/src/pages/orderInvoice/FormOrderInvoice.tsx
  packages/kokoas-client/src/pages/orderInvoice/hooks/useSearchResult.ts
  packages/kokoas-client/src/pages/orderInvoice/sections/result/ResultRow.tsx
  packages/kokoas-client/src/pages/orderInvoice/sections/result/RowLayout.tsx
  packages/kokoas-client/src/pages/orderInvoice/types.ts
Labels: frontend, api

#1395 1386-工事依頼書のテンプレートを更新する
  packages/kokoas-server/src/assets/getFilePath.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument/createOrderDetails.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument/createOrderDocument.test.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument/createOrderDocument.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument/createOrderHeader.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/downloadOrderToSupplier.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/emailOrderToSupplier.test.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/index.ts
Labels: backend

#1407 工事依頼書発行時に、注文請書の発行を追加する
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument/createOrderContract/createOrderContractHeader.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument/createOrderDetails.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument/createOrderDocument.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument/createOrderHeader.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument/createOrderRequest/createOrderRequestHeader.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument/createOrderSummary.ts
Labels: backend

#1416 入金情報メニューの追加
  packages/kokoas-client/src/components/nav/MainMenu.tsx
  packages/kokoas-client/src/components/nav/menus/Invoice.tsx
  packages/kokoas-client/src/components/nav/menus/InvoiceSearch.tsx
  packages/kokoas-client/src/components/nav/menus/PaymentInput.tsx
  packages/kokoas-client/src/components/nav/menus/PaymentMenu.tsx
  packages/kokoas-client/src/pages/Router.tsx
Labels: frontend

#1419 1415-顧客請求入力ページの準備する
  packages/api-kintone/src/invoiceB2C/config.ts
  packages/api-kintone/src/invoiceB2C/getAllInvoiceB2C.test.ts
  packages/api-kintone/src/invoiceB2C/getAllInvoiceB2C.ts
  packages/api-kintone/src/invoiceB2C/getInvoiceB2CByProjId.test.ts
  packages/api-kintone/src/invoiceB2C/getInvoiceB2CByProjId.ts
  packages/config/src/appIds.ts
  packages/kokoas-client/src/components/nav/menus/Invoice.tsx
  packages/kokoas-client/src/pages/Router.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/FormInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/FormInvoiceContainer.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/api/convertInvoiceToForm.ts
  packages/kokoas-client/src/pages/projInvoiceV2/form.ts
  packages/kokoas-client/src/pages/projInvoiceV2/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/projInvoiceV2/schema.tsx
  packages/types/src/dbKintone.ts
  packages/types/src/dtsgen/db.invoiceB2C.d.ts
Labels: frontend, api

#1421 1420-工事検索フィールドを追加する
  packages/kokoas-client/src/pages/projInvoiceV2/FormInvoice.tsx
  packages/kokoas-client/src/pages/projInvoiceV2/api/convertInvoiceToForm.ts
Labels: frontend

#1426 k336-契約書の回覧ルートのルール修正
  packages/api-kintone/src/employees/getContractCheckers.test.ts
  packages/api-kintone/src/employees/getContractCheckers.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getContractDataV2.ts
  packages/kokoas-server/src/handleRequest/reqSendContractDirectV2/getRecipients/commonCC.ts
Labels: backend, api
