Repository cocosumo/yumecoco-monorepo, pull requests merged in 2024-04, with the labels that each got.

#1210 1209-アラートの重複設定の修正
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/NotificationButton.tsx
Labels: frontend

#1233 1229 hotfix 工事画面 「未定」は設定できない
  packages/kokoas-client/src/pages/projRegisterV2/api/convertCustGroupAgentsToForm.ts
  packages/kokoas-client/src/pages/projRegisterV2/api/fieldMapJa.ts
  packages/kokoas-client/src/pages/projRegisterV2/hooks/useUpdateCommRate.ts
  packages/kokoas-client/src/pages/projRegisterV2/schema.ts
  packages/kokoas-client/src/pages/projRegisterV2/sections/formActions/FormActions.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/ControlledEmpSelectField.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/EmployeeSelectFields.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/officersInput/IsNotCocoConstConfirmed.tsx
  packages/kokoas-client/src/pages/projRegisterV2/sections/projectLocation/postalField/AddressByPostal.tsx
Labels: frontend

#1237 1236 担当者は発注登録へ見積から引用出来る
  packages/kokoas-client/src/pages/order/FormOrder.tsx
  packages/kokoas-client/src/pages/order/api/convertOrderBudgetToForm.ts
  packages/kokoas-client/src/pages/order/api/convertToKintone.ts
  packages/kokoas-client/src/pages/order/form.ts
  packages/kokoas-client/src/pages/order/hooks/useTypedRHF.ts
  packages/kokoas-client/src/pages/order/inputGrid/OrderBudgetDataGrid.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useChangeRows.ts
  packages/kokoas-client/src/pages/order/inputGrid/useColumns.tsx
  packages/kokoas-client/src/pages/order/schema.ts
  packages/kokoas-client/src/pages/order/sections/FooterActionButtons.tsx
  packages/kokoas-client/src/pages/order/sections/actions/Actions.tsx
  packages/kokoas-client/src/pages/order/sections/actions/copyEstimates/CopyEstimates.tsx
  packages/kokoas-client/src/pages/order/sections/actions/copyEstimates/ItemContents.tsx
  packages/kokoas-client/src/pages/order/sections/actions/copyEstimates/useHandleCopyEstimates.tsx
  packages/kokoas-client/src/pages/order/sections/inputGridLabel/OrderTableLabel.tsx
  packages/kokoas-client/src/pages/order/sections/inputGridLabel/Usage.tsx
  packages/kokoas-client/src/pages/order/utils/fieldTranslations.ts
  packages/types/src/dtsgen/db.orderBudget.d.ts
Labels: frontend

#1232 請求書未発行の各通知メッセージを修正する
  packages-automation/auto-unissuedInvoiceReminder/src/sections/getRemindersScheduledForToday.test.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/helper/createReminderMsgForAccountant.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/helper/createReminderMsgForCocoAg.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/notifyReminderToAccountantCw.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/notifyReminderToCocoAgCw.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/alertContent/Explanation.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/hooks/useAlertNotify.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/hooks/useSaveReminder.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/notifyAlertToCharwork/createMessage.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/saveReminder/convertToKintone.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/saveReminder/getPlannedDepositDate.ts
  packages/types/src/dtsgen/db.unissuedInvoiceAlert.d.ts
Labels: frontend, rpa

#1212 1211-入金額の保存処理を追加する
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/helper/createReminderMsgForAccountant.ts
  packages-automation/auto-unissuedInvoiceReminder/src/sections/notifyReminderToChatwork/helper/createReminderMsgForCocoAg.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/AlertDialog.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/alertContent/Explanation.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/hooks/useSaveReminder.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/saveReminder/convertToKintone.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/saveReminder/getPlannedDepositDate.ts
  packages/types/src/dtsgen/db.unissuedInvoiceAlert.d.ts
Labels: frontend, rpa

#1258 発注登録画面のホットキーを更新しました。
  packages/kokoas-client/src/pages/order/inputGrid/useDataGridKeyCellKeyDown.ts
Labels: frontend

#1260 1259-発注登録画面で大中項目のフィールドガイドとして選択↓を追加する
  packages/kokoas-client/src/pages/order/inputGrid/renderers/CustomAutocomplete.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderMaterials.tsx
Labels: frontend

#1252 発注登録画面で「登録」ボタンがなくなりました。
  packages/kokoas-client/src/pages/order/sections/FooterActionButtons.tsx
Labels: frontend

#1250 1231-入金日の入力エラーを修正する
  package-lock.json
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/alertContent/Explanation.tsx
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/helper/getDisplayPaymentDate.test.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/helper/getDisplayPaymentDate.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/notifyAlertToCharwork/createMessage.ts
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/saveReminder/convertToKintone.ts
Labels: repo, frontend

#1265 hotfix-不動産決済は設定出来ない-ras
  packages/kokoas-client/src/pages/projRegisterV2/sections/prospect/RealEstateStatus.tsx
Labels: frontend

#1263 原価管理表の計算処理を修正する
  packages/api-kintone/src/andpadProcurement/calculation/calcProfitability.test.ts
  packages/api-kintone/src/andpadProcurement/calculation/calcProfitability.ts
Labels: api

#1276 1275-発注依頼画面の発注名が入力出来るようになりました。
  packages/kokoas-client/src/pages/order/orderRequestForm/OrderRequestDialog.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/OrderName.tsx
Labels: frontend

#1280 1279-発注依頼の登記事項が入力出来るようになりました
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/Remarks.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/schema.ts
Labels: frontend

#1278 1277-発注依頼の発注手法が選択出来るようになりました
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderMethod/CustomEmailField.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderMethod/EmailFields.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderMethod/EmailToField.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderMethod/OrderMethodChoices.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/selectSupplier/SelectSupplier.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/selectSupplier/useSupplierOptions.ts
Labels: frontend

#1284 1283 発注依頼の項目入力の挙動は発注登録画面と同じである
  package-lock.json
  package.json
  packages/kokoas-client/src/pages/order/orderRequestForm/OrderRequestDialog.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderItems/OrderRequestDataGrid.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderItems/useChangeRows.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderItems/useDataGridKeyCellKeyDown.ts
Labels: repo, frontend

#1282 1281-発注依頼の希望納品日が入力出来るようになりました。
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/ExpectedDeliveryDate.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderItems/useDataGridKeyCellKeyDown.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/schema.ts
Labels: frontend

#1290 1271 発注依頼のサマリーで正しい数字を表示される
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/ORDialogContent.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/summary/Summary.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/summary/summarizeItems.test.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/summary/summarizeItems.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/summary/useSummary.ts
Labels: frontend

#1292 1291 データーグリッドのリファクタリング
  package-lock.json
  package.json
  packages/api-kintone/src/estimates/calculation/calculateEstimateRecord.ts
  packages/kokoas-client/src/components/inputGridLabel/HelpHotkeys.tsx
  packages/kokoas-client/src/components/inputGridLabel/OrderTableLabel.tsx
  packages/kokoas-client/src/components/inputGridLabel/Usage.tsx
  packages/kokoas-client/src/helpers/refocusSelectedGridCell.ts
  packages/kokoas-client/src/hooks/useDataGridKeyCellKeyDown.ts
  packages/kokoas-client/src/pages/order/FormOrder.tsx
  packages/kokoas-client/src/pages/order/inputGrid/OrderBudgetDataGrid.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/CustomAutocomplete.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useDataGridKeyCellKeyDown.ts
  packages/kokoas-client/src/pages/order/inputGrid/useRowValues.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderItems/OrderRequestDataGrid.tsx
  packages/kokoas-client/src/pages/order/schema.ts
  packages/kokoas-client/src/pages/order/sections/actions/copyEstimates/useHandleCopyEstimates.tsx
  packages/kokoas-client/src/pages/projEstimate/FormContents.tsx
  packages/kokoas-client/src/pages/projEstimate/api/convertEstimateToForm.ts
  packages/kokoas-client/src/pages/projEstimate/api/convertToKintone.ts
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/EstimateDataGrid.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/Usage.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/useColumns.tsx
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/useDataGridKeyCellKeyDown.ts
  packages/kokoas-client/src/pages/projEstimate/form.ts
  packages/kokoas-client/src/pages/projEstimate/hooks/useRowValues.ts
  packages/kokoas-client/src/pages/projEstimate/hooks/utils/fieldTranslations.ts
  packages/kokoas-client/src/pages/projEstimate/schema.ts
  packages/kokoas-client/src/pages/projEstimate/sections/HeadSection.tsx
  packages/kokoas-client/src/pages/projEstimate/staticComponents/EstimateTableLabel.tsx
  packages/kokoas-client/src/pages/projEstimate/staticComponents/HelpHotkeys.tsx
Labels: repo, frontend, api

#1295 Delete useDataGridKeyCellKeyDown.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderItems/useDataGridKeyCellKeyDown.ts
Labels: frontend

#1294 fix-1293-編集モードが切れる。
  packages/kokoas-client/src/pages/order/inputGrid/renderers/CustomAutocomplete.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useChangeRows.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderItems/useChangeRows.ts
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/useChangeRows.ts
Labels: frontend

#1298 1297 発注依頼のバリデーションが機能している
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/OrderName.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderMethod/EmailFields.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderMethod/EmailToField.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderMethod/OrderMethodChoices.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/schema.ts
  packages/types/src/dtsgen/db.order.d.ts
  packages/types/src/dtsgen/db.orderBudget.d.ts
Labels: frontend

#1299 1246 発行登録画面で発注済の項目は選択出来ないようにする
  packages/kokoas-client/src/pages/order/inputGrid/DraggableRowRenderer.tsx
  packages/kokoas-client/src/pages/order/inputGrid/OrderBudgetDataGridContainer.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useColumns.tsx
Labels: frontend

#1301 1300 担当者は発注登録画面で発注番号を押したら発注データを閲覧編集出来る
  packages/api-kintone/src/order/getOrderById.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useOrderById.ts
  packages/kokoas-client/src/hooksQuery/useSaveOrderBudget.ts
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderOrderDataId.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useColumns.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/ORDialogTitle.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/OrderRequestDialog.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/api/convertOrderBudgetItemsToForm.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/api/convertOrderToForm.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/hooks/useOrderRequestInitial.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/hooks/useSaveOrderRequest.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderDialogTitle/OrderDataId.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderDialogTitle/OrderDialogTitle.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderDialogTitle/ProjectName.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderDialogTitle/StoreName.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/selectSupplier/SelectSupplier.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/selectSupplier/useSupplierOptions.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/schema.ts
Labels: frontend, api

#1306 1305 発注登録画面で保存されていない変更の有無が分かるようになりました。
  .eslintrc.cjs
  packages/kokoas-client/src/hooks/useConfirmBeforeClose.ts
  packages/kokoas-client/src/pages/order/FormOrder.tsx
  packages/kokoas-client/src/pages/order/hooks/useSaveForm.tsx
  packages/kokoas-client/src/pages/order/sections/FooterActionButtons.tsx
  packages/kokoas-client/src/pages/order/sections/footerActions/FooterActionButtons.tsx
  packages/kokoas-client/src/pages/order/sections/footerActions/FooterActionsContainer.tsx
  packages/kokoas-client/src/pages/order/sections/footerActions/SaveButton.tsx
  packages/kokoas-client/src/pages/projEstimate/FormContents.tsx
  packages/kokoas-client/src/pages/projEstimate/hooks/index.ts
  packages/kokoas-client/src/pages/projEstimate/hooks/useConfirmBeforeClose.ts
Labels: frontend

#1190 請求書未発行アラートを有効化する
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/UnisssuedInvoiceAlert.tsx
Labels: frontend

#1304 1239 複数行削除を追加しました。
  packages/kokoas-client/src/pages/order/sections/actions/Actions.tsx
  packages/kokoas-client/src/pages/order/sections/actions/OrderSelected.tsx
  packages/kokoas-client/src/pages/order/sections/actions/deleteRows/DeleteRows.tsx
Labels: frontend

#1311 発注ありで、ステータスは空だと、表示は未発注になりました。
  packages/kokoas-client/src/pages/order/inputGrid/useColumns.tsx
Labels: frontend

#1313 1312-発注依頼で保存されていない変更があったら発注発行ボタンが無効になりました。
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogActions/DownloadButton.tsx
Labels: frontend

#1314 1309 発注依頼で発注発行を押したらステータスは 発注済 に更新されるようになりました。
  packages/kokoas-client/src/pages/order/api/convertOrderBudgetToForm.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/api/convertOrderInfoToKintone.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/hooks/useSaveOrderRequest.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogActions/DownloadButton.tsx
Labels: frontend

#1320 1316-ステータスをクリックしたら請求入力画面が出る
  packages/kokoas-client/src/pages/order/FormOrder.tsx
  packages/kokoas-client/src/pages/order/api/convertOrderBudgetToForm.ts
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderStatus.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useColumns.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/InvoiceFormDialog.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/schema.ts
  packages/types/src/common/order.ts
Labels: frontend

#1323 1317 請求入力画面をfigmaを参考に入力フィールドが配置されました。
  packages/kokoas-client/src/pages/order/common/CloseButton.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/InvoiceFormDialog.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/common/InputDate.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/hooks/useInvoiceRHF.ts
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogActions/InvoiceDialogActions.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/InvoiceDialogContainer.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/InvoiceDialogContent.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceForm.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceFormContainer.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceInputGrid/InputGridContainer.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceInputGrid/InvoiceInputGrid.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceInputGrid/useChangeRows.ts
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceInputGrid/useColumns.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/invoiceInputFields/InfoFields.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/invoiceInputFields/InvoiceAmount.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/invoiceInputFields/InvoiceInputFields.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceNavigation/InvoiceNavigation.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceNavigation/invoiceList/InvoiceList.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceNavigation/invoiceList/ListItemLayout.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceNavigation/invoiceSummary/InvoiceSummary.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceNavigation/invoiceSummary/SummaryInfo.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogTitle/InvoiceDialogTitle.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogTitle/ProjectName.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogTitle/SupplierName.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/OrderRequestDialog.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/ORDialogContentContainer.tsx
Labels: frontend

#1325 hotfix-入金タブを開くとエラー終了してしまう
  packages/kokoas-client/src/pages/projSearch/sections/result/details/paymentDetails/unissuedInvoiceAlert/hooks/useActiveUnissuedInvRemindersByProjId.ts
Labels: frontend

#1326 feat-工事の担当を保存するように
  packages/kokoas-client/src/api/andpad/convertProjToAndpad.ts
Labels: frontend

#1327 1259-入力アナウンス修正（部材）
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderMaterials.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useColumns.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceInputGrid/useColumns.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/orderItems/useColumns.tsx
Labels: frontend

#1328 ホットキーの修正
  packages/kokoas-client/src/components/inputGridLabel/HelpHotkeys.tsx
  packages/kokoas-client/src/hooks/useDataGridKeyCellKeyDown.ts
Labels: frontend

#1330 1322 入力したものはdevtools に反映する
  packages/kokoas-client/src/hooks/useNumberCommaField.ts
  packages/kokoas-client/src/pages/order/invoiceForm/InvoiceFormDialog.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/api/convertOrderBudgetItemsToForm.ts
  packages/kokoas-client/src/pages/order/invoiceForm/api/convertOrderToForm.ts
  packages/kokoas-client/src/pages/order/invoiceForm/common/InputDate.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceInputGrid/InvoiceInputGrid.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceInputGrid/useChangeRows.ts
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/InvoiceInputGrid/useColumns.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/invoiceInputFields/InvoiceAmount.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/invoiceInputFields/InvoiceInputFields.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogTitle/InvoiceDialogTitle.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogTitle/OrderDataId.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogTitle/ProjectName.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogTitle/SupplierName.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/schema.ts
Labels: frontend

#1333 1332 発注の発注金額もdbへ保存する
  packages/api-kintone/src/order/helpers/summarizeItems.test.ts
  packages/api-kintone/src/order/helpers/summarizeItems.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/api/convertOrderInfoToKintone.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/summary/Summary.tsx
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/summary/useSummary.ts
  packages/types/src/dtsgen/db.order.d.ts
Labels: frontend, api

#1334 1324-入金アラートの要約メッセージを分割送信する
  packages-automation/auto-paymentAlertV2/src/createPaymentAlertFromAPPayments.test.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessage.test.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessageForAccountant.test.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessageForAccountant.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessageForManager.test.ts
  packages-automation/auto-paymentAlertV2/src/notificationFunc/generateMessageForManager.ts
  packages-automation/auto-paymentAlertV2/src/notifyPaymentAlertToChatwork.test.ts
  packages-automation/auto-paymentAlertV2/src/notifyPaymentAlertToChatwork.ts
Labels: rpa

#1339 1319 請求入力画面が保存出来る
  packages/api-kintone/src/invoiceB2B/config.ts
  packages/api-kintone/src/invoiceB2B/getInvoiceB2BById.ts
  packages/api-kintone/src/invoiceB2B/getInvoiceB2BByProjId.ts
  packages/api-kintone/src/invoiceB2B/helpers/getNextInvoiceStatus.ts
  packages/api-kintone/src/invoiceB2B/saveInvoiceB2B.test.ts
  packages/api-kintone/src/invoiceB2B/saveInvoiceB2B.ts
  packages/config/src/appIds.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useInvoicB2BByProjId.ts
  packages/kokoas-client/src/hooksQuery/useSaveInvoiceB2B.ts
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderStatus.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/InvoiceFormDialog.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/api/convertInvoiceToForm.ts
  packages/kokoas-client/src/pages/order/invoiceForm/api/convertInvoiceToKintone.ts
  packages/kokoas-client/src/pages/order/invoiceForm/api/convertOrderInfoToKintone.ts
  packages/kokoas-client/src/pages/order/invoiceForm/api/convertOrderItemsToKintone.ts
  packages/kokoas-client/src/pages/order/invoiceForm/hooks/useNextStatus.ts
  packages/kokoas-client/src/pages/order/invoiceForm/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/order/invoiceForm/hooks/useSaveInvoiceForm.ts
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogActions/InvoiceDialogActions.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/invoiceInputFields/InvoiceInputFields.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/schema.ts
  packages/types/src/common/order.ts
  packages/types/src/dbKintone.ts
  packages/types/src/dtsgen/db.invoiceB2B.d.ts
Labels: frontend, api

#1346 新規請求書ボタンを追加しました。
  packages/kokoas-client/src/pages/order/invoiceForm/InvoiceFormDialog.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceNavigation/invoiceList/InvoiceList.tsx
Labels: frontend

#1347 1343 請求書画でステータスが分かる
  packages/kokoas-client/src/hooks/useIsFormIdle.ts
  packages/kokoas-client/src/lib/progressColors.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderStatus.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/hooks/useNextStatus.ts
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogActions/InvoiceDialogActions.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogTitle/InvoiceDialogTitle.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogTitle/InvoiceStatus.tsx
Labels: frontend

#1269 1247-発注依頼で入力した内容を生成した発注書に反映する (PDF)
  packages/kokoas-server/src/assets/getFilePath.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument.test.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/downloadOrderToSupplier.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/getOrderData.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/helper/getConstPeriod.test.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/helper/getConstPeriod.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/index.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/readme.md
  packages/types/src/common/order.ts
Labels: backend

#1350 1341-請求書画面で正しい計算が表示されるようになりました。
  packages/kokoas-client/src/pages/order/invoiceForm/hooks/useItemsSummary.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/invoiceInputFields/InfoFields.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceForm/invoiceInputFields/InvoiceInputFields.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceNavigation/invoiceSummary/InvoiceSummary.tsx
Labels: frontend

#1354 1352 請求書に差し戻しボタンを配置しました
  packages/api-kintone/src/invoiceB2B/deleteInvoiceB2BBy$Id.ts
  packages/api-kintone/src/invoiceB2B/helpers/getNextInvoiceStatus.ts
  packages/api-kintone/src/invoiceB2B/helpers/getPrevInvoiceStatus.tsx
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useDeleteInvoiceB2BBy$Id.ts
  packages/kokoas-client/src/hooksQuery/useInvoicB2BByProjId.ts
  packages/kokoas-client/src/pages/order/invoiceForm/InvoiceFormDialog.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/api/convertInvoiceToKintone.ts
  packages/kokoas-client/src/pages/order/invoiceForm/hooks/useInvoiceStatus.ts
  packages/kokoas-client/src/pages/order/invoiceForm/hooks/useResolveParams.ts
  packages/kokoas-client/src/pages/order/invoiceForm/hooks/useSaveInvoiceForm.ts
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogActions/InvoiceDialogActions.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogActions/NextStateButton.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogActions/PrevStateButton.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceNavigation/invoiceList/InvoiceList.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceNavigation/invoiceSummary/InvoiceSummary.tsx
Labels: frontend, api

#1363 請求書の確認は誰が作業者かわかる
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogActions/Checker.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogActions/InvoiceDialogActions.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogActions/NextStateButton.tsx
Labels: frontend

#1364 1348 発注一覧に発注済以上のステータスを表示する
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useInvoiceB2BByProjId.ts
  packages/kokoas-client/src/hooksQuery/useInvoiceB2BStatusMapByProjId.ts
  packages/kokoas-client/src/lib/progressColors.tsx
  packages/kokoas-client/src/pages/order/inputGrid/renderers/renderStatus.tsx
  packages/kokoas-client/src/pages/order/inputGrid/useColumns.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceNavigation/invoiceList/InvoiceList.tsx
  packages/kokoas-client/src/pages/order/invoiceForm/invoiceDialogContent/invoiceNavigation/invoiceList/ListItemLayout.tsx
Labels: frontend

#1366 1248 発注依頼で発注方法は紙の場合発行したら発注書を直接ダウンロードされる
  packages/kokoas-client/src/api/others/downloadOrderSlipById.test.ts
  packages/kokoas-client/src/api/others/downloadOrderSlipById.ts
  packages/kokoas-client/src/hooksQuery/index.ts
  packages/kokoas-client/src/hooksQuery/useDownloadOrderSlipById.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogActions/DownloadButton.tsx
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/downloadOrderToSupplier.ts
  packages/kokoas-server/src/route/kokoas.ts
  packages/libs/src/kitoneProxyWrapper.ts
  packages/types/src/common/order.ts
Labels: frontend, backend

#1356 1351-PDF化の機能追加：複数ページの対応、文字長の対応
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/helper/chkStrLength.test.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/helper/chkStrLength.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/helper/countCharacters.test.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/helper/countCharacters.ts
Labels: backend

#1359 1358-PDF化の機能修正：マイナスの数値は赤字で表示する
  packages/kokoas-server/src/api/docusign/contracts/helpers/pdf.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument.ts
Labels: backend

#1367 1249 発注依頼で発注方法はメールの場合担当者と業者へ添付して飛ぶ
  packages/api-sendgrid/src/sendEmail.ts
  packages/kokoas-client/src/pages/order/orderRequestForm/orderDialogContent/ORDialogContent.tsx
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/createOrderDocument.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/downloadOrderToSupplier.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/emailOrderToSupplier.test.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/emailOrderToSupplier.ts
  packages/kokoas-server/src/handleRequest/reqDownloadOrderToSupplier/getOrderData.ts
  packages/types/src/common/order.ts
Labels: frontend, backend, api
