Repository cocosumo/yumecoco-monorepo, pull requests merged in 2024-07, with the labels that each got.

#1479 K342 - 見積入力で数量を０にした時、単価・粗利を０になってしまう
  packages/api-kintone/src/estimates/calculation/calculateEstimateSummary.test.ts
  packages/api-kintone/src/estimates/calculation/calculateEstimateSummary.ts
  packages/kokoas-client/src/pages/projEstimate/api/convertEstimateToForm.ts
  packages/kokoas-client/src/pages/projEstimate/estimateDataGrid/useChangeRows.ts
  packages/kokoas-client/src/pages/projEstimate/sections/Summary.tsx
  packages/libs/src/calculateAmount.test.ts
  packages/libs/src/calculateRowAmount.tsx
Labels: frontend, api

#1518 K340-見積の出力に諸経費を反映させる
  package.json
  packages/kokoas-server/src/handleRequest/reqDownloadEstimateForCustomer/conversions/convertEstimateForCustomerById.test.ts
  packages/kokoas-server/src/handleRequest/reqDownloadEstimateForCustomer/conversions/convertEstimateForCustomerById.ts
Labels: repo, backend

#1521 1520-設定に取引先アプリのリンクを置く
  packages/kokoas-client/src/pages/settingsPage/useSettings.ts
Labels: frontend

#1522 店舗追加
  packages/api-andpad/src/types.ts
Labels: api
